tags/trunk snapshot 6-24-2010/core-items.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY  item  	"item.rng">
<!ENTITY  values	"values.rng">
<!ENTITY  generic	"generic.rng">
<!ENTITY  section	"section.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://cap#"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:ecc="http://cap#">
    <!--=============================================================-->
    <include href="&values;"/>
    <include href="&generic;"/>
    <!--=============================================================-->
    <define name="accessory.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>treatment response</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.treatmentResponse.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>lymph-vascular invasion</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.lymph-vascularInvasion.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>perineural invasion</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.perineuralInvasion.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="accessory.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define combine="interleave" name="accessory.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="additional.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <zeroOrMore>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>finding</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="additional.finding.valueset"/>
                </define>
            </grammar>
        </zeroOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="additional.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="additional.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="clinical.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <zeroOrMore>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <choice>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <grammar>
                    <include href="&item;">
                        <define name="name">
                            <value>clinical finding</value>
                        </define>
                        <define name="response">
                            <ref name="selectOne"/>
                        </define>
                        <define name="item.extension">
                            <optional>
                                <ref name="date"/>
                            </optional>
                        </define>
                    </include>
                    <define name="valueset">
                        <parentRef name="clinical.clinicalFinding.valueset"/>
                    </define>
                </grammar>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <grammar>
                    <include href="&item;">
                        <define name="name">
                            <value>prior pathologic diagnosis</value>
                        </define>
                        <define name="response">
                            <ref name="selectOne"/>
                        </define>
                        <define name="item.extension">
                            <optional>
                                <ref name="date"/>
                            </optional>
                        </define>
                    </include>
                    <define name="valueset">
                        <parentRef name="clinical.priorPathologicDiagnosis.valueset"/>
                    </define>
                </grammar>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <grammar>
                    <include href="&item;">
                        <define name="name">
                            <value>prior therapy</value>
                        </define>
                        <define name="response">
                            <ref name="selectOne"/>
                        </define>
                        <define name="item.extension">
                            <optional>
                                <ref name="date"/>
                            </optional>
                        </define>
                    </include>
                    <define name="valueset">
                        <parentRef name="clinical.priorTherapy.valueset"/>
                    </define>
                </grammar>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <grammar>
                    <include href="&item;">
                        <define name="name">
                            <value>radiologic finding</value>
                        </define>
                        <define name="response">
                            <ref name="selectOne"/>
                        </define>
                        <define name="item.extension">
                            <optional>
                                <ref name="date"/>
                            </optional>
                        </define>
                    </include>
                    <define name="valueset">
                        <parentRef name="clinical.radiologicFinding.valueset"/>
                    </define>
                </grammar>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </choice>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        </zeroOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="clinical.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="clinical.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="extent.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="extent.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="extent.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="margins.content">
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>margin</value>
                    </define>
                    <define name="content">
                        <parentRef name="margin.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="location">
                            <parentRef name="margin.location.valueset"/>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="margins.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="margins.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.content">
        <optional>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>status</value>
                    </define>
                    <define name="extension">
                        <attribute name="modifier">
                            <value>in-situ</value>
                        </attribute>
                    </define>
                </include>
                <define name="content">
                    <parentRef name="margin.in-situ.content"/>
                </define>
            </grammar>
        </optional>
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>status</value>
                </define>
                <define name="extension">
                    <attribute name="modifier">
                        <value>invasive</value>
                    </attribute>
                </define>
            </include>
            <define name="content">
                <parentRef name="margin.invasive.content"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.in-situ.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>result</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
                <define name="extension">
                    <optional>
                        <attribute name="modifier">
                            <choice>
                                <value>closest</value>
                                <value>unifocal</value>
                                <value>multifocal</value>
                            </choice>
                        </attribute>
                    </optional>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>distance</value>
                    </define>
                    <define name="response">
                        <ref name="length"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.invasive.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>result</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
                <define name="extension">
                    <optional>
                        <attribute name="modifier">
                            <choice>
                                <value>closest</value>
                                <value>focal</value>
                                <value>multifocal</value>
                                <value>extensive</value>
                            </choice>
                        </attribute>
                    </optional>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>distance</value>
                    </define>
                    <define name="response">
                        <ref name="length"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="distantSites.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>status</value>
                    </define>
                    <define name="extension">
                        <attribute name="site">
                            <parentRef name="distantSites.location.valueset"/>
                        </attribute>
                        <optional>
                            <attribute name="laterality">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                    <define name="content">
                        <parentRef name="site.content"/>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="distantSites.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="distantSites.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="site.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>result</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
                <define name="extension">
                    <attribute name="modifier">
                        <parentRef name="distantSites.howDiagnosed.valueset"/>
                    </attribute>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>size</value>
                    </define>
                    <define name="response">
                        <ref name="size"/>
                    </define>
                </include>
            </grammar>
        </optional>
    </define>
    <!--=============================================================-->
    <define name="nodes.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>node group</value>
                    </define>
                    <define name="content">
                        <parentRef name="nodes.nodeGroup.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="site">
                            <parentRef name="nodes.location.valueset"/>
                        </attribute>
                        <optional>
                            <attribute name="laterality">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="nodes.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="nodes.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.nodeGroup.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="nodes.nodeGroup.tally.content"/>
        <optional>
            <ref name="nodes.nodeGroup.tally.content"/>
            <optional>
                <ref name="nodes.nodeGroup.tally.content"/>
                <optional>
                    <ref name="nodes.nodeGroup.tally.content"/>
                </optional>
            </optional>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>largest metastasis</value>
                    </define>
                    <define name="response">
                        <ref name="size"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>extracapsular extension</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="nodes.extracapsularExtension.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="nodes.nodeGroup.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.nodeGroup.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.nodeGroup.tally.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>count</value>
                </define>
                <define name="item.extension">
                    <attribute name="modifier">
                        <parentRef name="nodes.count.modifier.valueset"/>
                    </attribute>
                </define>
                <define name="response">
                    <oneOrMore>
                        <ref name="tally"/>
                    </oneOrMore>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--<zeroOrMore>
			<grammar>
				<include href="&item;">
					<define name="name">
						<value>count</value>
					</define>
					<define name="response">
						<ref name="tally"/>
					</define>
					<define name="extension">
						<attribute name="modifier">
							<parentRef name="nodes.count.modifier.valueset"/>
						</attribute>
					</define>
				</include>
			</grammar>
		</zeroOrMore>-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--<optional>
			<grammar>
				<include href="&item;">
					<define name="name">
						<value>negative</value>
					</define>
					<define name="response">
						<ref name="tally"/>
					</define>
				</include>
			</grammar>
		</optional>
		<!-\-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-\->
		<optional>
			<grammar>
				<include href="&item;">
					<define name="name">
						<value>positive</value>
					</define>
					<define name="response">
						<ref name="tally"/>
					</define>
				</include>
			</grammar>
		</optional>
		<!-\-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-\->
		<optional>
			<grammar>
				<include href="&item;">
					<define name="name">
						<value>regressed</value>
					</define>
					<define name="response">
						<ref name="tally"/>
					</define>
				</include>
			</grammar>
		</optional>
		<!-\-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-\->
		<optional>
			<grammar>
				<include href="&item;">
					<define name="name">
						<value>specify</value>
					</define>
					<define name="response">
						<ref name="tally"/>
					</define>
				</include>
			</grammar>
		</optional>-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="specimen.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>procedure</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="specimen.procedure.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>size</value>
                </define>
                <define name="response">
                    <ref name="size"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>weight</value>
                    </define>
                    <define name="response">
                        <ref name="weight"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>site</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="specimen.sites.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>integrity</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="specimen.integrity.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="specimen.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="specimen.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="stage.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>prefix</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.prefix.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>multiplicity</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="stage.multiplicity.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>pT</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.pT.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>pN</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.pN.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>pM</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.pM.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="stage.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="stage.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="studies.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <empty/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="studies.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="studies.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="tumor.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="tumor.principalFocus"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <zeroOrMore>
            <ref name="tumor.additionalFocus"/>
        </zeroOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>histologic types</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="tumor.type.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="tumor.histologicGrade"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="tumor.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.principalFocus">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>focus</value>
                </define>
                <define name="content">
                    <parentRef name="tumor.principalFocus.content"/>
                </define>
                <define name="extension">
                    <attribute name="modifier">
                        <value>principal</value>
                    </attribute>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>focus</value>
                </define>
                <define name="content">
                    <parentRef name="tumor.additionalFocus.content"/>
                </define>
                <define name="extension">
                    <attribute name="modifier">
                        <value>additional</value>
                    </attribute>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.principalFocus.content">
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>site</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="extent.sites.valueset"/>
                </define>
            </grammar>
        </optional>
        <ref name="tumor.focus.size"/>
        <ref name="tumor.principalFocus.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus.content">
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>site</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                    <define name="extension">
                        <parentRef name="tumor.additionalFocus.site.extension"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="extent.sites.valueset"/>
                </define>
            </grammar>
        </optional>
        <ref name="tumor.focus.size"/>
        <optional>
            <ref name="tumor.additionalFocus.multiplicity"/>
        </optional>
        <ref name="tumor.additionalFocus.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus.multiplicity">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>multiplicity</value>
                </define>
                <define name="response">
                    <ref name="tally"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.additionalFocus.site.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.focus.size">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>size</value>
                </define>
                <define name="response">
                    <choice>
                        <ref name="size"/>
                        <ref name="selectOne"/>
                    </choice>
                </define>
                <define name="valueset">
                    <parentRef name="extent.size.valueset"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.principalFocus.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.additionalFocus.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.histologicGrade">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>histologic grade</value>
                </define>
                <define name="response">
                    <ref name="ordinal"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="tumor.grade.valueset"/>
            </define>
            <define name="modifier.valueset">
                <parentRef name="tumor.gradeSystem.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="tumor.extension">
        <empty/>
    </define>
    <!--=============================================================-->
</grammar>
