branches/2009-07-28-mk/report/cap-cancer/resection/resection@pancreas.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY pert "http://www.cap.org/pert/2009/01/">
<!ENTITY redefine "../../../site/cap-cancer/pancreas/redefine/">
<!ENTITY add "../../../site/cap-cancer/pancreas/add/">
<!ENTITY cap-cancer "../../../section/cap-cancer/">
<!ENTITY method "../../../method/cap-cancer/">
<!ENTITY report "../../">
<!ENTITY version "0.1">
<!ENTITY common "../../../common/">
<!ENTITY repository "http://purl.oclc.org/medical/reporting/report/cap-cancer/resection/resection@pancreas.rng">
]>
<!--
    
    CAP Schema for Synoptic Reports
    (c) Copyright 2008 College of American Pathologists
    ===========================================================================
    Component name:
    resection@colon.rng
    
    Component type:
    schema
    
    Version date:
    2008.12.02
    
    Defines:
    semistructured report schema for a resection at exocrine pancreas
    
    Purpose:
    
    
    
    Dependencies:      
    direct <externalRef> to anyForeignContent.rng; must be in same folder
    direct <externalRef> to anyForeignAttributes.rng; must be in same folder
    indirect <externalRef> to anyForeignAttributes.rng; must be in same folder
    ===========================================================================
    This file is part of the "CAP Schema for Synoptic Reports".
    
    The "CAP Schema for Synoptic Reports" is free software: 
    you can redistribute it and/or modify it under the terms of the 
    GNU General Public License as published by the Free Software Foundation, 
    either version 3 of the License, or (at your option) any later version.
    
    The "CAP Schema for Synoptic Reports" is distributed 
    in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
    without even the implied warranty of MERCHANTABILITY or 
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License 
    for more details.
    
    You should have received a copy of the GNU General Public License
    along with the "CAP Schema for Synoptic Reports".  
    If not, see <http://www.gnu.org/licenses/>. 
    ===========================================================================
    
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:pancreas="&pert;pancreas/" xmlns:pert="&pert;">
    <include href="&report;common.rng">
        <define combine="choice" name="schemaLocation">
            <value>&repository;</value>
        </define>
        <define combine="choice" name="version">
            <value>&version;</value>
        </define>
    </include>
    <include href="&method;resection.rng"/>
    <include href="&cap-cancer;clinical-content.rng">
        <define name="clinicalFindingValues">
            <externalRef href="&redefine;clinical-clinicalFindingValues.rng"/>
        </define>
        <define name="radiologicFindingValues">
            <externalRef href="&redefine;clinical-radiologicFindingValues.rng"/>
        </define>
    </include>
    <a:documentation>Specimen section</a:documentation>
    <include href="&cap-cancer;specimen-content.rng">
        <a:documentation>Site-specific content redefines for specimen section</a:documentation>
        <define combine="choice" name="procedures">
            <externalRef href="&redefine;specimen-procedures.rng"/>
        </define>
        <define combine="choice" name="sites">
            <externalRef href="&redefine;specimen-sites.rng"/>
        </define>
    </include>
    <a:documentation>Site-specific new content for specimen section</a:documentation>
    <define combine="interleave" name="site-content">
        <externalRef href="&common;laterality.rng"/>
    </define>
    <a:documentation>Tumor section</a:documentation>
    <include href="&cap-cancer;tumor-content.rng">
        <a:documentation>Site-specific content redefines for tumor section</a:documentation>
        <define name="histologicTypes">
            <externalRef href="&redefine;tumor-histologicTypes.rng"/>
        </define>
    </include>
    <a:documentation>Site-specific new content for tumor section</a:documentation>
    <include href="&cap-cancer;extent-content.rng"/>
    <define combine="interleave" name="extent-content">
        <externalRef href="&add;extent-invasion.rng"/>
    </define>
    <include href="&cap-cancer;margin-content.rng">
        <define name="marginLocations">
            <externalRef href="&redefine;margin-locations-resection.rng"/>
        </define>
        <define name="marginStatuses">
            <externalRef href="&redefine;margin-statuses.rng"/>
        </define>
    </include>
    <define combine="interleave" name="margin-content">
        <attribute name="for">
            <choice xmlns="http://relaxng.org/ns/structure/1.0">
                <value>carcinoma-in-situ</value>
                <value>invasive carcinoma</value>
            </choice>
        </attribute>
    </define>
    <include href="&cap-cancer;accessory-content.rng">
        <define name="treatmentEffectValues">
            <externalRef href="&redefine;accessory-treatmentEffectValues.rng"/>
        </define>
    </include>
    <include href="&cap-cancer;nodes-content.rng">
        <define name="nodeGroups">
            <externalRef href="&redefine;nodes-nodeGroups.rng"/>
        </define>
        <define name="nodeStatuses">
            <externalRef href="&redefine;nodes-statuses.rng"/>
        </define>
    </include>
    <include href="&cap-cancer;mets-content.rng"/>
    <include href="&cap-cancer;studies-content.rng"/>
    <include href="&cap-cancer;stage-content.rng">
        <define name="T-values">
            <externalRef href="&redefine;stage-T-values.rng"/>
        </define>
        <define name="N-values">
            <externalRef href="&redefine;stage-N-values.rng"/>
        </define>
        <define name="M-values">
            <externalRef href="&redefine;stage-M-values.rng"/>
        </define>
    </include>
    <include href="&cap-cancer;additional-content.rng">
        <define name="findings">
            <externalRef href="&redefine;additional-findings.rng"/>
        </define>
    </include>
</grammar>
