branches/valuesAsElements/generic/items.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
    
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
   xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
   <a:documentation>============================================</a:documentation>
   <a:documentation>======== SUB-SECTION (ITEM) MODELS =========</a:documentation>
   <a:documentation>============================================</a:documentation>
   <define combine="interleave" name="accessory.content">
      <a:documentation>-- accessory ITEMS --</a:documentation>
      <interleave>
         <optional>
            <a:documentation>.. venousInvasion ELEMENT ..</a:documentation>
            <element name="venousInvasion">
               <ref name="accessory.venousInvasion.attrib"/>
               <interleave>
                  <ref name="accessory.venousInvasion.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <optional>
            <a:documentation>.. lymphovascularInvasion ELEMENT ..</a:documentation>
            <element name="lymphovascularInvasion">
               <ref name="accessory.lymphovascularInvasion.attrib"/>
               <interleave>
                  <ref name="accessory.lymphovascularInvasion.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <optional>
            <a:documentation>.. perineuralInvasion ELEMENT ..</a:documentation>
            <element name="perineuralInvasion">
               <ref name="accessory.perineuralInvasion.attrib"/>
               <interleave>
                  <ref name="accessory.perineuralInvasion.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <optional>
            <a:documentation>.. treatmentEffect ELEMENT ..</a:documentation>
            <element name="treatmentEffect">
               <ref name="accessory.treatmentEffect.attrib"/>
               <interleave>
                  <ref name="accessory.treatmentEffect.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <ref name="accessory.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="additional.content">
      <a:documentation>-- additional ITEMS --</a:documentation>
      <interleave>
         <zeroOrMore>
            <a:documentation>.. item ELEMENT ..</a:documentation>
            <element name="item">
               <ref name="additional.item.attrib"/>
               <interleave>
                  <ref name="additional.item.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <ref name="additional.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="clinical.content">
      <a:documentation>-- clinical ITEMS --</a:documentation>
      <interleave>
         <zeroOrMore>
            <a:documentation>.. priorTherapy ELEMENT ..</a:documentation>
            <element name="priorTherapy">
               <ref name="clinical.priorTherapy.attrib"/>
               <interleave>
                  <ref name="clinical.priorTherapy.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <zeroOrMore>
            <a:documentation>.. clinicalFinding ELEMENT ..</a:documentation>
            <element name="clinicalFinding">
               <ref name="clinical.clinicalFinding.attrib"/>
               <interleave>
                  <ref name="clinical.clinicalFinding.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <zeroOrMore>
            <a:documentation>.. radiologicFinding ELEMENT ..</a:documentation>
            <element name="radiologicFinding">
               <ref name="clinical.radiologicFinding.attrib"/>
               <interleave>
                  <ref name="clinical.radiologicFinding.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <ref name="clinical.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="extent.content">
      <a:documentation>-- extent ITEMS --</a:documentation>
      <interleave>
         <ref name="common.size">
            <a:documentation>.. size ELEMENT ..</a:documentation>
         </ref>
         <ref name="extent.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="margins.content">
      <a:documentation>-- margins ITEMS --</a:documentation>
      <interleave>
         <zeroOrMore>
            <a:documentation>.. margin ELEMENT ..</a:documentation>
            <element name="margin">
               <ref name="margins.margin.attrib"/>
               <interleave>
                  <ref name="margins.margin.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <ref name="margins.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="metastases.content">
      <a:documentation>-- metastases ITEMS --</a:documentation>
      <interleave>
         <zeroOrMore>
            <a:documentation>.. metastasis ELEMENT ..</a:documentation>
            <element name="metastasis">
               <ref name="metastases.metastasis.attrib"/>
               <interleave>
                  <ref name="metastases.metastasis.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <ref name="metastases.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="nodes.content">
      <a:documentation>-- nodes ITEMS --</a:documentation>
      <interleave>
         <zeroOrMore>
            <a:documentation>.. group ELEMENT ..</a:documentation>
            <element name="group">
               <ref name="nodes.group.attrib"/>
               <interleave>
                  <ref name="nodes.group.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <ref name="nodes.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="specimen.content">
      <a:documentation>-- specimen ITEMS --</a:documentation>
      <interleave>
         <oneOrMore>
            <a:documentation>.. procedure ELEMENT ..</a:documentation>
            <element name="procedure">
               <ref name="specimen.procedure.attrib"/>
               <interleave>
                  <ref name="specimen.procedure.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </oneOrMore>
         <oneOrMore>
            <a:documentation>.. site ELEMENT ..</a:documentation>
            <element name="site">
               <ref name="specimen.site.attrib"/>
               <interleave>
                  <ref name="specimen.site.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </oneOrMore>
         <oneOrMore>
            <a:documentation>.. tumor location ELEMENT ..</a:documentation>
            <element name="tumorLocation">
               <ref name="specimen.tumorLocation.attrib"/>
               <interleave>
                  <ref name="specimen.tumorLocation.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </oneOrMore>
         <optional>
            <a:documentation>.. integrity ELEMENT ..</a:documentation>
            <element name="integrity">
               <ref name="specimen.integrity.attrib"/>
               <interleave>
                  <ref name="specimen.integrity.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <optional>
            <a:documentation>.. grossSize ELEMENT ..</a:documentation>
            <element name="grossSize">
               <ref name="specimen.grossSize.attrib"/>
               <interleave>
                  <ref name="specimen.grossSize.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <optional>
            <a:documentation>.. weight ELEMENT ..</a:documentation>
            <element name="weight">
               <ref name="specimen.weight.attrib"/>
               <interleave>
                  <ref name="specimen.weight.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </optional>
         <ref name="specimen.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="stage.content">
      <a:documentation>-- stage ITEMS --</a:documentation>
      <interleave>
         <optional>
            <a:documentation>.. stage prefix ELEMENT(s) ..</a:documentation>
            <ref name="stage.prefix"/>
            <optional>
               <ref name="stage.prefix"/>
               <optional>
                  <ref name="stage.prefix"/>
               </optional>
            </optional>
         </optional>
         <element name="classification">
            <a:documentation>.. classification ELEMENT ..</a:documentation>
            <ref name="stage.classification.attrib"/>
            <interleave>
               <ref name="stage.classification.content"/>
               <ref name="common.content"/>
            </interleave>
         </element>
         <element name="T">
            <a:documentation>.. T ELEMENT ..</a:documentation>
            <ref name="stage.T.attrib"/>
            <interleave>
               <ref name="stage.T.content"/>
               <ref name="common.content"/>
            </interleave>
         </element>
         <element name="N">
            <a:documentation>.. N ELEMENT ..</a:documentation>
            <ref name="stage.N.attrib"/>
            <interleave>
               <ref name="stage.N.content"/>
               <ref name="common.content"/>
            </interleave>
         </element>
         <element name="M">
            <a:documentation>.. M ELEMENT ..</a:documentation>
            <ref name="stage.M.attrib"/>
            <interleave>
               <ref name="stage.M.content"/>
               <ref name="common.content"/>
            </interleave>
         </element>
         <ref name="stage.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="studies.content">
      <a:documentation>-- studies ITEMS --</a:documentation>
      <interleave>
         <zeroOrMore>
            <a:documentation>.. study ELEMENT ..</a:documentation>
            <element name="study">
               <ref name="studies.study.attrib"/>
               <interleave>
                  <ref name="studies.study.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </zeroOrMore>
         <ref name="studies.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
   <define combine="interleave" name="tumor.content">
      <a:documentation>-- tumor ITEMS --</a:documentation>
      <interleave>
         <oneOrMore>
            <a:documentation>.. HistologicType ELEMENT ..</a:documentation>
            <element name="histologicType">
               <ref name="tumor.histologicType.attrib"/>
               <interleave>
                  <ref name="tumor.histologicType.content"/>
                  <ref name="common.content"/>
               </interleave>
            </element>
         </oneOrMore>
         <element name="grade">
            <a:documentation>.. Grade ELEMENT ..</a:documentation>
            <ref name="tumor.grade.attrib"/>
            <interleave>
               <ref name="tumor.grade.content"/>
               <ref name="common.native.content"/>
            </interleave>
            <optional>
               <a:documentation>.. System ELEMENT ..</a:documentation>
               <element name="system">
                  <ref name="tumor.grade.system.attrib"/>
                  <interleave>
                     <ref name="tumor.grade.system.content"/>
                     <ref name="common.content"/>
                  </interleave>
               </element>
            </optional>
         </element>
         <ref name="tumor.siteSpecific.content">
            <a:documentation>.. SITE-SPECIFIC CONTENT ..</a:documentation>
         </ref>
      </interleave>
   </define>
</grammar>
