branches/valuesAsElements/method/rsna-mri/common.rng.bak

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    CAP Schema for Synoptic Reports
    (c) Copyright 2008 College of American Pathologists
    ===========================================================================
    Component name:
    common.rng
    
    Component type:
    grammar for inclusion
    
    Version date:
    2008.12.31
    
    Defines:
    
    
    Purpose:
    
    
    
    Dependencies:      
    
    
    ===========================================================================
    This file is part of the "CAP Schema for Synoptic Reports".
    
    The "CAP Schema for Synoptic Reports" is free software: 
    you can redistribute it and/or modify it under the terms of the 
    GNU General Public License as published by the Free Software Foundation, 
    either version 3 of the License, or (at your option) any later version.
    
    The "CAP Schema for Synoptic Reports" is distributed 
    in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
    without even the implied warranty of MERCHANTABILITY or 
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License 
    for more details.
    
    You should have received a copy of the GNU General Public License
    along with the "CAP Schema for Synoptic Reports".  
    If not, see <http://www.gnu.org/licenses/>. 
    ===========================================================================
    
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.rsna.org/reporting/2009/01/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <define combine="interleave" name="comparisons">
        <element name="comparisons">
            <ref name="comparisons.attrib"/>
            <interleave>
                <ref name="baseContent"/>
                <ref name="comparisons.content"/>
            </interleave>
        </element>
    </define>
    <define combine="interleave" name="indications">
        <element name="indications">
            <ref name="indications.attrib"/>
            <interleave>
                <ref name="baseContent"/>
                <ref name="indications.content"/>
            </interleave>
        </element>
    </define>
    <define combine="interleave" name="techniques">
        <element name="techniques">
            <ref name="techniques.attrib"/>
            <interleave>
                <ref name="baseContent"/>
                <ref name="techniques.content"/>
            </interleave>
        </element>
    </define>
    <define combine="interleave" name="findings">
        <element name="findings">
            <ref name="findings.attrib"/>
            <interleave>
                <ref name="baseContent"/>
                <ref name="findings.content"/>
            </interleave>
        </element>
    </define>
    <define combine="interleave" name="impressions">
        <element name="impressions">
            <ref name="impressions.attrib"/>
            <interleave>
                <ref name="baseContent"/>
                <ref name="impressions.content"/>
            </interleave>
        </element>
    </define>
    <!--  -->
    <define combine="interleave" name="comparisons.attrib">
        <empty/>
    </define>
    <define combine="interleave" name="comparisons.content">
        <empty/>
    </define>
    <define combine="interleave" name="indications.attrib">
        <empty/>
    </define>
    <define combine="interleave" name="indications.content">
        <empty/>
    </define>
    <define combine="interleave" name="techniques.attrib">
        <empty/>
    </define>
    <define combine="interleave" name="techniques.content">
        <empty/>
    </define>
    <define combine="interleave" name="findings.attrib">
        <empty/>
    </define>
    <define combine="interleave" name="findings.content">
        <empty/>
    </define>
    <define combine="interleave" name="impressions.attrib">
        <empty/>
    </define>
    <define combine="interleave" name="impressions.content">
        <empty/>
    </define>
</grammar>
