trunk/ecc-1/framework/shared/types/quantity.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE	grammar [
<!ENTITY	item   "item.rng">
<!ENTITY	section	   "shared/types/section.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <include href="&item;"/>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <start>
        <ref name="item.content"/>
    </start>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="response">
        <element name="response">
            <attribute name="value">
                <ref name="valueset"/>
            </attribute>
            <attribute name="unit">
                <ref name="unit.valueset"/>
            </attribute>
            <optional>
                <attribute a:defaultValue="equal" name="relation">
                    <parentRef name="relation.valueset"/>
                </attribute>
            </optional>
            <ref name="response.defaults"/>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="valueset">
        <parentRef name="base.valueset"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="unit.valueset">
        <parentRef name="base.valueset"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
