branches/valuesAsElements/report/common.rng.bak

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  ===========================================================================
  Copyright 2009 College of American Pathologists (CAP)
  
  This file is part of the "CAP Schemas for Synoptic Cancer Reports".
  
  The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
  License, Version 2.0 (the "License"); you may not use this file except in 
  compliance with the License.
  
  You may obtain a copy of the License at:
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software 
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  
  See the License for the specific language governing permissions and
  limitations under the License.
  ===========================================================================

-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.cap.org/pert/2009/01/" xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:grddl="http://www.w3.org/2003/g/data-view#" xmlns:pert="http://www.cap.org/pert/2009/01/">
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <define combine="interleave" name="synopsis">
    <element name="synopsis">
      <a:documentation>The root element for all synoptic reports</a:documentation>
      <ref name="synopsis.attrib"/>
      <interleave>
        <ref name="synopsis.content"/>
        <ref name="base.standard.content"/>
      </interleave>
    </element>
  </define>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <define combine="interleave" name="synopsis.attrib">
    <a:documentation>Standard attribute set for synopsis element</a:documentation>
    <attribute name="pert:schemaLocation">
      <ref name="schemaLocation"/>
    </attribute>
    <attribute name="pert:version">
      <ref name="version"/>
    </attribute>
    <attribute name="grddl:transformation"/>
  </define>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <define combine="choice" name="schemaLocation">
    <data type="anyURI"/>
  </define>
  <define combine="choice" name="version">
    <data type="string"/>
  </define>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
