tags/stable-12-31-08/common/baseContent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY localNames "

    <nsName ns='http://www.cap.org/pert/2009/01/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/breast/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/colon/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/lung/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/prostate/'/>
    
">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://www.cap.org/pert/2009/01/" xmlns="http://relaxng.org/ns/structure/1.0">
    <define name="baseContent">
        <zeroOrMore>
            <attribute>
                <anyName>
                    <except>
                        <nsName ns=""/>
                        <nsName ns="http://www.cap.org/pert/2009/01/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                        <nsName ns="http://www.w3.org/2003/g/data-view#"/>
                    </except>
                </anyName>
            </attribute>
        </zeroOrMore>
        <interleave>
            <zeroOrMore>
                <ref name="displayText"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="comment"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="anyForeignElement"/>
            </zeroOrMore>
            <text/>
        </interleave>
    </define>
    <define name="displayText">
        <element name="displayText">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>
                            <nsName ns=""/>
                            <nsName ns="http://www.cap.org/pert/2009/01/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                        </except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <attribute name="role">
                    <choice>
                        <value>label</value>
                        <value>value</value>
                    </choice>
                </attribute>
            </optional>
            <interleave>
                <text/>
                <zeroOrMore>
                    <ref name="displayText"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>
    <define name="comment">
        <element name="comment">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>
                            <nsName ns=""/>
                            <nsName ns="http://www.cap.org/pert/2009/01/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                        </except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <ref name="displayText"/>
            </optional>
            <text/>
        </element>
    </define>
    <define name="anyForeignAttribute">
        <attribute>
            <anyName>
                <except>
                    <nsName ns="http://www.cap.org/pert/2009/01/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                </except>
            </anyName>
        </attribute>
    </define>
    <define name="anyForeignElement">
        <element>
            <anyName>
                <except>
                    <nsName ns=""/>
                    <nsName ns="http://www.cap.org/pert/2009/01/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                </except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <ref name="anyForeignAttribute"/>
                    <ref name="anyForeignElement"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="lang-attribute">
        <optional>
            <attribute name="xml:lang">
                <choice>
                    <data type="token">
                        <param name="pattern">[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*</param>
                    </data>
                </choice>
            </attribute>
        </optional>
    </define>
</grammar>
