branches/PathCentral/relaxng_schemas/endometrium/endometrium.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<!DOCTYPE	grammar [

<!ENTITY	items  		"../framework/shared/items.rng">
<!ENTITY	sections  	"../framework/shared/sections.rng">

<!ENTITY	section		"../framework/shared/types/section.rng">

<!ENTITY    length      "../framework/shared/types/length.rng">
<!ENTITY	percent  	"../framework/shared/types/percent.rng">
<!ENTITY	quantity    "../framework/shared/types/quantity.rng">
<!ENTITY	ratio  		"../framework/shared/types/ratio.rng">
<!ENTITY	selectMany  "../framework/shared/types/selectMany.rng">
<!ENTITY	selectOne  	"../framework/shared/types/selectOne.rng">
<!ENTITY	size  		"../framework/shared/types/size.rng">
<!ENTITY	tally  		"../framework/shared/types/tally.rng">
<!ENTITY	weight  	"../framework/shared/types/weight.rng">

]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://purl.org/pathology/ecc/" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:colon="http://purl.org/pathology/ecc/colon/">
    <!--=============================================================-->
    <include href="values.rng"/>
    <!--=============================================================-->
    <start>
        <ref name="resection"/>
    </start>
    <!--=============================================================-->
    <include href="&sections;">
        <define name="schemaLocation">
            <value>http://purl.org/pathology/ecc/endometrium.rng</value>
        </define>
        <define name="version">
            <value>1.0a</value>
        </define>
        <define name="semantics">
            <value>http://purl.org/pathology/ecc/transform/endometrium/csv2.xsl</value>
        </define>
    </include>
    <!--=============================================================-->
    <a:documentation>ACCESSORY section customizations</a:documentation>
    <!--=============================================================-->
    <define name="accessory.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>ADDITIONAL section customizations</a:documentation>
    <!--=============================================================-->
    <define name="additional.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>DISTANT section customizations</a:documentation>
    <!--=============================================================-->
    <define name="distant.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>EXTENT section customizations</a:documentation>
    <!--=============================================================-->
    <define name="extent.extension">
        <element name="myometrialInvasion">
            <a:documentation> Myometrial invasion is modeled as a "section" because it has a complex
                content model. In particular it can be modeled either: (a) as depth of invasion
                divided by thickness of myometrium (i.e. two lengths); or (b) as a choice of "less
                than 50%" versus "greater then 50%". (See extent.myometrialInvasion.content below
                for full details.) </a:documentation>
            <grammar>
                <include href="&section;"/>
                <define name="content">
                    <parentRef name="extent.myometrialInvasion.content"/>
                </define>
            </grammar>
        </element>
        <element name="cervicalStromalInvasion">
            <a:documentation>Content model for cervical stromal invasion is single
                select.</a:documentation>
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
            </grammar>
        </element>
        <optional>
            <element name="asciticFluidStatus">
                <a:documentation>Ascitic fluid status is optional; content model is single
                    select.</a:documentation>
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="qualitative.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.myometrialInvasion.content">
        <choice>
            <group>
                <a:documentation> In this content model option, myometrialInvasion is modeled as two
                    lengths. </a:documentation>
                <element name="depth">
                    <grammar>
                        <include href="&length;"/>
                    </grammar>
                </element>
                <element name="thickness">
                    <grammar>
                        <include href="&length;"/>
                    </grammar>
                </element>
            </group>
            <element name="depth">
                <a:documentation> In this content model option, myometrialInvasion is modeled as a
                    single select. </a:documentation>
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="extent.myometrialInvasion.valueset"/>
                    </define>
                </grammar>
            </element>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>HISTORY section customizations</a:documentation>
    <!--=============================================================-->
    <define name="history.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>MARGINS section customizations</a:documentation>
    <!--=============================================================-->
    <define name="margins.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>NODES section customizations</a:documentation>
    <!--=============================================================-->
    <define name="nodes.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>SPECIMEN section customizations</a:documentation>
    <!--=============================================================-->
    <define name="specimen.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>STAGE section customizations</a:documentation>
    <!--=============================================================-->
    <define name="stage.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>STUDIES section customizations</a:documentation>
    <!--=============================================================-->
    <define name="studies.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>TUMOR section customizations</a:documentation>
    <!--=============================================================-->
    <define name="tumor.extension">
        <empty/>
    </define>
    <!--=============================================================-->
</grammar>
