branches/pathcentral/relaxng_schemas/endometrium/values.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
   
   ===========================================================================
   Copyright 2010 Pathology Consulting Services
   
   This file is part of the "PCS Schema for Synoptic Cancer Reports".
   
   The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
   License, Version 2.0 (the "License"); you may not use this file except in 
   compliance with the License.
   
   You may obtain a copy of the License at:
   
   http://www.apache.org/licenses/LICENSE-2.0
   
   Unless required by applicable law or agreed to in writing, software 
   distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
   WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   
   See the License for the specific language governing permissions and
   limitations under the License.
   ===========================================================================
   
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://purl.org/pathology/ecc/" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--=============================================================-->
    <a:documentation>-- shared valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="site.values">
        <choice>
            <value>uterine corpus</value>
            <value>cervix</value>
            <value>ovary</value>
            <value>fallopian tube</value>
            <value>parametrium</value>
            <value>vaginal cuff</value>
            <value>omentum</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- ACCESSORY section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.empty.values">
        <choice>
            <value>empty</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>== ADDITIONAL section valuesets ==</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="additional.finding.values">
        <choice>
            <value>simple hyperplasia</value>
            <value>complex hyperplasia</value>
            <value>atypical simple hyperplasia</value>
            <value>atypical complex hyperplasia</value>
            <value>EIN</value>
            <value>polyp</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="additional.empty.values">
        <choice>
            <value>empty</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- HISTORY section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="history.priorTherapy.values">
        <choice>
            <value>neoadjuvant chemotherapy</value>
            <value>neoadjuvant irradiation</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="history.empty.values">
        <choice>
            <value>empty</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- EXTENT section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.ascites.values">
        <ref name="qualitative.values"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.myometrialInvasion.values">
        <choice>
            <value>less than 50%</value>
            <value>equal or greater than 50%</value>
            <ref name="base.values"/>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.adjacentSite.values">
        <choice>
            <ref name="site.values"/>
            <choice>
                <value>vagina</value>
                <value>rectal wall</value>
                <value>bladder wall</value>
                <value>pelvic wall</value>
                <value>bladder mucosa</value>
                <value>bowel mucosa</value>
            </choice>
        </choice>
    </define>
    <define name="extent.adjacentSite.status.type.values">
        <choice>
            <value>invades</value>
            <value>adheres</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- MARGINS section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margins.margin.site.values">
        <choice>
            <value>vaginal cuff</value>
            <value>cervical stump</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- DISTANT section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="distant.site.values">
        <value>empty</value>
    </define>
    <!--=============================================================-->
    <a:documentation>-- NODES section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.status.of.values">
        <choice>
            <value>obturator</value>
            <value>internal iliac</value>
            <value>external iliac</value>
            <value>common iliac</value>
            <value>para-aortic</value>
            <value>presacral</value>
            <value>parametrial</value>
            <value>inguinal</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- SPECIMEN section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="specimen.procedure.values">
        <choice>
            <!-- we need a unified approach to laterality in procedures as well -->
            <value>supracervical hysterectomy</value>
            <value>simple hysterectomy</value>
            <value>radical hysterectomy</value>
            <value>oophorectomy</value>
            <value>salpingectomy</value>
            <value>salpingo-oophorectomy</value>
            <value>omentectomy</value>
            <value>peritoneal biopsy(ies)</value>
            <value>lymph node sampling</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="specimen.site.values">
        <choice>
            <ref name="site.values"/>
            <value>lymph nodes</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="specimen.integrity.values">
        <choice>
            <!-- need a unified approach to integrity -->
            <value>morcellated</value>
            <value>intact</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- STAGE section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="stage.pT.values">
        <choice>
            <value>X</value>
            <value>0</value>
            <value>is</value>
            <value>1</value>
            <value>1a</value>
            <value>1b</value>
            <value>2</value>
            <value>3</value>
            <value>3a</value>
            <value>3b</value>
            <value>4</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="stage.pN.values">
        <choice>
            <value>X</value>
            <value>0</value>
            <value>1</value>
            <value>2</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="stage.pM.values">
        <choice>
            <value>0</value>
            <value>1</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="stage.group.values">
        <choice>
            <value>X</value>
            <value>0</value>
            <value>I</value>
            <value>IA</value>
            <value>IB</value>
            <value>II</value>
            <value>III</value>
            <value>IIIA</value>
            <value>IIIB</value>
            <value>IIIC1</value>
            <value>IIIC2</value>
            <value>IVA</value>
            <value>IVB</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- STUDIES section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.empty.values">
        <choice>
            <value>empty</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>-- TUMOR section valuesets --</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.type.values">
        <choice>
            <value>endometrioid carcinoma</value>
            <value>endometrioid with squamous</value>
            <value>endometrioid villoglandular</value>
            <value>endometrioid secretory</value>
            <value>endometrioid ciliated cell</value>
            <!-- how to deal with 'specify variant' -->
            <value>mucinous adenocarcinoma</value>
            <value>serous adenocarcinoma</value>
            <value>clear cell adenocarcinoma</value>
            <!-- how to specify percentages in case of mixed carcinomas -->
            <value>squamous cell carcinoma</value>
            <value>transitional cell carcinoma</value>
            <value>small cell carcinoma</value>
            <value>undifferentiated carcinoma</value>
            <value>carcinosarcoma</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.focus.site.values">
        <choice>
            <value>anterior endometrium</value>
            <value>posterior endometrium</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.gradeSystem.values">
        <choice>
            <value>FIGO</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.grade.values">
        <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
        </choice>
    </define>
    <!--=============================================================-->
</grammar>
