trunk/framework/components/valuesets.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
   
   ===========================================================================
   Copyright 2009 College of American Pathologists (CAP)
   
   This file is part of the "CAP Schemas for Synoptic Cancer Reports".
   
   The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
   License, Version 2.0 (the "License"); you may not use this file except in 
   compliance with the License.
   
   You may obtain a copy of the License at:
   
   http://www.apache.org/licenses/LICENSE-2.0
   
   Unless required by applicable law or agreed to in writing, software 
   distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
   WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   
   See the License for the specific language governing permissions and
   limitations under the License.
   ===========================================================================
   
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<a:documentation> </a:documentation>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="synopsis.schemaLocation.valueset">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="synopsis.version.valueset">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="synopsis.transformation.valueset">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used in commonly throughout multiple sections.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="common.severity.valueset">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>For observations quantified on a four-value severity scale</a:documentation>
			<a:documentation>Maps to scales of {0, 1, 2, 3}, {negative, slight, intermediate, marked},
				etc.</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<choice>
				<value>none</value>
				<value>mild</value>
				<value>moderate</value>
				<value>severe</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="common.lengthUnit.valueset">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>Units for length values</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<choice>
				<value>mm</value>
				<value>cm</value>
				<value>in</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="common.laterality.valueset">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>for observations requiring qualification by laterality</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<choice>
				<value>right</value>
				<value>left</value>
				<value>midline</value>
				<value>bilateral</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="common.date.valueset">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>date formats, expressed as a union of XML Schema date types</a:documentation>
			<a:documentation>"date" format is YYYY-MM-DD, e.g. 2009-12-31</a:documentation>
			<a:documentation>"gYearMonth" is YYYY-MM, e.g. 2009-12</a:documentation>
			<a:documentation>"gYear" format is YYYY, e.g. 2009</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<choice>
				<data type="date"/>
				<data type="gYearMonth"/>
				<data type="gYear"/>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="common.percent.valueset">
			<data type="nonNegativeInteger">
				<param name="maxExclusive">100</param>
			</data>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="common.result.valueset">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>Values for "yes/no" data items</a:documentation>
			<a:documentation> "positive" (synonyms: "yes", "present", "is observed", "is seen", "there is evidence of",
				etc.)</a:documentation>
			<a:documentation>"negative" (synonyms: "no", "absent", "is not observed", "is not seen", "not present", "there
				is no evidence of", etc.)</a:documentation>
			<a:documentation>"equivocal" (synonyms: "suspicious", "atypical, not diagnostic", "worrisome for", "concerning
				for", "possibly positive", "possibly negative", "favor negative, cannot exclude positive", "favor positive,
				cannot exclude negative", "on the fence", "borderline finding of", "concerning for", "less than fully
				diagnostic for", etc.)</a:documentation>
			<a:documentation>"indeterminate" (synonyms: "(technically) uninterpretable", "cannot be (successfully) assessed
				(for technical reasons" "assessment was attempted but could not reach a firm conclusion due to artifact,
				poor specimen quality, preparative issues, poor orientation, correct tissue present but in insufficient
				quantity, etc." "obscured by", "artifact interferes with assessment", "assessment could not be completed due
				to X", "cautery artifact makes assessment impossible", etc.)</a:documentation>
			<a:documentation>"inapplicable" (synonyms: "question does not apply", "cannot be assessed (because wrong
				specimen type for requested evaluation)", "patient is status post appendectomy, so there is no appendix
				present for assessment", "wrong specimen type for this assessment", "relevant tissue not present in this
				specimen", "lymph node status not reported because no lymph nodes present in specimen",
				etc.)</a:documentation>
			<a:documentation>"unreported" (synonyms: "no response", "unanswered", "no answer", "skipped", "no reply, no
				reason given" etc.)</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<choice>
				<value>positive</value>
				<value>negative</value>
				<value>equivocal</value>
				<value>indeterminate</value>
				<value>inapplicable</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="common.weightUnit.valueset">
			<a:documentation>for weight values</a:documentation>
			<choice>
				<value>g</value>
				<value>kg</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="response.unit.valueset">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on on the "synopsis" element.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- empty -->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on in the "accessory" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="accessory.venousInvasion.response.value.valueset">
			<ref name="common.result.valueset"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="accessory.lymphovascularInvasion.response.value.valueset">
			<ref name="common.result.valueset"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="accessory.perineuralInvasion.response.value.valueset">
			<ref name="common.result.valueset"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="accessory.treatmentEffect.response.value.valueset">
			<a:documentation>Tumor response to (e.g. neoadjuvant) treatment</a:documentation>
			<choice>
				<value>inapplicable</value>
				<value>no response</value>
				<value>slight response</value>
				<value>marked response</value>
				<value>complete response</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on in the "additional" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="additional.item.name.valueset">
			<a:documentation/>
			<value>specify</value>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="additional.item.response.value.valueset">
			<ref name="common.result.valueset"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on in the "clinical" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="clinical.priorTherapy.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="clinical.clinicalFinding.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="clinical.radiologicFinding.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on in the "extent" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- empty -->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>
			<a:documentation>Non-site-specific valuesets used on in the "margins" section.</a:documentation>
		</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="margins.margin.location.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="margins.margin.response.value.valueset">
			<ref name="common.result.valueset"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="margins.margin.response.closest.valueset">
			<ref name="common.result.valueset"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on in the "metastases" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="metastases.metastasis.location.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="metastases.metastasis.howDiagnosed.valueset">
			<choice>
				<value>this accesion</value>
				<value>prior accession</value>
				<value>outside report</value>
				<value>clinical history</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used on in the "nodes" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- empty -->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used in the "specimen" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="specimen.procedure.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="specimen.site.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="specimen.integrity.response.value.valueset">
			<choice>
				<value>intact</value>
				<value>fragmented</value>
				<value>inapplicable</value>
				<value>unreported</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used in the "stage" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="stage.T.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="stage.N.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="stage.M.response.value.valueset">
			<choice>
				<value>1</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.classification.response.value.valueset">
			<value>p</value>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="stage.prefix.response.value.valueset">
			<choice>
				<value>y</value>
				<value>r</value>
				<value>a</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="stage.T.response.multiplicity.valueset">
			<choice>
				<value>2</value>
				<value>3</value>
				<value>4</value>
				<value>5</value>
				<value>m</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used in the "studies" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="studies.study.name.valueset">
			<value>specify</value>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="studies.study.response.value.valueset">
			<choice>
				<value>pending</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="studies.study.method.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>Non-site-specific valuesets used in the "tumor" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="tumor.histologicType.response.value.valueset">
			<choice>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="tumor.grade.response.value.valueset">
			<choice>
				<value>GX</value>
				<value>G1</value>
				<value>G2</value>
				<value>G3</value>
				<value>G4</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="tumor.grade.system.valueset">
			<choice>
				<value>4-grade</value>
				<value>3-grade</value>
				<value>2-grade</value>
				<value>specify</value>
				<value>unreported</value>
			</choice>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
