normal/normal.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<!DOCTYPE	grammar [
<!ENTITY	items  		"../framework/shared/items.rng">
<!ENTITY	sections  	"../framework/shared/sections.rng">
<!ENTITY	section		"../framework/shared/types/section.rng">
<!ENTITY    length      "../framework/shared/types/length.rng">
<!ENTITY	percent  	"../framework/shared/types/percent.rng">
<!ENTITY	quantity    "../framework/shared/types/quantity.rng">
<!ENTITY	ratio  		"../framework/shared/types/ratio.rng">
<!ENTITY	selectMany  "../framework/shared/types/selectMany.rng">
<!ENTITY	selectOne  	"../framework/shared/types/selectOne.rng">
<!ENTITY	size  		"../framework/shared/types/size.rng">
<!ENTITY	tally  		"../framework/shared/types/tally.rng">
<!ENTITY	weight  	"../framework/shared/types/weight.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://purl.org/pathology/ecc/" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--=============================================================-->
    <include href="values.rng"/>
    <!--=============================================================-->
    <start>
        <ref name="normal"/>
    </start>
    <!--=============================================================-->
    <include href="&sections;">
        <define name="schemaLocation">
            <value>http://purl.org/pathology/ecc/normal.rng</value>
        </define>
        <define name="version">
            <value>1.0a</value>
        </define>
        <define name="semantics">
            <value>http://cap#colon/snomedct/ http://cap#normal/radlex/</value>
        </define>
    </include>
</grammar>
