trunk/core-items.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY  item  	"item.rng">
<!ENTITY  values	"values.rng">
<!ENTITY  generic	"generic.rng">
<!ENTITY  section	"section.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://cap#"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:ecc="http://cap#">
    <!--=============================================================-->
    <include href="&values;"/>
    <include href="&generic;"/>
    <!--=============================================================-->
    <define name="accessory.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>treatment effect</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.treatmentEffect.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>lymph-vascular invasion</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.lymph-vascularInvasion.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>perineural invasion</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.perineuralInvasion.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="accessory.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define combine="interleave" name="accessory.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="additional.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <empty/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="additional.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="additional.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="clinical.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>clinical findings</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="clinical.clinicalFindings.valueset"/>
                </define>
                <define name="extension">
                    <ref name="date"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>prior pathologic diagnoses</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="clinical.priorPathologicDiagnoses.valueset"/>
                </define>
                <define name="extension">
                    <ref name="date"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>prior therapies</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="clinical.priorTherapies.valueset"/>
                </define>
                <define name="extension">
                    <ref name="date"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>radiologic findings</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="clinical.radiologicFindings.valueset"/>
                </define>
                <define name="extension">
                    <ref name="date"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="clinical.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="clinical.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="extent.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>tumor sites</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="extent.sites.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>tumor size</value>
                </define>
                <define name="response">
                    <ref name="size"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>tumor weight</value>
                    </define>
                    <define name="response">
                        <ref name="weight"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="extent.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="extent.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="margins.content">
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>margin</value>
                    </define>
                    <define name="content">
                        <parentRef name="margin.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="location">
                            <parentRef name="margin.location.valueset"/>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="margins.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="margins.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.content">
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <parentRef name="margin.type.valueset"/>
                    </define>
                </include>
                <define name="content">
                    <parentRef name="margin.type.content"/>
                </define>
            </grammar>
        </oneOrMore>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.type.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>status</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>closest</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>distance</value>
                    </define>
                    <define name="response">
                        <ref name="size"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>focality</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="margin.focality.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="metastases.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>metastasis</value>
                    </define>
                    <define name="content">
                        <parentRef name="metastasis.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="location">
                            <parentRef name="metastases.location.valueset"/>
                        </attribute>
                        <optional>
                            <attribute name="laterality">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="metastases.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="metastases.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="metastasis.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>size</value>
                </define>
                <define name="response">
                    <ref name="size"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>how diagnosed</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="metastases.howDiagnosed.valueset"/>
            </define>
        </grammar>
    </define>
    <!--=============================================================-->
    <define name="nodes.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <oneOrMore>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>node group</value>
                    </define>
                    <define name="content">
                        <parentRef name="nodes.nodeGroup.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="location">
                            <parentRef name="nodes.location.valueset"/>
                        </attribute>
                        <optional>
                            <attribute name="laterality">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="nodes.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="nodes.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.nodeGroup.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>tally</value>
                </define>
                <define name="content">
                    <parentRef name="nodes.nodeGroup.tally.content"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>largest metastasis</value>
                    </define>
                    <define name="response">
                        <ref name="size"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>extracapsular extension</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="nodes.extracapsularExtension.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.nodeGroup.tally.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>total</value>
                </define>
                <define name="response">
                    <ref name="tally"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>positive</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>regressed</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>specify</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="specimen.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>procedure</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="specimen.procedure.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>specimen size</value>
                </define>
                <define name="response">
                    <ref name="size"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>specimen weight</value>
                    </define>
                    <define name="response">
                        <ref name="weight"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>specimen sites</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="specimen.sites.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>integrity</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="specimen.integrity.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="specimen.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="specimen.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="stage.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>prefix</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.prefix.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>multiplicity</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="stage.multiplicity.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>pT</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.pT.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>pN</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.pN.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>pM</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="stage.pM.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="stage.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="stage.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="studies.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <empty/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="studies.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="studies.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="tumor.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>histologic types</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="tumor.type.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>histologic grade</value>
                </define>
                <define name="response">
                    <ref name="ordinal"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="tumor.grade.valueset"/>
            </define>
            <define name="system.valueset">
                <parentRef name="tumor.gradeSystem.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ref name="tumor.extension"/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="tumor.extension">
        <empty/>
    </define>
    <!--=============================================================-->
</grammar>
