branches/2011-05-04/framework/shared/types/tally-alt.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<!DOCTYPE	grammar [
<!ENTITY	item       "item.rng">
<!ENTITY	section    "section.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://purl.org/pathology/ecc/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <a:documentation/>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <start>
        <element name="tally">
            <grammar>
                <include href="&section;"/>
                <define name="content">
                    <parentRef name="total"/>
                    <zeroOrMore>
                        <parentRef name="other"/>
                    </zeroOrMore>
                </define>
            </grammar>
        </element>
    </start>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="total">
        <element name="total">
            <grammar>
                <include href="&item;"/>
                <start>
                    <ref name="item.content"/>
                </start>
                <define name="item.extension">
                    <optional>
                        <attribute name="type">
                            <value>total</value>
                        </attribute>
                    </optional>
                </define>
                <define name="response">
                    <attribute name="value">
                        <choice>
                            <data type="nonNegativeInteger"/>
                            <parentRef name="base.valueset"/>
                        </choice>
                    </attribute>
                </define>
                <define name="response.extension">
                    <optional>
                        <attribute a:defaultValue="equal" name="relation">
                            <parentRef name="relation.valueset"/>
                        </attribute>
                    </optional>
                </define>
            </grammar>
        </element>
    </define>
    <define name="other">
        <zeroOrMore>
            <element>
                <choice>
                    <name>positive</name>
                    <name>negative</name>
                    <name>equivocal</name>
                    <name>indeterminate</name>
                </choice>
                <grammar>
                    <include href="&item;"/>
                    <start>
                        <ref name="item.content"/>
                    </start>
                    <define name="item.extension">
                        <optional>
                            <attribute name="type">
                                <parentRef name="item.type.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                    <define name="response">
                        <attribute name="value">
                            <choice>
                                <data type="nonNegativeInteger"/>
                                <parentRef name="base.valueset"/>
                            </choice>
                        </attribute>
                    </define>
                    <define name="response.extension">
                        <optional>
                            <attribute a:defaultValue="equal" name="relation">
                                <parentRef name="relation.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                </grammar>
            </element>
        </zeroOrMore>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="response.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="relation.valueset">
        <parentRef name="relation.valueset"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="base.valueset">
        <parentRef name="base.valueset"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="item.type.valueset">
        <parentRef name="tally.type.valueset"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
