branches/valuesAsElements/common/standard version/baseContent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    CAP Schema for Synoptic Reports
    (c) Copyright 2008 College of American Pathologists
    ===========================================================================
    Component name:
    standard.content.rng
    
    Component type:
    schema fragment for inclusion
    
    Version date:
    2008.12.31
    
    Defines:
    
    
    Purpose:
    
    
    
    Dependencies:      
    
    
    ===========================================================================
    This file is part of the "CAP Schema for Synoptic Reports".
    
    The "CAP Schema for Synoptic Reports" is free software: 
    you can redistribute it and/or modify it under the terms of the 
    GNU General Public License as published by the Free Software Foundation, 
    either version 3 of the License, or (at your option) any later version.
    
    The "CAP Schema for Synoptic Reports" is distributed 
    in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
    without even the implied warranty of MERCHANTABILITY or 
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License 
    for more details.
    
    You should have received a copy of the GNU General Public License
    along with the "CAP Schema for Synoptic Reports".  
    If not, see <http://www.gnu.org/licenses/>. 
    ===========================================================================
    
-->


<!DOCTYPE grammar [
<!ENTITY localNames "

    <nsName ns='http://www.cap.org/pert/2009/01/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/breast/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/colon/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/lung/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/prostate/'/>
    
">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
    xmlns="http://relaxng.org/ns/structure/1.0">
    <define name="standard.content">
        <zeroOrMore>
            <attribute>
                <anyName>
                    <except>
                        <nsName ns=""/>
                        <nsName ns="http://www.cap.org/pert/2009/01/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                        <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                        <nsName ns="http://www.w3.org/2003/g/data-view#"/>
                    </except>
                </anyName>
            </attribute>
        </zeroOrMore>
        <interleave>
            <zeroOrMore>
                <ref name="displayText"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="comment"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="anyForeignElement"/>
            </zeroOrMore>
            <text/>
        </interleave>
    </define>
    <define name="displayText">
        <element name="displayText">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>
                            <nsName ns=""/>
                            <nsName ns="http://www.cap.org/pert/2009/01/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                        </except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <attribute name="role">
                    <choice>
                        <value>label</value>
                        <value>value</value>
                        <value>other</value>
                    </choice>
                </attribute>
            </optional>
            <interleave>
                <text/>
                <zeroOrMore>
                    <ref name="displayText"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>
    <define name="comment">
        <element name="comment">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>
                            <nsName ns=""/>
                            <nsName ns="http://www.cap.org/pert/2009/01/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                            <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                        </except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <ref name="displayText"/>
            </optional>
            <text/>
        </element>
    </define>
    <define name="anyForeignAttribute">
        <attribute>
            <anyName>
                <except>
                    <nsName ns="http://www.cap.org/pert/2009/01/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                </except>
            </anyName>
        </attribute>
    </define>
    <define name="anyForeignElement">
        <element>
            <anyName>
                <except>
                    <nsName ns=""/>
                    <nsName ns="http://www.cap.org/pert/2009/01/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                    <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                </except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <ref name="anyForeignAttribute"/>
                    <ref name="anyForeignElement"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="lang.attribute">
        <optional>
            <attribute name="xml:lang">
                <choice>
                    <data type="token">
                        <param name="pattern">[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*</param>
                    </data>
                </choice>
            </attribute>
        </optional>
    </define>
</grammar>
