trunk/framework/values.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ===========================================================================
  Copyright 2010 Pathology Consulting Services
  
  This file is part of the "PCS Schema for Synoptic Cancer Reports".
  
  The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
  License, Version 2.0 (the "License"); you may not use this file except in 
  compliance with the License.
  
  You may obtain a copy of the License at:
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software 
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  
  See the License for the specific language governing permissions and
  limitations under the License.
  ===========================================================================  
-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- ============================================================= -->
    <xs:simpleType name="base.valueset">
        <xs:restriction base="xs:token">
            <xs:enumeration value="specify"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="qualitative.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="positive"/>
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="equivocal"/>
                    <xs:enumeration value="indeterminate"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="lengthUnit.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="in"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="weightUnit.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="mg"/>
                    <xs:enumeration value="g"/>
                    <xs:enumeration value="kg"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="relation.valueset">
        <xs:restriction base="xs:token">
            <xs:enumeration value="less than"/>
            <xs:enumeration value="less than or equal"/>
            <xs:enumeration value="equal"/>
            <xs:enumeration value="approximately equal"/>
            <xs:enumeration value="greater than or equal"/>
            <xs:enumeration value="greater than"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="laterality.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ipsilateral"/>
                    <xs:enumeration value="contralateral"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="midline"/>
                    <xs:enumeration value="bilateral"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="focality.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="microfocal"/>
                    <xs:enumeration value="unifocal"/>
                    <xs:enumeration value="multifocal"/>
                    <xs:enumeration value="extensive"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ============================================================= -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="accessory.lymphvascular.valueset">
        <xs:restriction base="qualitative.valueset"/>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="accessory.perineural.valueset">
        <xs:restriction base="qualitative.valueset"/>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="accessory.treatmentResponse.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="slight"/>
                    <xs:enumeration value="marked"/>
                    <xs:enumeration value="complete"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ============================================================= -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ============================================================= -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="extent.contiguousExtension.status.result.for.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="invades"/>
                    <xs:enumeration value="adheres"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ============================================================= -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="history.priorTherapy.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="chemotherapy"/>
                    <xs:enumeration value="radiation"/>
                    <xs:enumeration value="surgery"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="margin.status.focality.valueset">
        <xs:restriction base="focality.valueset"/>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="margin.status.result.for.valueset">
        <xs:restriction base="xs:token">
            <xs:enumeration value="in-situ"/>
            <xs:enumeration value="invasive"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ============================================================= -->
    <xs:simpleType name="distant.status.of.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="liver"/>
                    <xs:enumeration value="bone"/>
                    <xs:enumeration value="lung"/>
                    <xs:enumeration value="brain"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="distant.status.result.for.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="this accession"/>
                    <xs:enumeration value="prior accession"/>
                    <xs:enumeration value="outside report"/>
                    <xs:enumeration value="clinical history"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ============================================================= -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="nodes.status.result.for.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="positive"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="nodes.status.result.type.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="necroinflammatory"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="nodes.status.technique.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="H+E one level"/>
                    <xs:enumeration value="H+E multiple level(s)"/>
                    <xs:enumeration value="H+E plus immunohistochemistry"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="nodes.status.extracapsular.valueset">
        <xs:restriction base="qualitative.valueset"/>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="specimen.integrity.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="intact"/>
                    <xs:enumeration value="fragmented"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="stage.prefix.valueset">
        <xs:restriction base="xs:token">
            <xs:enumeration value="y"/>
            <xs:enumeration value="r"/>
            <xs:enumeration value="a"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="stage.multiplicity.valueset">
        <xs:restriction base="xs:token">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="m"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="tumor.grade.valueset">
        <xs:restriction base="xs:token">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="tumor.gradeSystem.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="4-grade"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xs:simpleType name="tumor.multiplicity.valueset">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="base.valueset"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="many"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</xs:schema>
