trunk/ecc/framework/shared/types/percent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE	grammar [
<!ENTITY	item   "item.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <start>
        <ref name="item.content"/>
    </start>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <include href="&item;"/>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="response">
        <element name="response">
            <attribute name="value">
                <ref name="valueset"/>
            </attribute>
            <optional>
                <attribute a:defaultValue="equal" name="relation">
                    <parentRef name="relation.valueset"/>
                </attribute>
            </optional>
            <attribute name="unit">
                <value>percent</value>
            </attribute>
            <ref name="response.defaults"/>
        </element>
    </define>
    <define combine="choice" name="valueset">
        <choice>
            <data type="nonNegativeInteger">
                <param name="maxInclusive">100</param>
            </data>
            <parentRef name="base.valueset"/>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
