basis/common-common/common-common.rng.bak

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
-->
<!DOCTYPE grammar [
<!ENTITY result "common-result.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
   xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:xi="http://www.w3.org/2001/XInclude">
   <div>
      <a:documentation>== COMMON CONTENT ==</a:documentation>
      <define name="common.content">
         <interleave>
            <ref name="common.standard.content"/>
            <ref name="common.custom.content"/>
         </interleave>
      </define>
      <define name="common.standard.content" ns="http://www.cap.org/pert/2009/01/">
         <interleave>
            <optional>
               <ref name="comment"/>
            </optional>
            <optional>
               <ref name="label"/>
            </optional>
            <zeroOrMore>
               <ref name="text"/>
            </zeroOrMore>
         </interleave>
      </define>
      <define name="common.custom.content">
         <interleave>
            <zeroOrMore>
               <choice>
                  <ref name="anyForeignElement"/>
                  <ref name="anyUserAttribute"/>
               </choice>
            </zeroOrMore>
         </interleave>
      </define>
      <define name="anyForeignElement">
         <element>
            <anyName>
               <except>
                  <nsName ns=""/>
                  <nsName ns="http://www.cap.org/pert/2009/01/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/pancreas/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/stomach/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/endometrium/"/>
                  <nsName ns="http://www.w3.org/2003/g/data-view#"/>
                  <nsName ns="http://www.rsna.org/reporting/2009/01/"/>
               </except>
            </anyName>
            <interleave>
               <zeroOrMore>
                  <choice>
                     <ref name="anyForeignAttribute"/>
                     <ref name="anyForeignElement"/>
                  </choice>
               </zeroOrMore>
            </interleave>
         </element>
      </define>
      <define name="anyForeignAttribute">
         <attribute>
            <anyName>
               <except>
                  <nsName ns="http://www.cap.org/pert/2009/01/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/pancreas/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/stomach/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/endometrium/"/>
                  <nsName ns="http://www.w3.org/2003/g/data-view#"/>
                  <nsName ns="http://www.rsna.org/reporting/2009/01/"/>
               </except>
            </anyName>
         </attribute>
      </define>
      <define name="anyUserAttribute">
         <a:documentation>Any attribute in a non-null namespace other than the CAP eCC
            namespaces</a:documentation>
         <attribute>
            <anyName>
               <except>
                  <nsName ns=""/>
                  <nsName ns="http://www.cap.org/pert/2009/01/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/breast/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/colon/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/lung/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/prostate/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/pancreas/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/stomach/"/>
                  <nsName ns="http://www.cap.org/pert/2009/01/endometrium/"/>
                  <nsName ns="http://www.w3.org/2003/g/data-view#"/>
                  <nsName ns="http://www.rsna.org/reporting/2009/01/"/>
               </except>
            </anyName>
         </attribute>
      </define>
   </div>
   <div>
      <a:documentation>== BASE ELEMENTS ==</a:documentation>
      <define name="comment">
         <element name="comment">
            <text/>
            <ref name="common.custom.content"/>
         </element>
      </define>
      <define name="label">
         <element name="label">
            <text/>
            <ref name="common.custom.content"/>
         </element>
      </define>
      <define name="text">
         <element name="text">
            <mixed>
               <ref name="common.content"/>
            </mixed>
         </element>
      </define>
   </div>
   <div>
      <a:documentation>== COMMON ELEMENTS ==</a:documentation>
      <define name="laterality">
         <grammar>
            <include href="&result;">
               <define name="result.value.content">
                  <parentRef name="common.laterality.value"/>
               </define>
            </include>
         </grammar>
      </define>
      <define name="length.content">
         <interleave>
            <element name="unit">
               <ref name="common.lengthUnit.value"/>
            </element>
            <grammar>
               <include href="&result;">
                  <define name="result.value.content">
                     <data type="decimal">
                        <param name="minExclusive">0.0</param>
                     </data>
                  </define>
               </include>
            </grammar>
         </interleave>
      </define>
      <define name="dimension">
         <element name="dimension">
            <interleave>
               <ref name="length.content"/>
               <ref name="common.content"/>
            </interleave>
         </element>
      </define>
      <define name="length">
         <element name="length">
            <interleave>
               <ref name="length.content"/>
               <ref name="common.content"/>
            </interleave>
         </element>
      </define>
      <define name="common.size">
         <element name="size">
            <interleave>
               <ref name="common.sizeContent"/>
               <ref name="common.content"/>
            </interleave>
         </element>
      </define>
      <define name="common.sizeContent">
         <group>
            <ref name="dimension"/>
            <optional>
               <ref name="dimension"/>
               <optional>
                  <ref name="dimension"/>
               </optional>
            </optional>
         </group>
      </define>
   </div>
</grammar>
