branches/valuesAsElements/common/base.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
-->
<!DOCTYPE grammar [
<!ENTITY localNames "

<nsName ns='http://www.cap.org/pert/2009/01/'/>
<nsName ns='http://www.cap.org/pert/2009/01/breast/'/>
<nsName ns='http://www.cap.org/pert/2009/01/colon/'/>
<nsName ns='http://www.cap.org/pert/2009/01/lung/'/>
<nsName ns='http://www.cap.org/pert/2009/01/prostate/'/>
<nsName ns='http://www.cap.org/pert/2009/01/pancreas/'/>
<nsName ns='http://www.cap.org/pert/2009/01/stomach/'/>
<nsName ns='http://www.cap.org/pert/2009/01/endometrium/'/>
<nsName ns='http://www.w3.org/2003/g/data-view#'/>
<nsName ns='http://www.rsna.org/reporting/2009/01/'/>

">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <div>
        <a:documentation>== BASE CONTENT ==</a:documentation>
        <define name="base.content">
            <interleave>
                <ref name="standard.content"/>
                <ref name="custom.content"/>
            </interleave>
        </define>
        <define name="standard.content" ns="http://www.cap.org/pert/2009/01/">
            <interleave>
                <optional>
                    <ref name="comment"/>
                </optional>
                <optional>
                    <ref name="label"/>
                </optional>
                <zeroOrMore>
                    <ref name="text"/>
                </zeroOrMore>
            </interleave>
        </define>
        <define name="custom.content">
            <interleave>
                <zeroOrMore>
                    <choice>
                        <ref name="anyForeignElement"/>
                        <ref name="anyUserAttribute"/>
                    </choice>
                </zeroOrMore>
            </interleave>
        </define>
        <define name="anyForeignElement">
            <element>
                <anyName>
                    <except>
                    <nsName ns=""/>
                    &localNames;
                </except>
                </anyName>
                <interleave>
                    <zeroOrMore>
                        <choice>
                            <ref name="anyForeignAttribute"/>
                            <ref name="anyForeignElement"/>
                        </choice>
                    </zeroOrMore>
                </interleave>
            </element>
        </define>
        <define name="anyForeignAttribute">
            <attribute>
                <anyName>
                    <except>
                    &localNames;
                </except>
                </anyName>
            </attribute>
        </define>
        <define name="anyUserAttribute">
            <a:documentation>Any attribute in a non-null namespace other than the CAP eCC
            namespaces</a:documentation>
            <attribute>
                <anyName>
                    <except>
                    <nsName ns=""/> 
                    &localNames; 
                </except>
                </anyName>
            </attribute>
        </define>
    </div>
    <div>
        <a:documentation>== BASE ELEMENTS ==</a:documentation>
        <define name="comment">
            <element name="comment">
                <text/>
                <ref name="custom.content"/>
            </element>
        </define>
        <define name="label">
            <element name="label">
                <text/>
                <ref name="custom.content"/>
            </element>
        </define>
        <define name="text">
            <element name="text">
                <mixed>
                    <ref name="base.content"/>
                </mixed>
            </element>
        </define>
    </div>
    <div>
        <a:documentation>== COMMON VALUE TYPES ==</a:documentation>
        <define name="severity">
            <choice>
                <value>none</value>
                <value>mild</value>
                <value>moderate</value>
                <value>marked</value>
            </choice>
        </define>
        <define name="lengthUnit.value">
            <choice>
                <value>mm</value>
                <value>cm</value>
                <value>in</value>
            </choice>
        </define>
        <define name="inflammation.value">
            <choice>
                <value>acute</value>
                <value>acute and chronic</value>
                <value>chronic</value>
                <value>other</value>
            </choice>
        </define>
        <define name="laterality.values">
            <choice>
                <value>right</value>
                <value>left</value>
                <value>other</value>
            </choice>
        </define>
        <define name="date.content">
            <choice>
                <data type="date"/>
                <data type="gYear"/>
                <data type="gYearMonth"/>
            </choice>
        </define>
        <define name="extendedBoolean">
            <choice>
                <value>positive</value>
                <value>negative</value>
                <value>equivocal</value>
                <value>not applicable</value>
            </choice>
        </define>
        <define name="weightUnit.value">
            <choice>
                <value>g</value>
                <value>kg</value>
                <value>other</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== DIMENSIONAL ELEMENTS ==</a:documentation>
        <define name="laterality">
            <grammar>
                <include href="value.rng">
                    <define name="valueset">
                        <parentRef name="laterality.values"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="length.content">
            <interleave>
                <element name="unit">
                    <ref name="lengthUnit.value"/>
                </element>
                <grammar>
                    <include href="value.rng">
                        <define name="valueset">
                            <data type="decimal">
                                <param name="minExclusive">0.0</param>
                            </data>
                        </define>
                    </include>
                </grammar>
            </interleave>
        </define>
        <define name="dimension">
            <element name="dimension">
                <interleave>
                    <ref name="length.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define name="length">
            <element name="length">
                <interleave>
                    <ref name="length.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define name="common.size">
            <element name="size">
                <interleave>
                    <ref name="common.sizeContent"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define name="common.sizeContent">
            <group>
                <ref name="dimension"/>
                <optional>
                    <ref name="dimension"/>
                    <optional>
                        <ref name="dimension"/>
                    </optional>
                </optional>
            </group>
        </define>
    </div>
</grammar>
