branches/valuesAsElements/common/baseContent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    CAP Schema for Synoptic Reports
    (c) Copyright 2008 College of American Pathologists
    ===========================================================================
    Component name:
    standard.content.rng
    
    Component type:
    schema fragment for inclusion
    
    Version date:
    2008.12.31
    
    Defines:
    
    
    Purpose:
    
    
    
    Dependencies:      
    
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the 
    Apache License, Version 2.0 (the "License"); you may not use this 
    file except in compliance with the License.
    
    You may obtain a copy of the License at
    
        http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================

-->
<!DOCTYPE grammar [
<!ENTITY localNames "

    <nsName ns='http://www.cap.org/pert/2009/01/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/breast/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/colon/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/lung/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/prostate/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/pancreas/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/stomach/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/endometrium/'/>
    <nsName ns='http://www.w3.org/2003/g/data-view#'/>
    <nsName ns='http://www.rsna.org/reporting/2009/01/'/>
    
    ">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <define name="standard.content">
        <interleave>
            <ref name="comment"/>
            <ref name="label"/>
            <zeroOrMore>
                <ref name="unstructuredText"/>
            </zeroOrMore>
        </interleave>
    </define>
    <define name="custom.content">
        <interleave>
            <zeroOrMore>
                <choice>
                    <ref name="anyForeignElement"/>
                    <ref name="anyUserAttribute"/>
                </choice>
            </zeroOrMore>
        </interleave>
    </define>
    <define name="comment">
        <element name="comment">
            <mixed>
                <ref name="standard.content"/>
            </mixed>
        </element>
    </define>
    <define name="label">
        <element name="label">
            <a:documentation>String indicating the label on the pathologist's input
                form</a:documentation>
            <text/>
            <ref name="standard.content"/>
        </element>
    </define>
    <define name="anyUserAttribute">
        <a:documentation>Any attribute in a non-null namespace other than the CAP eCC
            namespaces</a:documentation>
        <attribute>
            <anyName>
                <except>
                    <nsName ns=""/> 
                    &localNames; 
                </except>
            </anyName>
        </attribute>
    </define>
    <define name="anyForeignAttribute">
        <attribute>
            <anyName>
                <except>
                    &localNames;
                </except>
            </anyName>
        </attribute>
    </define>
    <define name="anyForeignElement">
        <element>
            <anyName>
                <except>
                    <nsName ns=""/>
                    &localNames;
                </except>
            </anyName>
            <mixed>
                <zeroOrMore>
                    <choice>
                        <ref name="anyForeignAttribute"/>
                        <ref name="anyForeignElement"/>
                    </choice>
                </zeroOrMore>
            </mixed>
        </element>
    </define>
    <define name="unstructuredText">
        <element name="text">
            <text/>
        </element>
    </define>
</grammar>
