breast/breast.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY  section       "../section.rng">
<!ENTITY  item          "../item.rng">
<!ENTITY  values        "../values.rng">
<!ENTITY  generic       "../generic.rng">
<!ENTITY  breast-values  "values.rng">
<!ENTITY  core          "../core-sections.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://cap#colon/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:colon="http://cap#colon/">
    <!--=============================================================-->
    <include href="&core;">
        <start>
            <ref name="resection"/>
        </start>
        <define name="schemaLocation">
            <value>http://cap#breast/</value>
        </define>
        <define name="version">
            <value>1.0a</value>
        </define>
        <define name="semantics">
            <value>http://cap#breast/snomedct/ http://cap#breast/radlex/</value>
        </define>
    </include>
    <!--=============================================================-->
    <include href="&breast-values;"/>
    <!--=============================================================-->
    <define name="accessory.extension">
        <empty/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="additional.extension">
        <empty/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="extent.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="specimen.extension">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>lymph node sampling</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="specimen.nodeSampling.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="specimen.laterality">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>laterality</value>
                </define>
                <define name="response">
                    <parentRef name="laterality.valueset"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--=============================================================-->
    <define name="studies.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="tumor.extension">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>focality</value>
                </define>
                <define name="content">
                    <parentRef name="tumor.focality.content"/>
                </define>
            </include>
            <define name="extension">
                <optional>
                    <attribute name="focality">
                        <parentRef name="focality.valueset"/>
                    </attribute>
                </optional>
            </define>
        </grammar>
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>invasive carcinoma sites</value>
                </define>
                <define name="response">
                    <ref name="selectMany"></ref>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="tumor.sites.valueset"></parentRef>
            </define>
        </grammar>
    </define>
    <define name="tumor.focality.content">
        <oneOrMore>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>focus</value>
                    </define>
                    <define name="response">
                        <ref name="size"/>
                    </define>
                </include>
            </grammar>
        </oneOrMore>
    </define>
    <!--=============================================================-->
</grammar>
