xsd_schemas/framework/values.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->

<!-- This is the generic valuesets file. This file defines all the valuesets for all the item
    responses that are part of the generic report. Note that exept for a set of "utility" valueset
    definitions (extension.values to focality.values in the list below), each of the valuesets
    defined here is (a) associated with a particular report section and (b) paired with a valueset
    placeholder ending in ".extension", that is specialized in actual site files to contain the
    site-specific values that supplement the generic valueset.   
-->

<!-- 
    sitespecific.values    
    base.values
    qualitative.values
    lengthUnit.values
    weightUnit.values
    relation.values
    laterality.values
    extended.laterality.values
    focality.values
    
    accessory.lymphvascular.values
    accessory.lymphvascular.sitespecific.values  
    accessory.perineural.values
    accessory.perineural.sitespecific.values
    accessory.treatmentResponse.values
    accessory.treatmentResponse.sitespecific.values
    
    additional.finding.of.values
    additional.finding.of.sitespecific.values
    additional.finding.values
    additional.finding.sitespecific.values
    
    extent.contiguousExtension.for.values
    extent.contiguousExtension.for.sitespecific.values
    extent.contiguousExtension.to.values
    extent.contiguousExtension.to.sitespecific.values
    extent.contiguousExtension.focality.values
    extent.contiguousExtension.focality.sitespecific.values
    
    history.clinical.values
    history.clinical.sitespecific.values
    history.pathology.values
    history.pathology.sitespecific.values
    history.priorTherapy.values
    history.priorTherapy.sitespecific.values
    history.radiology.values
    history.radiology.sitespecific.values
    
    extent.size.values
    extent.size.sitespecific.values
    
    margins.margin.focality.values
    margins.margin.focality.sitespecific.values
    margins.margin.name.values
    margins.margin.name.sitespecific.values
    margins.margin.result.for.values  
    margins.margin.result.for.sitespecific.values
    
    distant.metastaticSite.name.values
    distant.metastaticSite.name.sitespecific.values
    distant.metastaticSite.result.for.values
    distant.metastaticSite.result.for.sitespecific.values
    
    nodes.nodeGroup.name.values
    nodes.nodeGroup.name.sitespecific.values
    nodes.nodeGroup.result.for.values
    nodes.nodeGroup.result.for.sitespecific.values
    nodes.nodeGroup.result.tumorRegression.values
    nodes.nodeGroup.result.tumorRegression.sitespecific.values
    nodes.nodeGroup.technique.values
    nodes.nodeGroup.technique.sitespecific.values
    nodes.nodeGroup.extracapsular.values
    nodes.nodeGroup.extracapsular.sitespecific.values
    
    specimen.integrity.values
    specimen.integrity.sitespecific.values
    specimen.procedure.values
    specimen.procedure.sitespecific.values
    specimen.site.values
    specimen.site.sitespecific.values
    
    stage.prefix.values
    stage.prefix.sitespecific.values
    stage.multiplicity.values
    stage.multiplicity.sitespecific.values
    stage.pT.values
    stage.pT.sitespecific.values
    stage.pN.values
    stage.pN.sitespecific.values
    stage.pM.values
    stage.pM.sitespecific.values
    stage.group.values
    stage.group.sitespecific.values
    
    tumor.focus.type.values
    tumor.focus.type.sitespecific.values
    tumor.histologicType.values
    tumor.histologicType.sitespecific.values
    tumor.site.values
    tumor.site.sitespecific.values
    tumor.grade.values
    tumor.grade.sitespecific.values
    tumor.grade.for.values
    tumor.grade.for.sitespecific.values
    tumor.gradeSystem.values
    tumor.gradeSystem.sitespecific.values
    tumor.multiplicity.values
    tumor.multiplicity.sitespecific.values
    
-->
<xs:schema elementFormDefault="qualified" targetNamespace="http://purl.org/pathology/ecc/"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:ecc="http://purl.org/pathology/ecc/" xmlns:rng="http://relaxng.org/ns/structure/1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--=============================================================-->
    <xs:simpleType name="sitespecific.values">
        <xs:union memberTypes="xs:token"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="base.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="innapplicable"/>
            <xs:enumeration value="equivocal"/>
        </xs:restriction>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="qualitative.values">
        <xs:union memberTypes="ecc:base.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="positive"/>
                    <xs:enumeration value="negative"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="lengthUnit.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="cm"/>
            <xs:enumeration value="mm"/>
            <xs:enumeration value="in"/>
        </xs:restriction>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="weightUnit.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="mg"/>
            <xs:enumeration value="g"/>
            <xs:enumeration value="kg"/>
        </xs:restriction>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="relation.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="less than"/>
            <xs:enumeration value="less than or equal"/>
            <xs:enumeration value="equal"/>
            <xs:enumeration value="approximately equal"/>
            <xs:enumeration value="greater than or equal"/>
            <xs:enumeration value="greater than"/>
        </xs:restriction>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="laterality.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="right"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
        </xs:restriction>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="extended.laterality.values">
        <xs:union memberTypes="ecc:laterality.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ipsilateral"/>
                    <xs:enumeration value="contralateral"/>
                    <xs:enumeration value="bilateral"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="focality.values">
        <xs:union memberTypes="ecc:base.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="microfocal"/>
                    <xs:enumeration value="unifocal"/>
                    <xs:enumeration value="multifocal"/>
                    <xs:enumeration value="extensive"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--=============================================================-->
    <!--accessory SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="accessory.lymphvascular.values">
        <xs:union
            memberTypes="ecc:base.values ecc:qualitative.values ecc:accessory.lymphvascular.sitespecific.values"
        />
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="accessory.lymphvascular.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="accessory.perineural.values">
        <xs:union
            memberTypes="ecc:base.values ecc:qualitative.values ecc:accessory.perineural.sitespecific.values"
        />
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="accessory.perineural.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="accessory.treatmentResponse.values">
        <xs:union memberTypes="ecc:base.values ecc:accessory.treatmentResponse.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="slight"/>
                    <xs:enumeration value="marked"/>
                    <xs:enumeration value="complete"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="accessory.treatmentResponse.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--additional SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="additional.finding.of.values">
        <xs:union memberTypes="ecc:base.values ecc:additional.finding.of.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="additional.finding.of.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="additional.finding.values">
        <xs:union memberTypes="ecc:base.values ecc:additional.finding.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="additional.finding.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--extent SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="extent.contiguousExtension.for.values">
        <xs:union
            memberTypes="ecc:base.values ecc:extent.contiguousExtension.for.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="invades"/>
                    <xs:enumeration value="adheres"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="extent.contiguousExtension.for.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="extent.contiguousExtension.to.values">
        <xs:union
            memberTypes="ecc:base.values ecc:extent.contiguousExtension.to.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="extent.contiguousExtension.to.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="extent.contiguousExtension.focality.values">
        <xs:union memberTypes="ecc:focality.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="extent.contiguousExtension.focality.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--history SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="history.clinical.values">
        <xs:union memberTypes="ecc:base.values ecc:history.clinical.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="history.clinical.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="history.pathology.values">
        <xs:union memberTypes="ecc:base.values ecc:history.pathology.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="history.pathology.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="history.priorTherapy.values">
        <xs:union memberTypes="ecc:base.values ecc:history.priorTherapy.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="chemotherapy"/>
                    <xs:enumeration value="radiation"/>
                    <xs:enumeration value="surgery"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="history.priorTherapy.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="history.radiology.values">
        <xs:union memberTypes="ecc:base.values ecc:history.radiology.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="history.radiology.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--extent SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="extent.size.values">
        <xs:union memberTypes="ecc:base.values ecc:extent.size.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="extent.size.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--margin SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="margins.margin.focality.values">
        <xs:union
            memberTypes="ecc:base.values ecc:focality.values ecc:margins.margin.focality.sitespecific.values"
        />
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="margins.margin.focality.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="margins.margin.name.values">
        <xs:union memberTypes="ecc:base.values ecc:margins.margin.name.sitespecific.values"/>
    </xs:simpleType>
    <xs:simpleType name="margins.margin.name.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="margins.margin.result.for.values">
        <xs:union memberTypes="ecc:base.values ecc:margins.margin.result.for.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="in-situ"/>
                    <xs:enumeration value="invasive"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="margins.margin.result.for.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--distant SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="distant.metastaticSite.name.values">
        <xs:union memberTypes="ecc:base.values ecc:distant.metastaticSite.name.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="liver"/>
                    <xs:enumeration value="bone"/>
                    <xs:enumeration value="lung"/>
                    <xs:enumeration value="brain"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="distant.metastaticSite.name.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="distant.metastaticSite.result.for.values">
        <xs:union
            memberTypes="ecc:base.values ecc:distant.metastaticSite.result.for.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="this accession"/>
                    <xs:enumeration value="prior accession"/>
                    <xs:enumeration value="outside report"/>
                    <xs:enumeration value="clinical history"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="distant.metastaticSite.result.for.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--nodes SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="nodes.nodeGroup.name.values">
        <xs:union memberTypes="ecc:base.values ecc:nodes.nodeGroup.name.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="nodes.nodeGroup.name.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="nodes.nodeGroup.result.for.values">
        <xs:union memberTypes="ecc:base.values ecc:nodes.nodeGroup.result.for.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="total"/>
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="positive"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="nodes.nodeGroup.result.for.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="nodes.nodeGroup.result.tumorRegression.values">
        <xs:union
            memberTypes="ecc:base.values ecc:qualitative.values ecc:nodes.nodeGroup.result.tumorRegression.sitespecific.values"
        />
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="nodes.nodeGroup.result.tumorRegression.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="nodes.nodeGroup.technique.values">
        <xs:union memberTypes="ecc:base.values ecc:nodes.nodeGroup.technique.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="H+E one level"/>
                    <xs:enumeration value="H+E multiple level(s)"/>
                    <xs:enumeration value="H+E plus immunohistochemistry"/>
                    <xs:enumeration value="RT-PCR"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="nodes.nodeGroup.technique.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="nodes.nodeGroup.extracapsular.values">
        <xs:union
            memberTypes="ecc:base.values ecc:qualitative.values ecc:nodes.nodeGroup.extracapsular.sitespecific.values"
        />
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="nodes.nodeGroup.extracapsular.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--specimen SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="specimen.integrity.values">
        <xs:union memberTypes="ecc:base.values ecc:specimen.integrity.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="intact"/>
                    <xs:enumeration value="fragmented"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="specimen.integrity.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="specimen.procedure.values">
        <xs:union memberTypes="ecc:base.values ecc:specimen.procedure.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="specimen.procedure.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="specimen.site.values">
        <xs:union memberTypes="ecc:base.values ecc:specimen.site.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="specimen.site.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--stage SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="stage.prefix.values">
        <xs:union memberTypes="ecc:base.values ecc:stage.prefix.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="y"/>
                    <xs:enumeration value="r"/>
                    <xs:enumeration value="a"/>
                    <xs:enumeration value="none"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="stage.prefix.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="stage.multiplicity.values">
        <xs:union memberTypes="ecc:base.values ecc:stage.multiplicity.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="m"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="stage.multiplicity.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="stage.pT.values">
        <xs:union memberTypes="ecc:base.values ecc:stage.pT.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="stage.pT.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="stage.pN.values">
        <xs:union memberTypes="ecc:base.values ecc:stage.pN.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="stage.pN.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="stage.pM.values">
        <xs:union memberTypes="ecc:base.values ecc:stage.pM.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="stage.pM.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="stage.group.values">
        <xs:union memberTypes="ecc:base.values ecc:stage.group.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="stage.group.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--=============================================================-->
    <!--tumor SECTION VALUESETS-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.focus.type.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.focus.type.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="principal or sole"/>
                    <xs:enumeration value="additional"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.focus.type.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.histologicType.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.histologicType.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.histologicType.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.site.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.site.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.site.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.grade.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.grade.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="X"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.grade.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.grade.for.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.grade.for.sitespecific.values"/>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.grade.for.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.gradeSystem.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.gradeSystem.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="4-grade"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.gradeSystem.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:simpleType name="tumor.multiplicity.values">
        <xs:union memberTypes="ecc:base.values ecc:tumor.multiplicity.sitespecific.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="many"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <xs:simpleType name="tumor.multiplicity.sitespecific.values">
        <xs:union memberTypes="ecc:sitespecific.values"/>
    </xs:simpleType>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</xs:schema>
