framework/values.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <a:documentation>This file specifies the valuesets that are shared across the entire framework.
        A "valueset" is a list of possible values that are allowed in response to an item. In this
        sense, valuesets are akin to enumeration types. (In Relax NG, we avoid referring to them as
        "types", since Relax NG deals only with patterns, and enforces no inherent notion of a type
        hierarchy.)</a:documentation>
    <a:documentation>Valuesets can be extended or re-used, (a) by embedding them in another pattern,
        or (b) by using the Relax NG ability to redefine patterns. (This would be akin to deriving
        an extended enumeration type in a language that had a concept of types.) Valueset
        extension--either by means of embedding or by means of redefinition--is used many times in
        this project, and the valuesets shown here are often embedded in other valueset containers
        in other schemas in the framework, to generate valuesets specialized for particular
        sites.</a:documentation>
    <a:documentation>To give one example, the "base.valueset", which contains three value strings
        ("specify", "inapplicable" and "unreported") is included in almost all other valuesets that
        appear anywhere in the framework, allowing any of these values in response to nearly any
        item. </a:documentation>
    <a:documentation>Valuesets in this framework are specified in a stereotypical way:
            <a:documentation>(1) The container for each valueset is a rng:define
            element.</a:documentation>
        <a:documentation>(2) Every valueset has a name, specified in the @name attribute of the
            rng:define element. By convention, all valueset names in this project end in the string
            ".valueset", allowing references to them to be easily identified within schemas. </a:documentation>
        <a:documentation>(3) Valueset definitions may specify a value for the @combine attribute.
            Thisattribute is part of the Relax NG language, and specifies the way redefinitions
        </a:documentation>
    </a:documentation>
    <!--=============================================================-->
    <define combine="choice" name="base.valueset">
        <choice>
            <value>specify</value>
            <value>inapplicable</value>
            <value>unreported</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="qualitative.valueset">
        <choice>
            <value>positive</value>
            <value>negative</value>
            <value>equivocal</value>
            <value>indeterminate</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="lengthUnit.valueset">
        <choice>
            <value>cm</value>
            <value>mm</value>
            <value>in</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="weightUnit.valueset">
        <choice>
            <value>mg</value>
            <value>g</value>
            <value>kg</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="relation.valueset">
        <choice>
            <value>less than</value>
            <value>less than or equal</value>
            <value>equal</value>
            <value>approximately equal</value>
            <value>greater than or equal</value>
            <value>greater than</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="laterality.valueset">
        <choice>
            <value>ipsilateral</value>
            <value>contralateral</value>
            <value>right</value>
            <value>left</value>
            <value>midline</value>
            <value>bilateral</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="focality.valueset">
        <choice>
            <value>microfocal</value>
            <value>unifocal</value>
            <value>multifocal</value>
            <value>extensive</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>accessory SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.lymphvascular.valueset">
        <ref name="qualitative.valueset"></ref>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.perineural.valueset">
        <ref name="qualitative.valueset"></ref>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="accessory.treatmentResponse.valueset">
        <choice>
            <value>none</value>
            <value>slight</value>
            <value>marked</value>
            <value>complete</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>additional SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="additional.finding.of.valueset">
        <empty></empty>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="additional.finding.valueset">
        <empty></empty>
    </define>
    <!--=============================================================-->
    <a:documentation>extent SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="extent.contiguousExtension.status.result.for.valueset">
        <choice>
            <value>invades</value>
            <value>adheres</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="extent.contiguousExtension.status.distance.for.valueset">
        <empty></empty>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="extent.contiguousExtension.status.distance.from.valueset">
        <empty></empty>
    </define>
    <!--=============================================================-->
    <a:documentation>history SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="history.clinical.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="history.pathology.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="history.priorTherapy.valueset">
        <choice>
            <value>chemotherapy</value>
            <value>radiation</value>
            <value>surgery</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="history.radiology.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--=============================================================-->
    <a:documentation>extent SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="extent.contiguousExtension.status.of.valueset">
        <empty></empty>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="extent.contiguousExtension.status.type.valueset">
        <empty></empty>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="extent.size.valueset">
        <empty></empty>
    </define>
    <!--=============================================================-->
    <a:documentation>margin SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="margin.status.focality.valueset">
        <ref name="focality.valueset"></ref>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="margin.status.of.valueset">
        <empty></empty>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.status.result.for.valueset">
        <choice>
            <value>in-situ</value>
            <value>invasive</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>distantSites SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="distant.status.of.valueset">
        <choice>
            <value>liver</value>
            <value>bone</value>
            <value>lung</value>
            <value>brain</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="distant.status.result.for.valueset">
        <choice>
            <value>this accession</value>
            <value>prior accession</value>
            <value>outside report</value>
            <value>clinical history</value>
        </choice>
    </define>
    <!--=============================================================-->
    <a:documentation>nodes SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.status.of.valueset">
        <empty></empty>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.status.result.for.valueset">
        <choice>
            <value>negative</value>
            <value>positive</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.status.result.type.valueset">
        <choice>
            <value>necroinflammatory</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.status.technique.valueset">
        <choice>
            <value>H+E one level</value>
            <value>H+E multiple level(s)</value>
            <value>H+E plus immunohistochemistry</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.status.extracapsular.valueset">
        <ref name="qualitative.valueset"></ref>
    </define>
    <!--=============================================================-->
    <a:documentation>specimen SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="specimen.integrity.valueset">
        <choice>
            <value>intact</value>
            <value>fragmented</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="specimen.procedure.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="specimen.site.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--=============================================================-->
    <a:documentation>stage SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="stage.prefix.valueset">
        <choice>
            <value>y</value>
            <value>r</value>
            <value>a</value>
            <value>none</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="stage.multiplicity.valueset">
        <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>4</value>
            <value>m</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="stage.pT.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="stage.pN.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="stage.pM.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="stage.group.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--=============================================================-->
    <a:documentation>tumor SECTION VALUESETS</a:documentation>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.type.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.site.valueset">
        <notAllowed></notAllowed>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.grade.valueset">
        <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>4</value>
            <value>X</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.gradeSystem.valueset">
        <choice>
            <value>4-grade</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.multiplicity.valueset">
        <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>4</value>
            <value>many</value>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
