trunk/breast/breast.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY  section       "../section.rng">
<!ENTITY  item          "../item.rng">
<!ENTITY  values        "../values.rng">
<!ENTITY  generic       "../generic.rng">
<!ENTITY  breast-values  "values.rng">
<!ENTITY  core          "../core-sections.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://cap#"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:breast="http://cap#breast/">
    <!--=============================================================-->
    <include href="&breast-values;"/>
    <!--=============================================================-->
    <include href="&core;">
        <start>
            <ref name="resection"/>
        </start>
        <define name="schemaLocation">
            <value>http://cap#breast/</value>
        </define>
        <define name="version">
            <value>1.0a</value>
        </define>
        <define name="semantics">
            <value>http://cap#breast/snomedct/ http://cap#breast/radlex/</value>
        </define>
    </include>
    <!--=============================================================-->
    <define name="accessory.extension">
        <optional>
            <ref name="accessory.microcalcifications"/>
        </optional>
        <ref name="accessory.dcis"/>
        <ref name="accessory.lcis"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>ductal carcinoma-in-situ</value>
                </define>
                <define name="content">
                    <parentRef name="accessory.dcis.result"/>
                    <optional>
                        <parentRef name="accessory.dcis.amount"/>
                    </optional>
                    <optional>
                        <parentRef name="accessory.dcis.pattern"/>
                    </optional>
                    <optional>
                        <parentRef name="accessory.dcis.grade"/>
                    </optional>
                    <optional>
                        <parentRef name="accessory.dcis.necrosis"/>
                    </optional>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.result">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>result</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
                <define name="extension">
                    <optional>
                        <attribute name="modifier">
                            <parentRef name="accessory.dcis.result.modifier.valueset"/>
                        </attribute>
                    </optional>
                </define>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.amount">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>size</value>
                </define>
                <define name="content">
                    <choice>
                        <parentRef name="accessory.dcis.size"/>
                        <parentRef name="accessory.dcis.blocks"/>
                        <group>
                            <parentRef name="accessory.dcis.size"/>
                            <parentRef name="accessory.dcis.blocks"/>
                        </group>
                    </choice>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.size">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>size</value>
                </define>
                <define name="response">
                    <ref name="size"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.blocks">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>blocks involved</value>
                </define>
                <define name="content">
                    <parentRef name="accessory.dcis.blocks.positive"/>
                    <parentRef name="accessory.dcis.blocks.total"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.blocks.positive">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>positive</value>
                </define>
                <define name="response">
                    <ref name="tally"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.blocks.total">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>total</value>
                </define>
                <define name="response">
                    <ref name="tally"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.pattern">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>architectural pattern</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="accessory.dcis.pattern.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.grade">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>grade</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="accessory.dcis.grade.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.dcis.necrosis">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>necrosis</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="accessory.dcis.necrosis.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.lcis">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>lobular carcinoma-in-situ</value>
                </define>
                <define name="content">
                    <parentRef name="lcis.content"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="lcis.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>extent</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="accessory.microcalcifications">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>microcalcifications</value>
                </define>
                <define name="response">
                    <ref name="selectMany"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="accessory.microcalcifications.valueset"/>
            </define>
        </grammar>
    </define>
    <!--=============================================================-->
    <define name="additional.extension">
        <empty/>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="extent.extension">
        <!--<ref name="extent.skin"/>-->
        <ref name="extent.skin.invasion"/>
        <ref name="extent.skin.ulceration"/>
        <ref name="extent.skin.satellite"/>
        <ref name="extent.skin.dermalLymphatics"/>
        <ref name="extent.underlying"/>
        <ref name="extent.nipple"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.skin.invasion">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>skin invasion</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.skin.ulceration">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>skin ulceration</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.skin.satellite">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>skin satellite nodules</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.skin.dermalLymphatics">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>dermal lymphatic invasion</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.underlying">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>underlying structures</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="extent.underlying.valueset"/>
            </define>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.nipple">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>nipple Paget disease</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
    </define>
    <!--=============================================================-->
    <define name="nodes.nodeGroup.extension">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectMany"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="nodes.technique.valueset"/>
                </define>
            </grammar>
        </optional>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.nodeGroup.tally.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>total</value>
                </define>
                <define name="response">
                    <ref name="tally"/>
                </define>
            </include>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>negative</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>negative</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                    <define name="extension">
                        <attribute name="modifier">
                            <value>with negative RT-PCR</value>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>negative</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                    <define name="extension">
                        <attribute name="modifier">
                            <value>with positive RT-PCR</value>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>negative</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                    <define name="extension">
                        <attribute name="modifier">
                            <value>with isolated tumor cells</value>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>positive</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                    <define name="extension">
                        <attribute name="modifier">
                            <value>micrometastsis</value>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>positive</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>regressed</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>specify</value>
                    </define>
                    <define name="response">
                        <ref name="tally"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="specimen.laterality">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>laterality</value>
                </define>
                <define name="response">
                    <parentRef name="laterality.valueset"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--=============================================================-->
    <define name="studies.extension">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>estrogen receptor</value>
                </define>
                <define name="content">
                    <parentRef name="studies.erpr.result"/>
                    <parentRef name="studies.erpr.method.content"/>
                </define>
            </include>
        </grammar>
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>progesterone receptor</value>
                </define>
                <define name="content">
                    <parentRef name="studies.erpr.result"/>
                    <parentRef name="studies.erpr.method.content"/>
                </define>
            </include>
        </grammar>
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>HER2-neu</value>
                </define>
                <define name="content">
                    <parentRef name="studies.her2.result"/>
                    <parentRef name="studies.her2.method.content"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.her2.result">
        <choice>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.her2.imm.result.valueset"/>
                </define>
            </grammar>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="content">
                        <parentRef name="studies.her2.fish.result.content"/>
                    </define>
                </include>
            </grammar>
        </choice>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.her2.fish.result.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>her2 gene copy number</value>
                </define>
                <define name="response">
                    <ref name="quantity"/>
                </define>
                <define name="unit.valueset">
                    <value>per cell</value>
                </define>
            </include>
            <define name="valueset">
                <data type="float">
                    <param name="minInclusive">0.0</param>
                </data>
            </define>
        </grammar>
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>chromosome 17 copy number</value>
                </define>
                <define name="response">
                    <ref name="quantity"/>
                </define>
                <define name="unit.valueset">
                    <value>per cell</value>
                </define>
            </include>
            <define name="valueset">
                <data type="float">
                    <param name="minInclusive">0.0</param>
                </data>
            </define>
        </grammar>
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>her2 copy number ratio</value>
                </define>
                <define name="response">
                    <ref name="ratio"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.her2.method">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>method</value>
                </define>
                <define name="content">
                    <parentRef name="studies.her2.method.content"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.her2.method.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>technique</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <choice>
                    <parentRef name="studies.her2.method.technique.valueset"/>
                </choice>
            </define>
        </grammar>
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>source</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="studies.erpr.method.source.valueset"/>
            </define>
        </grammar>
        <grammar>
            <include href="&item;">
                <define name="name">
                    <choice>
                        <value>antibody</value>
                        <value>assay</value>
                    </choice>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
                <define name="extension">
                    <attribute name="vendor">
                        <choice>
                            <parentRef name="base.valueset"/>
                            <data type="string"/>
                        </choice>
                    </attribute>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.erpr.result">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>result</value>
                </define>
                <define name="response">
                    <ref name="percent"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.erpr.method">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>method</value>
                </define>
                <define name="content">
                    <parentRef name="studies.erpr.method.content"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="studies.erpr.method.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>technique</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="studies.erpr.method.technique.valueset"/>
            </define>
        </grammar>
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>source</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="studies.erpr.method.source.valueset"/>
            </define>
        </grammar>
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>antibody</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                    <define name="extension">
                        <attribute name="vendor">
                            <choice>
                                <parentRef name="base.valueset"/>
                                <data type="string"/>
                            </choice>
                        </attribute>
                    </define>
                </include>
            </grammar>
        </optional>
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>fixative</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.erpr.method.fixative.valueset"/>
                </define>
            </grammar>
        </optional>
    </define>
    <!--=============================================================-->
    <define name="tumor.extension">
        <ref name="tumor.histologicScore"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.histologicScore">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>Nottingham score</value>
                </define>
                <define name="response">
                    <element name="response">
                        <attribute name="modifier">
                            <value>glands</value>
                        </attribute>
                        <attribute name="value">
                            <ref name="valueset"/>
                        </attribute>
                    </element>
                    <element name="response">
                        <attribute name="modifier">
                            <value>nuclei</value>
                        </attribute>
                        <attribute name="value">
                            <ref name="valueset"/>
                        </attribute>
                    </element>
                    <element name="response">
                        <attribute name="modifier">
                            <value>mitoses</value>
                        </attribute>
                        <attribute name="value">
                            <ref name="valueset"/>
                        </attribute>
                    </element>
                </define>
                <define name="valueset">
                    <parentRef name="tumor.grade.valueset"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--=============================================================-->
</grammar>
