branches/pathcentral/xsd_schemas/breast/values.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://purl.org/pathology/ecc/"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:ecc="http://purl.org/pathology/ecc/" xmlns:rng="http://relaxng.org/ns/structure/1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:redefine schemaLocation="../framework/values.xsd">
        <xs:simpleType name="accessory.lymphvascular.sitespecific.values">
            <xs:restriction base="ecc:accessory.lymphvascular.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="accessory.perineural.sitespecific.values">
            <xs:restriction base="ecc:accessory.perineural.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="accessory.treatmentResponse.sitespecific.values">
            <xs:restriction base="ecc:accessory.treatmentResponse.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="additional.finding.sitespecific.values">
            <xs:restriction base="ecc:additional.finding.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="additional.finding.of.sitespecific.values">
            <xs:restriction base="ecc:additional.finding.of.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="distant.metastaticSite.name.sitespecific.values">
            <xs:restriction base="ecc:distant.metastaticSite.name.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="distant.metastaticSite.result.for.sitespecific.values">
            <xs:restriction base="ecc:distant.metastaticSite.result.for.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="extent.contiguousExtension.focality.sitespecific.values">
            <xs:restriction base="ecc:extent.contiguousExtension.focality.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="extent.contiguousExtension.for.sitespecific.values">
            <xs:restriction base="ecc:extent.contiguousExtension.for.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="extent.contiguousExtension.to.sitespecific.values">
            <xs:restriction base="ecc:extent.contiguousExtension.to.sitespecific.values">
                <xs:enumeration value="skin"/>
                <xs:enumeration value="pectoralis muscle"/>
                <xs:enumeration value="chest wall"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="extent.size.sitespecific.values">
            <xs:restriction base="ecc:extent.size.sitespecific.values">
                <xs:enumeration value="microinvasion"/>
                <xs:enumeration value="no residual carcinoma"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="history.clinical.sitespecific.values">
            <xs:restriction base="ecc:history.clinical.sitespecific.values">
                <xs:enumeration value="palpable mass"/>
                <xs:enumeration value="nipple discharge"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="history.pathology.sitespecific.values">
            <xs:restriction base="ecc:history.pathology.sitespecific.values">
                <xs:enumeration value="breast carcinoma, NOS"/>
                <xs:enumeration value="ductal carcinoma-in-situ"/>
                <xs:enumeration value="lobular carcinoma-in-situ"/>
                <xs:enumeration value="invasive ductal carcinoma"/>
                <xs:enumeration value="invasive lobular carcinoma"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="history.priorTherapy.sitespecific.values">
            <xs:restriction base="ecc:history.priorTherapy.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="history.radiology.sitespecific.values">
            <xs:restriction base="ecc:history.radiology.sitespecific.values">
                <xs:enumeration value="mass"/>
                <xs:enumeration value="architectural distortion"/>
                <xs:enumeration value="microcalcifications"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="margins.margin.focality.sitespecific.values">
            <xs:restriction base="ecc:margins.margin.focality.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="margins.margin.name.sitespecific.values">
            <xs:restriction base="ecc:margins.margin.name.sitespecific.values">
                <xs:enumeration value="superior"/>
                <xs:enumeration value="inferior"/>
                <xs:enumeration value="anterior"/>
                <xs:enumeration value="posterior"/>
                <xs:enumeration value="medial"/>
                <xs:enumeration value="lateral"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="margins.margin.result.for.sitespecific.values">
            <xs:restriction base="ecc:margins.margin.result.for.sitespecific.values">
                <!-- NEEDS WORK -->
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="nodes.nodeGroup.name.sitespecific.values">
            <xs:restriction base="ecc:nodes.nodeGroup.name.sitespecific.values">
                <xs:enumeration value="low axillary"/>
                <xs:enumeration value="mid axillary"/>
                <xs:enumeration value="high axillary"/>
                <xs:enumeration value="supraclavicular"/>
                <xs:enumeration value="internal mammary"/>
                <xs:enumeration value="sentinel"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="nodes.nodeGroup.result.for.sitespecific.values">
            <xs:restriction base="ecc:nodes.nodeGroup.result.for.sitespecific.values">
                <!-- NEEDS WORK -->
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="nodes.nodeGroup.result.tumorRegression.sitespecific.values">
            <xs:restriction base="ecc:nodes.nodeGroup.result.tumorRegression.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="nodes.nodeGroup.technique.sitespecific.values">
            <xs:restriction base="ecc:nodes.nodeGroup.technique.sitespecific.values">
                <!-- NEEDS WORK -->
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="nodes.nodeGroup.extracapsular.sitespecific.values">
            <xs:restriction base="ecc:nodes.nodeGroup.extracapsular.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="specimen.integrity.sitespecific.values">
            <xs:restriction base="ecc:specimen.integrity.sitespecific.values">
                <xs:enumeration value="multiple designated specimens"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="specimen.procedure.sitespecific.values">
            <xs:restriction base="ecc:specimen.procedure.sitespecific.values">
                <xs:enumeration value="excision"/>
                <xs:enumeration value="excision, wire-guided"/>
                <xs:enumeration value="total mastectomy"/>
                <xs:enumeration value="sentinel lymph node sampling"/>
                <xs:enumeration value="partial axillary dissection"/>
                <xs:enumeration value="complete axillary dissection"/>
                <xs:enumeration value="intramammary lymph node biopsy"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="specimen.site.sitespecific.values">
            <xs:restriction base="ecc:specimen.site.sitespecific.values">
                <xs:enumeration value="upper outer quadrant"/>
                <xs:enumeration value="lower outer quadrant"/>
                <xs:enumeration value="upper inner quadrant"/>
                <xs:enumeration value="lower inner quadrant"/>
                <xs:enumeration value="central"/>
                <xs:enumeration value="nipple"/>
                <xs:enumeration value="axillary tail"/>
                <xs:enumeration value="partial breast"/>
                <xs:enumeration value="total breast"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="stage.group.sitespecific.values">
            <xs:restriction base="ecc:stage.group.sitespecific.values">
                <xs:enumeration value="0"/>
                <xs:enumeration value="IA"/>
                <xs:enumeration value="IB"/>
                <xs:enumeration value="IIA"/>
                <xs:enumeration value="IIB"/>
                <xs:enumeration value="IIIA"/>
                <xs:enumeration value="IIIB"/>
                <xs:enumeration value="IIIC"/>
                <xs:enumeration value="IV"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="stage.multiplicity.sitespecific.values">
            <xs:restriction base="ecc:stage.multiplicity.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="stage.pN.sitespecific.values">
            <xs:restriction base="ecc:stage.pN.sitespecific.values">
                <xs:enumeration value="X"/>
                <xs:enumeration value="0"/>
                <xs:enumeration value="0(i-)"/>
                <xs:enumeration value="0(i+)"/>
                <xs:enumeration value="0(mol-)"/>
                <xs:enumeration value="0(mol+)"/>
                <xs:enumeration value="1"/>
                <xs:enumeration value="1mi"/>
                <xs:enumeration value="1a"/>
                <xs:enumeration value="1b"/>
                <xs:enumeration value="1c"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="2a"/>
                <xs:enumeration value="2b"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="3a"/>
                <xs:enumeration value="3b"/>
                <xs:enumeration value="3c"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="stage.pM.sitespecific.values">
            <xs:restriction base="ecc:stage.pM.sitespecific.values">
                <xs:enumeration value="0"/>
                <xs:enumeration value="0(i+)"/>
                <xs:enumeration value="1"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="stage.prefix.sitespecific.values">
            <xs:restriction base="ecc:stage.prefix.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="stage.pT.sitespecific.values">
            <xs:restriction base="ecc:stage.pT.sitespecific.values">
                <xs:enumeration value="X"/>
                <xs:enumeration value="0"/>
                <xs:enumeration value="is"/>
                <xs:enumeration value="is (DCIS)"/>
                <xs:enumeration value="is (LCIS)"/>
                <xs:enumeration value="is (Paget)"/>
                <xs:enumeration value="1"/>
                <xs:enumeration value="1mi"/>
                <xs:enumeration value="1a"/>
                <xs:enumeration value="1b"/>
                <xs:enumeration value="1c"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="4a"/>
                <xs:enumeration value="4b"/>
                <xs:enumeration value="4c"/>
                <xs:enumeration value="4d"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.focus.type.sitespecific.values">
            <xs:restriction base="ecc:tumor.focus.type.sitespecific.values">
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.grade.for.sitespecific.values">
            <xs:restriction base="ecc:tumor.grade.for.sitespecific.values">
                <xs:enumeration value="combined"/>
                <xs:enumeration value="glands"/>
                <xs:enumeration value="nuclei"/>
                <xs:enumeration value="mitoses"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.grade.sitespecific.values">
            <xs:restriction base="ecc:tumor.grade.sitespecific.values">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.gradeSystem.sitespecific.values">
            <xs:restriction base="ecc:tumor.gradeSystem.sitespecific.values">
                <xs:enumeration value="nottingham"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.histologicType.sitespecific.values">
            <xs:restriction base="ecc:tumor.histologicType.sitespecific.values">
                <xs:enumeration value="ductal carcinoma"/>
                <xs:enumeration value="lobular carcinoma"/>
                <xs:enumeration value="carcinoma ductal-lobular"/>
                <xs:enumeration value="mucinous carcinoma"/>
                <xs:enumeration value="medullary carcinoma"/>
                <xs:enumeration value="papillary carcinoma"/>
                <xs:enumeration value="micropapillary carcinoma"/>
                <xs:enumeration value="tubular carcinoma"/>
                <xs:enumeration value="cribriform carcinoma"/>
                <xs:enumeration value="carcinoma type undetermined"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.multiplicity.sitespecific.values">
            <xs:restriction base="ecc:tumor.multiplicity.sitespecific.values">
                <!-- NEEDS WORK -->
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="tumor.site.sitespecific.values">
            <xs:restriction base="ecc:tumor.site.sitespecific.values">
                <xs:enumeration value="upper outer quadrant"/>
                <xs:enumeration value="lower outer quadrant"/>
                <xs:enumeration value="upper inner quadrant"/>
                <xs:enumeration value="lower inner quadrant"/>
                <xs:enumeration value="central"/>
                <xs:enumeration value="nipple"/>
                <xs:enumeration value="axillary tail"/>
                <xs:enumeration value="12:00"/>
                <xs:enumeration value="1:00"/>
                <xs:enumeration value="2:00"/>
                <xs:enumeration value="3:00"/>
                <xs:enumeration value="4:00"/>
                <xs:enumeration value="5:00"/>
                <xs:enumeration value="6:00"/>
                <xs:enumeration value="7:00"/>
                <xs:enumeration value="8:00"/>
                <xs:enumeration value="9:00"/>
                <xs:enumeration value="10:00"/>
                <xs:enumeration value="11:00"/>
                <xs:enumeration value="specify"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:redefine>
    <xs:simpleType name="accessory.cis.blocks.type.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="RT-PCR negative"/>
            <xs:enumeration value="specify"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="accessory.dcis.pattern.values">
        <xs:union memberTypes="ecc:base.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="comedocarcinoma"/>
                    <xs:enumeration value="cribriform"/>
                    <xs:enumeration value="micropapillary"/>
                    <xs:enumeration value="papillary"/>
                    <xs:enumeration value="solid"/>
                    <xs:enumeration value="specify"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="accessory.dcis.grade.values">
        <xs:union memberTypes="ecc:base.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="low"/>
                    <xs:enumeration value="intermediate"/>
                    <xs:enumeration value="high"/>
                    <xs:enumeration value="specify"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="accessory.dcis.necrosis.values">
        <xs:union memberTypes="ecc:qualitative.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="accessory.microcalcifications.values">
        <xs:union memberTypes="ecc:base.values">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="in DCIS"/>
                    <xs:enumeration value="in invasive carcinoma"/>
                    <xs:enumeration value="in non-neoplastic tissue"/>
                    <xs:enumeration value="specify"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="accessory.dcis.result.modifier.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="extensive intraductal component"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unnreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nodes.nodeGroup.result.itc.values">
        <xs:union memberTypes="ecc:qualitative.values"/>
    </xs:simpleType>
    <xs:simpleType name="nodes.nodeGroup.result.micrometastasis.values">
        <xs:union memberTypes="ecc:qualitative.values"/>
    </xs:simpleType>
    <xs:simpleType name="studies.erpr.method.antibody.values">
        <xs:union memberTypes="ecc:base.values xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="studies.erpr.method.antibody.vendor.values">
        <xs:union memberTypes="ecc:base.values">
            <xs:simpleType>
                <xs:restriction base="xs:token"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="studies.erpr.method.fixative.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="neutral buffered formalin"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studies.erpr.method.source.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="this specimen"/>
            <xs:enumeration value="pending"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studies.erpr.method.technique.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="immunohistochemistry"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studies.erpr.result.values">
        <xs:union memberTypes="ecc:nonNegativeDecimal">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="pending"/>
                    <xs:enumeration value="inapplicable"/>
                    <xs:enumeration value="unreported"/>
                    <xs:enumeration value="specify"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.fish.result.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="not performed"/>
            <xs:enumeration value="pending"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.imm.result.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="negative (score 0)"/>
            <xs:enumeration value="negative (score 1+)"/>
            <xs:enumeration value="equivocal (score 2+)"/>
            <xs:enumeration value="positive (score 3+)"/>
            <xs:enumeration value="pending"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.method.antibody.values">
        <xs:union memberTypes="ecc:base.values xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.method.antibody.vendor.values">
        <xs:union memberTypes="ecc:base.values xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.method.assay.values">
        <xs:union memberTypes="ecc:base.values xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.method.assay.vendor.values">
        <xs:union memberTypes="ecc:base.values xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="studies.her2.method.technique.values">
        <xs:restriction base="xs:token">
            <xs:enumeration value="immunohistochemistry"/>
            <xs:enumeration value="FISH"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
