basis/common-valuesets.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <a:documentation>
        <a:documentation>============================================</a:documentation>
        <a:documentation>============================================</a:documentation>
        <a:documentation>============= BASE SECTION VALUESETS =========+=====</a:documentation>
        <a:documentation>============================================</a:documentation>
    </a:documentation>
    <div>
        <a:documentation>== COMMON VALUESETS ==</a:documentation>
        <define name="common.severity.values">
            <choice>
                <value>none</value>
                <value>mild</value>
                <value>moderate</value>
                <value>marked</value>
            </choice>
        </define>
        <define name="common.lengthUnit.values">
            <choice>
                <value>mm</value>
                <value>cm</value>
                <value>in</value>
                <value>other</value>
            </choice>
        </define>
        <define name="common.inflammation.values">
            <choice>
                <value>acute</value>
                <value>acute and chronic</value>
                <value>chronic</value>
                <value>other</value>
            </choice>
        </define>
        <define name="common.laterality.values">
            <choice>
                <value>right</value>
                <value>left</value>
                <value>other</value>
            </choice>
        </define>
        <define name="common.date.values">
            <choice>
                <data type="date"/>
                <data type="gYear"/>
                <data type="gYearMonth"/>
            </choice>
        </define>
        <define name="common.extendedBoolean.values">
            <choice>
                <value>positive</value>
                <value>negative</value>
                <value>indeterminate</value>
                <value>equivocal</value>
                <value>inapplicable</value>
                <value>not reported</value>
            </choice>
        </define>
        <define name="common.weightUnit.values">
            <choice>
                <value>g</value>
                <value>kg</value>
                <value>other</value>
            </choice>
        </define>
        <define name="modifier.values">
            <choice>
                <value>equal</value>
                <value>lessThan</value>
                <value>lessThanOrEqual</value>
                <value>greaterThanOrEqual</value>
                <value>greaterThan</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== accessory SECTION VALUESETS ==</a:documentation>
        <define combine="choice" name="venousInvasion.values">
            <ref name="common.extendedBoolean.values"/>
        </define>
        <define combine="choice" name="lymphovascularInvasion.values">
            <ref name="common.extendedBoolean.values"/>
        </define>
        <define combine="choice" name="perineuralInvasion.values">
            <ref name="common.extendedBoolean.values"/>
        </define>
        <define combine="choice" name="treatmentEffect.values">
            <choice>
                <value>inapplicable</value>
                <value>noResponse</value>
                <value>slightResponse</value>
                <value>markedResponse</value>
                <value>completeResponse</value>
                <value>other</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== additional SECTION VALUESETS ==</a:documentation>
        <define name="additional.item.name.values">
            <data type="token"/>
        </define>
    </div>
    <div>
        <a:documentation>== clinical SECTION VALUESETS ==</a:documentation>
        <define combine="choice" name="clinical.priorTherapy.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="clinical.clinicalFinding.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="clinical.radiologicFinding.values">
            <data type="token"/>
        </define>
    </div>
    <div>
        <a:documentation>== extent SECTION VALUESETS ==</a:documentation>
        <!-- None -->
    </div>
    <div>
        <a:documentation>== margins SECTION VALUESETS ==</a:documentation>
        <define combine="choice" name="margins.margin.location.values">
            <data type="token"/>
        </define>
        <define name="margins.margin.value.values">
            <ref name="common.extendedBoolean.values"/>
        </define>
        <define name="margins.margin.closest.values">
            <ref name="common.extendedBoolean.values"/>
        </define>
        <a:documentation>This needs to be looked at -- seems to be in the wrong
            place</a:documentation>
        
        <a:documentation>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</a:documentation>
    </div>
    <div>
        <a:documentation>== metastases SECTION VALUESETS ==</a:documentation>
        <define name="metastases.metastasis.site.values">
            <data type="token"/>
        </define>
        <define name="metastases.metastasis.howDiagnosed.values">
            <choice>
                <value>this accesion</value>
                <value>prior accession</value>
                <value>outside report</value>
                <value>clinical history</value>
                <value>other</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== nodes SECTION VALUESETS ==</a:documentation>
        <define combine="choice" name="nodes.group.status.values">
            <choice>
                <value>total</value>
                <value>negative</value>
                <value>positive</value>
                <value>regressed</value>
                <value>other</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== specimen SECTION VALUESETS ==</a:documentation>
        <define combine="choice" name="specimen.procedure.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="specimen.site.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="specimen.integrity.values">
            <ref name="common.extendedBoolean.values"/>
        </define>
    </div>
    <div>
        <a:documentation>== stage SECTION VALUESETS ==</a:documentation>
        <define name="stage.T.values">
            <choice>
                <value>X</value>
                <value>0</value>
                <value>is</value>
                <value>1</value>
                <value>1a</value>
                <value>1b</value>
                <value>1c</value>
                <value>1a1</value>
                <value>1a2</value>
                <value>1b1</value>
                <value>1b2</value>
                <value>1c</value>
                <value>1mi</value>
                <value>2</value>
                <value>2a</value>
                <value>2b</value>
                <value>2c</value>
                <value>2d</value>
                <value>2a1</value>
                <value>2a2</value>
                <value>2b</value>
                <value>3</value>
                <value>3a</value>
                <value>3b</value>
                <value>3c</value>
                <value>4</value>
                <value>4a</value>
                <value>4b</value>
                <value>4c</value>
                <value>4d</value>
            </choice>
        </define>
        <define name="stage.N.values">
            <choice>
                <value>X</value>
                <value>0</value>
                <value>1</value>
                <value>other</value>
            </choice>
        </define>
        <define name="stage.M.values">
            <choice>
                <value>X</value>
                <value>1</value>
                <value>other</value>
            </choice>
        </define>
        <define name="stage.classification.values">
            <value>p</value>
        </define>
        <define name="stage.prefix.values">
            <choice>
                <value>y</value>
                <value>r</value>
                <value>a</value>
                <value>other</value>
            </choice>
        </define>
        <define name="suffix-values">
            <choice>
                <value>m</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== studies SECTION VALUESETS ==</a:documentation>
        <define name="studies.study.name.values">
            <data type="token"/>
        </define>
        <define name="studies.study.value.values">
            <data type="token"/>
        </define>
        <define name="studies.study.method.values">
            <data type="token"/>
        </define>
    </div>
    <div>
        <a:documentation>== tumor SECTION VALUESETS ==</a:documentation>
        <define name="tumor.histologicType.value.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="tumor.grade.values">
            <choice>
                <value>not applicable</value>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>X</value>
                <value>other</value>
            </choice>
        </define>
        <define combine="choice" name="tumor.grade.system.values">
            <choice>
                <value>WHO</value>
                <value>not specified</value>
                <value>other</value>
            </choice>
        </define>
    </div>
</grammar>