branches/valuesAsElements/method/cap-cancer/common.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
-->
<!DOCTYPE grammar [
<!ENTITY value "../../common/value.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://www.cap.org/pert/2009/01/" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--  -->
    <include href="../../common/base.rng"/>
    <a:documentation>
        <a:documentation>============================================</a:documentation>
        <a:documentation>============================================</a:documentation>
        <a:documentation>=============== TEST HARNESS ===============</a:documentation>
        <a:documentation>============================================</a:documentation>
    </a:documentation>
    <start>
        <element name="synopsis">
            <interleave>
                <ref name="Accessory"/>
                <ref name="Additional"/>
                <ref name="Clinical"/>
                <ref name="Extent"/>
                <ref name="Margins"/>
                <ref name="Metastases"/>
                <ref name="Nodes"/>
                <ref name="Specimen"/>
                <ref name="Stage"/>
                <ref name="Studies"/>
                <ref name="Tumor"/>
            </interleave>
        </element>
    </start>
    <!--  -->
    <div>
        <a:documentation>== Synopsis CONTENT MODEL ==</a:documentation>
        <a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>========== Synopsis CONTENT MODEL ==========</a:documentation>
            <a:documentation>============================================</a:documentation>
        </a:documentation>
        <define combine="interleave" name="Accessory">
            <a:documentation>-- Accessory SECTION --</a:documentation>
            <element name="Accessory">
                <ref name="Accessory.attrib"/>
                <interleave>
                    <ref name="Accessory.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Additional">
            <a:documentation>-- Additional SECTION --</a:documentation>
            <element name="Additional">
                <ref name="Additional.attrib"/>
                <interleave>
                    <ref name="Additional.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Clinical">
            <a:documentation>-- Clinical SECTION --</a:documentation>
            <element name="Clinical">
                <ref name="Clinical.attrib"/>
                <interleave>
                    <ref name="Clinical.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Extent">
            <a:documentation>-- Extent SECTION --</a:documentation>
            <element name="Extent">
                <ref name="Extent.attrib"/>
                <interleave>
                    <ref name="Extent.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Margins">
            <a:documentation>-- Margins SECTION --</a:documentation>
            <element name="Margins">
                <ref name="Margins.attrib"/>
                <interleave>
                    <ref name="Margins.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Metastases">
            <a:documentation>-- Metastases SECTION --</a:documentation>
            <element name="Metastases">
                <ref name="Metastases.attrib"/>
                <interleave>
                    <ref name="Metastases.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Nodes">
            <a:documentation>-- Nodes SECTION --</a:documentation>
            <element name="Nodes">
                <ref name="Nodes.attrib"/>
                <interleave>
                    <ref name="Nodes.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Specimen">
            <a:documentation>-- Specimen SECTION --</a:documentation>
            <element name="Specimen">
                <ref name="Specimen.attrib"/>
                <interleave>
                    <ref name="Specimen.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Stage">
            <a:documentation>-- Stage SECTION --</a:documentation>
            <element name="Stage">
                <ref name="Stage.attrib"/>
                <interleave>
                    <ref name="Stage.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Studies">
            <a:documentation>-- Studies SECTION --</a:documentation>
            <element name="Studies">
                <ref name="Studies.attrib"/>
                <interleave>
                    <ref name="Studies.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Tumor">
            <a:documentation>-- Tumor SECTION --</a:documentation>
            <element name="Tumor">
                <ref name="Tumor.attrib"/>
                <interleave>
                    <ref name="Tumor.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
    </div>
    <div>
        <a:documentation>== SECTION CONTENT MODELS ==</a:documentation>
        <a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>========== SECTION CONTENT MODELS ==========</a:documentation>
            <a:documentation>============================================</a:documentation>
        </a:documentation>
        <define combine="interleave" name="Accessory.content">
            <a:documentation>-- Accessory SECTION --</a:documentation>
            <interleave>
                <optional>
                    <a:documentation>.. VenousInvasion ELEMENT ..</a:documentation>
                    <element name="VenousInvasion">
                        <ref name="Accessory.VenousInvasion.attrib"/>
                        <interleave>
                            <ref name="Accessory.VenousInvasion.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
                <optional>
                    <a:documentation>.. LymphovascularInvasion ELEMENT ..</a:documentation>
                    <element name="LymphovascularInvasion">
                        <ref name="Accessory.LymphovascularInvasion.attrib"/>
                        <interleave>
                            <ref name="Accessory.LymphovascularInvasion.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
                <optional>
                    <a:documentation>.. PerineuralInvasion ELEMENT ..</a:documentation>
                    <element name="PerineuralInvasion">
                        <ref name="Accessory.PerineuralInvasion.attrib"/>
                        <interleave>
                            <ref name="Accessory.PerineuralInvasion.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
                <optional>
                    <a:documentation>.. TreatmentEffect ELEMENT ..</a:documentation>
                    <element name="TreatmentEffect">
                        <ref name="Accessory.TreatmentEffect.attrib"/>
                        <interleave>
                            <ref name="Accessory.TreatmentEffect.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
            </interleave>
        </define>
        <define combine="interleave" name="Additional.content">
            <a:documentation>-- Additional SECTION --</a:documentation>
            <zeroOrMore>
                <a:documentation>.. Item ELEMENT ..</a:documentation>
                <element name="Item">
                    <ref name="Additional.Item.attrib"/>
                    <interleave>
                        <ref name="Additional.Item.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </zeroOrMore>
        </define>
        <define combine="interleave" name="Clinical.content">
            <a:documentation>-- Clinical SECTION --</a:documentation>
            <interleave>
                <zeroOrMore>
                    <a:documentation>.. PriorTherapy ELEMENT ..</a:documentation>
                    <element name="PriorTherapy">
                        <ref name="Clinical.PriorTherapy.attrib"/>
                        <interleave>
                            <ref name="Clinical.PriorTherapy.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <a:documentation>.. ClinicalFinding ELEMENT ..</a:documentation>
                    <element name="ClinicalFinding">
                        <ref name="Clinical.ClinicalFinding.attrib"/>
                        <interleave>
                            <ref name="Clinical.ClinicalFinding.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <a:documentation>.. RadiologicFinding ELEMENT ..</a:documentation>
                    <element name="RadiologicFinding">
                        <ref name="Clinical.RadiologicFinding.attrib"/>
                        <interleave>
                            <ref name="Clinical.RadiologicFinding.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
            </interleave>
        </define>
        <define combine="interleave" name="Extent.content">
            <a:documentation>-- Extent SECTION --</a:documentation>
            <element name="Size">
                <ref name="Extent.Size.attrib"/>
                <interleave>
                    <ref name="Extent.Size.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
            <ref name="common.size">
                <a:documentation>.. Size ELEMENT ..</a:documentation>
            </ref>
        </define>
        <define combine="interleave" name="Margins.content">
            <a:documentation>-- Margins SECTION --</a:documentation>
            <zeroOrMore>
                <a:documentation>.. Margin ELEMENT ..</a:documentation>
                <element name="margin">
                    <ref name="Margins.margin.attrib"/>
                    <interleave>
                        <ref name="Margins.margin.content"/>
                        <ref name="standard.content"/>
                    </interleave>
                </element>
            </zeroOrMore>
        </define>
        <define combine="interleave" name="Metastases.content">
            <a:documentation>-- Metastases SECTION --</a:documentation>
            <zeroOrMore>
                <a:documentation>.. Metastasis ELEMENT ..</a:documentation>
                <element name="metastasis">
                    <ref name="Metastases.metastasis.attrib"/>
                    <interleave>
                        <ref name="Margins.margin.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </zeroOrMore>
        </define>
        <define combine="interleave" name="Nodes.content">
            <a:documentation>-- Nodes SECTION --</a:documentation>
            <zeroOrMore>
                <a:documentation>.. Group ELEMENT ..</a:documentation>
                <element name="group">
                    <ref name="Nodes.group.attrib"/>
                    <interleave>
                        <ref name="Nodes.group.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </zeroOrMore>
        </define>
        <define combine="interleave" name="Specimen.content">
            <a:documentation>-- Specimen SECTION --</a:documentation>
            <ref name="Specimen.attrib"/>
            <interleave>
                <oneOrMore>
                    <a:documentation>.. Procedure ELEMENT ..</a:documentation>
                    <element name="procedure">
                        <ref name="Specimen.procedure.attrib"/>
                        <interleave>
                            <ref name="Specimen.procedure.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </oneOrMore>
                <oneOrMore>
                    <a:documentation>.. Site ELEMENT ..</a:documentation>
                    <element name="site">
                        <ref name="Specimen.site.attrib"/>
                        <interleave>
                            <ref name="Specimen.site.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </oneOrMore>
                <oneOrMore>
                    <a:documentation>.. Tumor Location ELEMENT ..</a:documentation>
                    <element name="TumorLocation">
                        <ref name="Specimen.TumorLocation.attrib"/>
                        <interleave>
                            <ref name="Specimen.TumorLocation.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </oneOrMore>
                <optional>
                    <a:documentation>.. Integrity ELEMENT ..</a:documentation>
                    <element name="integrity">
                        <ref name="Specimen.integrity.attrib"/>
                        <interleave>
                            <ref name="Specimen.integrity.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
                <optional>
                    <a:documentation>.. Gross Size ELEMENT ..</a:documentation>
                    <element name="grossSize">
                        <ref name="Specimen.grossSize.attrib"/>
                        <interleave>
                            <ref name="Specimen.grossSize.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
                <optional>
                    <a:documentation>.. Weight ELEMENT ..</a:documentation>
                    <element name="weight">
                        <ref name="Specimen.weight.attrib"/>
                        <interleave>
                            <ref name="Specimen.weight.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </optional>
            </interleave>
        </define>
        <define combine="interleave" name="Stage.content">
            <a:documentation>-- Stage SECTION --</a:documentation>
            <optional>
                <a:documentation>.. Stage Prefix ELEMENT(s) ..</a:documentation>
                <ref name="Stage.prefix"/>
                <optional>
                    <ref name="Stage.prefix"/>
                    <optional>
                        <ref name="Stage.prefix"/>
                    </optional>
                </optional>
            </optional>
            <element name="classification">
                <a:documentation>.. Classification ELEMENT ..</a:documentation>
                <ref name="Stage.classification.attrib"/>
                <interleave>
                    <ref name="Stage.classification.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
            <element name="T">
                <a:documentation>.. T ELEMENT ..</a:documentation>
                <ref name="Stage.T.attrib"/>
                <interleave>
                    <ref name="Stage.T.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
            <element name="N">
                <a:documentation>.. N ELEMENT ..</a:documentation>
                <ref name="Stage.N.attrib"/>
                <interleave>
                    <ref name="Stage.N.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
            <element name="M">
                <a:documentation>.. M ELEMENT ..</a:documentation>
                <ref name="Stage.M.attrib"/>
                <interleave>
                    <ref name="Stage.M.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="Studies.content">
            <a:documentation>-- Studies SECTION --</a:documentation>
            <zeroOrMore>
                <a:documentation>.. Study ELEMENT ..</a:documentation>
                <element name="study">
                    <ref name="Studies.study.attrib"/>
                    <interleave>
                        <ref name="Studies.study.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </zeroOrMore>
        </define>
        <define combine="interleave" name="Tumor.content">
            <a:documentation>-- Tumor SECTION --</a:documentation>
            <interleave>
                <oneOrMore>
                    <a:documentation>.. HistologicType ELEMENT ..</a:documentation>
                    <element name="histologicType">
                        <ref name="Tumor.histologicType.attrib"/>
                        <interleave>
                            <ref name="Tumor.histologicType.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </oneOrMore>
                <element name="grade">
                    <a:documentation>.. Grade ELEMENT ..</a:documentation>
                    <ref name="Tumor.grade.attrib"/>
                    <interleave>
                        <ref name="Tumor.grade.content"/>
                        <ref name="standard.content"/>
                    </interleave>
                    <optional>
                        <a:documentation>.. System ELEMENT ..</a:documentation>
                        <element name="system">
                            <ref name="Tumor.grade.system.attrib"/>
                            <interleave>
                                <ref name="Tumor.grade.system.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                </element>
            </interleave>
        </define>
    </div>
    <div>
        <a:documentation>== Item CONTENT MODELS ==</a:documentation>
        <a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>=========== Item CONTENT MODELS ============</a:documentation>
            <a:documentation>============================================</a:documentation>
        </a:documentation>
        <div>
            <a:documentation>-- Accessory SECTION --</a:documentation>
            <define combine="interleave" name="Accessory.VenousInvasion.content">
                <a:documentation>.. VenousInvasion CONTENT ..</a:documentation>
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="VenousInvasion.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="Accessory.LymphovascularInvasion.content">
                <a:documentation>.. LymphovascularInvasion CONTENT ..</a:documentation>
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="LymphovascularInvasion.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="Accessory.PerineuralInvasion.content">
                <a:documentation>.. PerineuralInvasion CONTENT ..</a:documentation>
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="PerineuralInvasion.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="Accessory.TreatmentEffect.content">
                <a:documentation>.. TreatmentEffect CONTENT ..</a:documentation>
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="TreatmentEffect.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- Additional SECTION</a:documentation>
            <define name="Additional.Item.content">
                <a:documentation>.. Item CONTENT ..</a:documentation>
                <grammar>
                    <include href="&value;"/>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- Clinical SECTION --</a:documentation>
            <define combine="interleave" name="Clinical.PriorTherapy.content">
                <a:documentation>.. PriorTherapy CONTENT..</a:documentation>
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="Clinical.PriorTherapy.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <element name="date">
                            <ref name="date.content"/>
                        </element>
                    </optional>
                </interleave>
            </define>
            <define combine="interleave" name="Clinical.ClinicalFinding.content">
                <a:documentation>.. ClinicalFinding CONTENT ..</a:documentation>
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="Clinical.ClinicalFinding.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <element name="date">
                            <ref name="date.content"/>
                        </element>
                    </optional>
                </interleave>
            </define>
            <define combine="interleave" name="Clinical.RadiologicFinding.content">
                <a:documentation>.. RadiologicFinding CONTENT ..</a:documentation>
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="Clinical.RadiologicFinding.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <element name="date">
                            <ref name="date.content"/>
                        </element>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- Extent SECTION --</a:documentation>
            <define name="Extent.Size.content">
                <a:documentation>.. Size CONTENT ..</a:documentation>
                <ref name="common.sizeContent"/>
            </define>
        </div>
        <div>
            <a:documentation>-- Margins SECTION --</a:documentation>
            <define combine="interleave" name="Margins.margin.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <start>
                                <element name="location">
                                    <parentRef name="Margins.margin.location.attrib"/>
                                    <ref name="result.content"/>
                                </element>
                            </start>
                            <define name="valueset">
                                <parentRef name="Margins.margin.location.values"/>
                            </define>
                        </include>
                    </grammar>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="Margins.margin.value.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <grammar>
                            <include href="&value;">
                                <start>
                                    <element name="closest">
                                        <parentRef name="Margins.margin.closest.attrib"/>
                                        <ref name="result.content"/>
                                    </element>
                                </start>
                                <define name="valueset">
                                    <parentRef name="Margins.margin.closest.values"/>
                                </define>
                            </include>
                        </grammar>
                    </optional>
                    <optional>
                        <grammar>
                            <include href="&value;">
                                <start>
                                    <element name="distance">
                                        <parentRef name="Margins.margin.distance.attrib"/>
                                        <ref name="result.content"/>
                                    </element>
                                </start>
                                <define name="valueset">
                                    <parentRef name="Margins.margin.distance.values"/>
                                </define>
                            </include>
                        </grammar>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- Metastases SECTION --</a:documentation>
            <define name="Metastases.metastasis.content">
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="site">
                                <parentRef name="Metastases.metastasis.site.attrib"/>
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="Metastases.metastasis.site.values"/>
                        </define>
                    </include>
                </grammar>
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="howDiagnosed">
                                <parentRef name="Metastases.metastasis.howDiagnosed.attrib"/>
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="Metastases.metastasis.howDiagnosed.values"/>
                        </define>
                    </include>
                </grammar>
                <ref name="common.size"/>
            </define>
        </div>
        <div>
            <a:documentation>-- Nodes SECTION --</a:documentation>
            <define name="Nodes.group.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <start>
                                <element name="laterality">
                                    <ref name="result.content"/>
                                </element>
                            </start>
                            <define name="valueset">
                                <parentRef name="laterality.values"/>
                            </define>
                        </include>
                    </grammar>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- Specimen SECTION --</a:documentation>
            <define combine="interleave" name="Specimen.procedure.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Specimen.procedure.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="Specimen.site.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Specimen.site.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="Specimen.TumorLocation.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Specimen.site.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="Specimen.integrity.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Specimen.integrity.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="choice" name="Specimen.grossSize.content">
                <ref name="common.size"/>
            </define>
            <define combine="choice" name="Specimen.weight.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <data type="float"/>
                        </define>
                    </include>
                </grammar>
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="unit">
                                <parentRef name="Specimen.weight.unit.attrib"/>
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="weightUnit.value"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- Stage SECTION --</a:documentation>
            <define name="Stage.prefix">
                <element name="prefix">
                    <ref name="Stage.prefix.attrib"/>
                    <interleave>
                        <ref name="Stage.prefix.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </define>
            <define name="Stage.prefix.content">
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="prefix">
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="Stage.prefix.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="Stage.T.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Stage.T.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="Stage.M.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Stage.M.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="Stage.N.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Stage.N.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="Stage.classification.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Stage.classification.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- Studies SECTION --</a:documentation>
            <define name="Studies.study.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="Studies.study.value.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <grammar>
                            <include href="&value;">
                                <start>
                                    <element name="method">
                                        <parentRef name="Studies.study.method.attrib"/>
                                        <ref name="result.content"/>
                                    </element>
                                </start>
                                <define name="valueset">
                                    <parentRef name="Studies.study.method.values"/>
                                </define>
                            </include>
                        </grammar>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- Tumor SECTION --</a:documentation>
            <define combine="choice" name="Tumor.histologicType.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Tumor.histologicType.value.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="choice" name="Tumor.grade.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Tumor.grade.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="Tumor.grade.system.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="Tumor.grade.system.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== ATTRIBUTE CONTENT MODELS ==</a:documentation>
        <a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>========= ATTRIBUTE CONTENT MODELS =========</a:documentation>
            <a:documentation>============================================</a:documentation>
        </a:documentation>
        <div>
            <a:documentation>-- Accessory SECTION --</a:documentation>
            <define combine="interleave" name="Accessory.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Accessory.TreatmentEffect.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Accessory.VenousInvasion.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Accessory.PerineuralInvasion.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Accessory.LymphovascularInvasion.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Additional SECTION</a:documentation>
            <define combine="interleave" name="Additional.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Additional.Item.attrib">
                <attribute name="name">
                    <ref name="Additional.Item.name.values"/>
                </attribute>
            </define>
        </div>
        <div>
            <a:documentation>-- Clinical SECTION --</a:documentation>
            <define combine="interleave" name="Clinical.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Clinical.PriorTherapy.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Clinical.ClinicalFinding.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Clinical.RadiologicFinding.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Extent SECTION --</a:documentation>
            <define combine="interleave" name="Extent.attrib">
                <empty/>
            </define>
            <define name="Extent.Size.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Margins SECTION --</a:documentation>
            <define combine="interleave" name="Margins.attrib">
                <empty/>
            </define>
            <define name="Margins.margin.attrib">
                <empty/>
            </define>
            <define name="Margins.margin.location.attrib">
                <empty/>
            </define>
            <define name="Margins.margin.closest.attrib">
                <empty/>
            </define>
            <define name="Margins.margin.distance.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Metastases SECTION --</a:documentation>
            <define combine="interleave" name="Metastases.attrib">
                <empty/>
            </define>
            <define name="Metastases.metastasis.attrib">
                <empty/>
            </define>
            <define name="Metastases.metastasis.site.attrib">
                <empty/>
            </define>
            <define name="Metastases.metastasis.howDiagnosed.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Nodes SECTION --</a:documentation>
            <define combine="interleave" name="Nodes.attrib">
                <empty/>
            </define>
            <define name="Nodes.group.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Specimen SECTION --</a:documentation>
            <define combine="interleave" name="Specimen.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.procedure.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.site.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.TumorLocation.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.integrity.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.grossSize.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.weight.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Specimen.weight.unit.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Stage SECTION --</a:documentation>
            <define combine="interleave" name="Stage.attrib">
                <empty/>
            </define>
            <define name="Stage.prefix.attrib">
                <empty/>
            </define>
            <define name="Stage.T.attrib">
                <empty/>
            </define>
            <define name="Stage.N.attrib">
                <empty/>
            </define>
            <define name="Stage.M.attrib">
                <empty/>
            </define>
            <define name="Stage.classification.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Studies SECTION --</a:documentation>
            <define combine="interleave" name="Studies.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="Studies.study.attrib">
                <attribute name="name">
                    <ref name="Studies.study.name.values"/>
                </attribute>
            </define>
            <define name="Studies.study.method.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- Tumor SECTION --</a:documentation>
            <define combine="interleave" name="Tumor.attrib">
                <empty/>
            </define>
            <define name="Tumor.grade.attrib">
                <empty/>
            </define>
            <define name="Tumor.histologicType.attrib">
                <empty/>
            </define>
            <define name="Tumor.grade.system.attrib">
                <empty/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== VALUESETS ==</a:documentation>
        <a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>============================================</a:documentation>
            <a:documentation>================ VALUESETS =================</a:documentation>
            <a:documentation>============================================</a:documentation>
        </a:documentation>
        <div>
            <a:documentation>-- Accessory SECTION --</a:documentation>
            <define combine="choice" name="VenousInvasion.values">
                <ref name="extendedBoolean"/>
            </define>
            <define combine="choice" name="LymphovascularInvasion.values">
                <ref name="extendedBoolean"/>
            </define>
            <define combine="choice" name="PerineuralInvasion.values">
                <ref name="extendedBoolean"/>
            </define>
            <define combine="choice" name="TreatmentEffect.values">
                <choice>
                    <value>inapplicable</value>
                    <value>noResponse</value>
                    <value>slightResponse</value>
                    <value>markedResponse</value>
                    <value>completeResponse</value>
                    <value>other</value>
                </choice>
            </define>
        </div>
        <div>
            <a:documentation>== Additional SECTION ==</a:documentation>
            <define name="Additional.Item.name.values">
                <data type="token"/>
            </define>
        </div>
        <div>
            <a:documentation>== Clinical SECTION ==</a:documentation>
            <define combine="choice" name="Clinical.PriorTherapy.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="Clinical.ClinicalFinding.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="Clinical.RadiologicFinding.values">
                <data type="token"/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== Extent SECTION ==</a:documentation>
        <!-- None -->
    </div>
    <div>
        <a:documentation>== Margins SECTION ==</a:documentation>
        <define combine="choice" name="Margins.margin.location.values">
            <data type="token"/>
        </define>
        <define name="Margins.margin.value.values">
            <ref name="extendedBoolean"/>
        </define>
        <define name="Margins.margin.closest.values">
            <ref name="extendedBoolean"/>
        </define>
        <define name="Margins.margin.distance.values">
            <ref name="length.content"/>
        </define>
    </div>
    <div>
        <a:documentation>== Metastases SECTION ==</a:documentation>
        <define name="Metastases.metastasis.site.values">
            <data type="token"/>
        </define>
        <define name="Metastases.metastasis.howDiagnosed.values">
            <choice>
                <value>this accesion</value>
                <value>prior accession</value>
                <value>outside report</value>
                <value>Clinical history</value>
                <value>other</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== Nodes SECTION ==</a:documentation>
        <define combine="choice" name="Nodes.group.status.values">
            <choice>
                <value>total</value>
                <value>negative</value>
                <value>positive</value>
                <value>regressed</value>
                <value>other</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== Specimen SECTION ==</a:documentation>
        <define combine="choice" name="Specimen.procedure.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="Specimen.site.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="Specimen.integrity.values">
            <ref name="extendedBoolean"/>
        </define>
    </div>
    <div>
        <a:documentation>== Stage SECTION ==</a:documentation>
        <define name="Stage.T.values">
            <choice>
                <value>X</value>
                <value>0</value>
                <value>is</value>
                <value>1</value>
                <value>1a</value>
                <value>1b</value>
                <value>1c</value>
                <value>1a1</value>
                <value>1a2</value>
                <value>1b1</value>
                <value>1b2</value>
                <value>1c</value>
                <value>1mi</value>
                <value>2</value>
                <value>2a</value>
                <value>2b</value>
                <value>2c</value>
                <value>2d</value>
                <value>2a1</value>
                <value>2a2</value>
                <value>2b</value>
                <value>3</value>
                <value>3a</value>
                <value>3b</value>
                <value>3c</value>
                <value>4</value>
                <value>4a</value>
                <value>4b</value>
                <value>4c</value>
                <value>4d</value>
            </choice>
        </define>
        <define name="Stage.N.values">
            <choice>
                <value>X</value>
                <value>0</value>
                <value>1</value>
                <value>other</value>
            </choice>
        </define>
        <define name="Stage.M.values">
            <choice>
                <value>X</value>
                <value>0</value>
                <value>1</value>
                <value>other</value>
            </choice>
        </define>
        <define name="Stage.classification.values">
            <value>p</value>
        </define>
        <define name="Stage.prefix.values">
            <choice>
                <value>y</value>
                <value>r</value>
                <value>a</value>
                <value>other</value>
            </choice>
        </define>
        <define name="suffix-values">
            <choice>
                <value>m</value>
            </choice>
        </define>
    </div>
    <div>
        <a:documentation>== Studies SECTION ==</a:documentation>
        <define name="Studies.study.name.values">
            <data type="token"/>
        </define>
        <define name="Studies.study.value.values">
            <data type="token"/>
        </define>
        <define name="Studies.study.method.values">
            <data type="token"/>
        </define>
    </div>
    <div>
        <a:documentation>== Tumor SECTION ==</a:documentation>
        <define name="Tumor.histologicType.value.values">
            <data type="token"/>
        </define>
        <define combine="choice" name="Tumor.grade.values">
            <choice>
                <value>not applicable</value>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>X</value>
                <value>other</value>
            </choice>
        </define>
        <define combine="choice" name="Tumor.grade.system.values">
            <choice>
                <value>WHO</value>
                <value>not specified</value>
                <value>other</value>
            </choice>
        </define>
    </div>
</grammar>
