tags/trunk-7-15-2001/ecc-new/framework/templates/extensions.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE	grammar [
<!ENTITY	items  		"../framework/shared/items.rng">
<!ENTITY	sections  	"../framework/shared/sections.rng">
<!ENTITY	section		"../framework/shared/types/section.rng">
<!ENTITY    length      "../framework/shared/types/length.rng">
<!ENTITY	percent  	"../framework/shared/types/percent.rng">
<!ENTITY	quantity    "../framework/shared/types/quantity.rng">
<!ENTITY	ratio  		"../framework/shared/types/ratio.rng">
<!ENTITY	selectMany  "../framework/shared/types/selectMany.rng">
<!ENTITY	selectOne  	"../framework/shared/types/selectOne.rng">
<!ENTITY	size  		"../framework/shared/types/size.rng">
<!ENTITY	tally  		"../framework/shared/types/tally.rng">
<!ENTITY	weight  	"../framework/shared/types/weight.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://purl.org/pathology/ecc/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:colon="http://purl.org/pathology/ecc/colon/">
    <!--=============================================================-->
    <include href="values.rng"/>
    <!--=============================================================-->
    <start>
        <ref name="resection"/>
    </start>
    <!--=============================================================-->
    <include href="&sections;">
        <define name="schemaLocation">
            <value>http://purl.org/pathology/ecc/empty.rng</value>
        </define>
        <define name="version">
            <value>1.0a</value>
        </define>
        <define name="semantics">
            <value>http://purl.org/pathology/ecc/transform/empty.rng</value>
        </define>
    </include>
    <!--=============================================================-->
    <a:documentation>ACCESSORY section customizations</a:documentation>
    <!--=============================================================-->
    <define name="accessory.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>ADDITIONAL section customizations</a:documentation>
    <!--=============================================================-->
    <define name="additional.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>DISTANT section customizations</a:documentation>
    <!--=============================================================-->
    <define name="distant.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>EXTENT section customizations</a:documentation>
    <!--=============================================================-->
    <define name="extent.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>HISTORY section customizations</a:documentation>
    <!--=============================================================-->
    <define name="history.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>MARGINS section customizations</a:documentation>
    <!--=============================================================-->
    <define name="margins.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>NODES section customizations</a:documentation>
    <!--=============================================================-->
    <define name="nodes.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>SPECIMEN section customizations</a:documentation>
    <!--=============================================================-->
    <define name="specimen.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>STAGE section customizations</a:documentation>
    <!--=============================================================-->
    <define name="stage.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>STUDIES section customizations</a:documentation>
    <!--=============================================================-->
    <define name="studies.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>TUMOR section customizations</a:documentation>
    <!--=============================================================-->
    <define name="tumor.extension">
        <empty/>
    </define>
    <!--=============================================================-->
</grammar>
