branches/refactor/generic/flattened-generic-test-harness.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.cap.org/pert/2009/01/" xmlns:pert="http://www.cap.org/pert/2009/01/" xmlns:data-view="http://www.w3.org/2003/g/data-view#">
  <xs:import namespace="http://www.w3.org/2003/g/data-view#" schemaLocation="data-view.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="synopsis">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="pert:accessory"/>
          <xs:element ref="pert:additional"/>
          <xs:element ref="pert:clinical"/>
          <xs:element ref="pert:extent"/>
          <xs:element ref="pert:margins"/>
          <xs:element ref="pert:metastases"/>
          <xs:element ref="pert:nodes"/>
          <xs:element ref="pert:specimen"/>
          <xs:element ref="pert:stage"/>
          <xs:element ref="pert:studies"/>
          <xs:element ref="pert:tumor"/>
        </xs:choice>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="schemaLocation" use="required" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" use="required" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="data-view:transformation" use="required"/>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="accessory">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:venousInvasion"/>
        <xs:element ref="pert:lymphovascularInvasion"/>
        <xs:element ref="pert:perineuralInvasion"/>
        <xs:element ref="pert:treatmentEffect"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="additional">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:item"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="clinical">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:priorTherapy"/>
        <xs:element ref="pert:clinicalFinding"/>
        <xs:element ref="pert:radiologicFinding"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:tumorSize"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="margins">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:margin"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="metastases">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:metastasis"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nodes">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:nodeGroup"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="specimen">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:procedure"/>
        <xs:element ref="pert:specimenSite"/>
        <xs:element ref="pert:tumorSite"/>
        <xs:element ref="pert:integrity"/>
        <xs:element ref="pert:specimenSize"/>
        <xs:element ref="pert:tumorGrossSize"/>
        <xs:element ref="pert:specimenWeight"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stage">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:prefix"/>
        <xs:element ref="pert:classification"/>
        <xs:element ref="pert:T"/>
        <xs:element ref="pert:N"/>
        <xs:element ref="pert:M"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="studies">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:study"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tumor">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:histologicType"/>
        <xs:element ref="pert:grade"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="comment">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="pert:_1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="pert:_1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="pert:_1"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="_1">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="venousInvasion">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lymphovascularInvasion">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_2"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="perineuralInvasion">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_3"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="treatmentEffect">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_4"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_5"/>
        <xs:element ref="pert:specify"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="specify"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="priorTherapy">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_6"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="date">
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="until">
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="duration" type="xs:duration"/>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="clinicalFinding">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_7"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="date">
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="until">
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="duration" type="xs:duration"/>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="radiologicFinding">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_8"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="date">
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="until">
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="duration" type="xs:duration"/>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tumorSize">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:group ref="pert:dimension"/>
          <xs:choice>
            <xs:group ref="pert:dimension_2"/>
            <xs:group ref="pert:dimension_2"/>
          </xs:choice>
        </xs:choice>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="margin">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_9"/>
        <xs:element ref="pert:specify"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="location" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="specify"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
            <xs:enumeration value="unreported"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="metastasis">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:size"/>
        <xs:element ref="pert:specify"/>
        <xs:element ref="pert:howDiagnosed"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="location" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="specify"/>
            <xs:enumeration value="unreported"/>
            <xs:enumeration value="specify"/>
            <xs:enumeration value="unreported"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nodeGroup">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:specify"/>
        <xs:choice>
          <xs:group ref="pert:count"/>
          <xs:group ref="pert:count_2"/>
          <xs:group ref="pert:count_3"/>
          <xs:group ref="pert:count_4"/>
        </xs:choice>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="location" use="required">
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="procedure">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_10"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="specimenSite">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_11"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tumorSite">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_12"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="integrity">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_13"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="specimenSize">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:group ref="pert:dimension"/>
          <xs:choice>
            <xs:group ref="pert:dimension_2"/>
            <xs:group ref="pert:dimension_2"/>
          </xs:choice>
        </xs:choice>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tumorGrossSize">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:group ref="pert:dimension"/>
          <xs:choice>
            <xs:group ref="pert:dimension_2"/>
            <xs:group ref="pert:dimension_2"/>
          </xs:choice>
        </xs:choice>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="specimenWeight">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_14"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prefix">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_15"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classification">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_16"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="T">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_17"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="N">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_18"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="M">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_19"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="study">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_20"/>
        <xs:element ref="pert:method"/>
        <xs:element ref="pert:specify"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="specify"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="histologicType">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_21"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="grade">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_22"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="response">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_2">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_3">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_4">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="no response"/>
                <xs:enumeration value="slight response"/>
                <xs:enumeration value="marked response"/>
                <xs:enumeration value="complete response"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_5">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="specify" type="xs:string"/>
  <xs:group name="response_6">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_7">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_8">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="dimension">
    <xs:sequence>
      <xs:element name="dimension">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="pert:response_23"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
          </xs:choice>
          <xs:attribute name="largest">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="true"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute ref="xml:id"/>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="dimension_2">
    <xs:sequence>
      <xs:element name="dimension">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="pert:response_23"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
          </xs:choice>
          <xs:attribute name="largest">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute ref="xml:id"/>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_9">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:distance"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="closest">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="size">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:group ref="pert:dimension"/>
          <xs:choice>
            <xs:group ref="pert:dimension_2"/>
            <xs:group ref="pert:dimension_2"/>
          </xs:choice>
        </xs:choice>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="howDiagnosed" type="pert:response_24"/>
  <xs:group name="count">
    <xs:sequence>
      <xs:element name="count">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="pert:response_25"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
          </xs:choice>
          <xs:attribute name="status" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="total"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="count_2">
    <xs:sequence>
      <xs:element name="count">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="pert:response_26"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:largest"/>
            <xs:element ref="pert:extracapsular"/>
          </xs:choice>
          <xs:attribute name="status" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="count_3">
    <xs:sequence>
      <xs:element name="count">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="pert:response_27"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
          </xs:choice>
          <xs:attribute name="status" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="regressed"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="count_4">
    <xs:sequence>
      <xs:element name="count">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="pert:response_28"/>
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute name="status" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_10">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_11">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_12">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_13">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="intact"/>
                <xs:enumeration value="fragmented"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_14">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="relation">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="lessThan"/>
                <xs:enumeration value="lessThanOrEqual"/>
                <xs:enumeration value="equal"/>
                <xs:enumeration value="greaterThanOrEqual"/>
                <xs:enumeration value="greaterThan"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minExclusive value="0.0"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="unit" use="required">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="g"/>
                    <xs:enumeration value="kg"/>
                    <xs:enumeration value="specify"/>
                    <xs:enumeration value="unreported"/>
                    <xs:enumeration value="specify"/>
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:length value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_15">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:pattern value="y?m?r?a?"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_16">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="p"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_17">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_18">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_19">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="1"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_20">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="pending"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="method">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_29"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="response_21">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_22">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="system">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="WHO"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_23">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="relation">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="lessThan"/>
                <xs:enumeration value="lessThanOrEqual"/>
                <xs:enumeration value="equal"/>
                <xs:enumeration value="greaterThanOrEqual"/>
                <xs:enumeration value="greaterThan"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minExclusive value="0.0"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="unit" use="required">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="in"/>
                    <xs:enumeration value="specify"/>
                    <xs:enumeration value="unreported"/>
                    <xs:enumeration value="specify"/>
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:length value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="distance">
    <xs:complexType>
      <xs:group ref="pert:response_23"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="response_24">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="this accesion"/>
                <xs:enumeration value="prior accession"/>
                <xs:enumeration value="outside report"/>
                <xs:enumeration value="clinical history"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="response_25">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="lessThan" form="qualified"/>
          <xs:attribute name="lessThanOrEqual" form="qualified"/>
          <xs:attribute name="equal" form="qualified"/>
          <xs:attribute name="greaterThanOrEqual" form="qualified"/>
          <xs:attribute name="greaterThan" form="qualified"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union memberTypes="xs:nonNegativeInteger">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_26">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="lessThan" form="qualified"/>
          <xs:attribute name="lessThanOrEqual" form="qualified"/>
          <xs:attribute name="equal" form="qualified"/>
          <xs:attribute name="greaterThanOrEqual" form="qualified"/>
          <xs:attribute name="greaterThan" form="qualified"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union memberTypes="xs:nonNegativeInteger">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="largest">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="pert:dimension"/>
        <xs:sequence minOccurs="0">
          <xs:group ref="pert:dimension_2"/>
          <xs:group minOccurs="0" ref="pert:dimension_2"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extracapsular">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="pert:response_30"/>
        <xs:element ref="pert:comment"/>
        <xs:element ref="pert:label"/>
        <xs:element ref="pert:text"/>
        <xs:group ref="pert:_1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="response_27">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="lessThan" form="qualified"/>
          <xs:attribute name="lessThanOrEqual" form="qualified"/>
          <xs:attribute name="equal" form="qualified"/>
          <xs:attribute name="greaterThanOrEqual" form="qualified"/>
          <xs:attribute name="greaterThan" form="qualified"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union memberTypes="xs:nonNegativeInteger">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_28">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="lessThan" form="qualified"/>
          <xs:attribute name="lessThanOrEqual" form="qualified"/>
          <xs:attribute name="equal" form="qualified"/>
          <xs:attribute name="greaterThanOrEqual" form="qualified"/>
          <xs:attribute name="greaterThan" form="qualified"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:union memberTypes="xs:nonNegativeInteger">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="specify"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="unreported"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_29">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="response_30">
    <xs:sequence>
      <xs:element name="response">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="pert:comment"/>
            <xs:element ref="pert:label"/>
            <xs:element ref="pert:text"/>
            <xs:group ref="pert:_1"/>
            <xs:element ref="pert:specify"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="positive"/>
                <xs:enumeration value="negative"/>
                <xs:enumeration value="equivocal"/>
                <xs:enumeration value="indeterminate"/>
                <xs:enumeration value="inapplicable"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
                <xs:enumeration value="specify"/>
                <xs:enumeration value="unreported"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>
