tags/old trunk/doc/Miscellany/colon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.cap.org/pert/2009/01/colon/" xmlns:pert="http://www.cap.org/pert/2009/01/" xmlns:data-view="http://www.w3.org/2003/g/data-view#" xmlns:colon="http://www.cap.org/pert/2009/01/colon/">
  <xs:import namespace="http://www.cap.org/pert/2009/01/" schemaLocation="resection@colon.xsd"/>
  <xs:import namespace="http://www.w3.org/2003/g/data-view#" schemaLocation="data-view.xsd"/>
  <xs:element name="polyp">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="pert:displayText"/>
          <xs:element ref="pert:comment"/>
          <xs:group ref="pert:anyForeignElement"/>
        </xs:choice>
        <xs:element ref="pert:size"/>
        <xs:element ref="colon:configuration"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="immuneResponse">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="pert:displayText"/>
          <xs:element ref="pert:comment"/>
          <xs:group ref="pert:anyForeignElement"/>
        </xs:choice>
        <xs:element ref="colon:intratumoralResponse"/>
        <xs:element ref="colon:peritumoralResponse"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="suggestMicrosatelliteInstability">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="pert:displayText"/>
          <xs:element ref="pert:comment"/>
          <xs:group ref="pert:anyForeignElement"/>
        </xs:choice>
        <xs:element ref="colon:mucinousComponent"/>
        <xs:element ref="colon:medullaryComponent"/>
        <xs:element ref="colon:highGrade"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tumorPerforation">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="positive"/>
            <xs:enumeration value="negative"/>
            <xs:enumeration value="equivocal"/>
            <xs:enumeration value="not applicable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="discontinuousExtramuralExtension">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="positive"/>
            <xs:enumeration value="negative"/>
            <xs:enumeration value="equivocal"/>
            <xs:enumeration value="not applicable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="preexistingPolyp">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="tubular adenoma"/>
            <xs:enumeration value="villous adenoma"/>
            <xs:enumeration value="tubulovillous adenoma"/>
            <xs:enumeration value="serrated adenoma"/>
            <xs:enumeration value="sessile serrated adenoma"/>
            <xs:enumeration value="hamartomatous polyp"/>
            <xs:enumeration value="indeterminate type"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="configuration">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="pedunculated"/>
            <xs:enumeration value="sessile"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="intratumoralResponse">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="mild to moderate"/>
            <xs:enumeration value="marked"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="peritumoralResponse">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="mild to moderate"/>
            <xs:enumeration value="marked"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mucinousComponent">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="positive"/>
            <xs:enumeration value="negative"/>
            <xs:enumeration value="equivocal"/>
            <xs:enumeration value="not applicable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="percentage">
        <xs:simpleType>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxExclusive value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="medullaryComponent">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="positive"/>
            <xs:enumeration value="negative"/>
            <xs:enumeration value="equivocal"/>
            <xs:enumeration value="not applicable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="highGrade">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="positive"/>
            <xs:enumeration value="negative"/>
            <xs:enumeration value="equivocal"/>
            <xs:enumeration value="not applicable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="deepestInvasion">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="pert:displayText"/>
          <xs:element ref="pert:comment"/>
          <xs:group ref="pert:anyForeignElement"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="colon:adjacentStructure"/>
      </xs:sequence>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="lamina propria"/>
            <xs:enumeration value="submucosa"/>
            <xs:enumeration value="muscularis propria"/>
            <xs:enumeration value="subserosa"/>
            <xs:enumeration value="pericolic tissue"/>
            <xs:enumeration value="serosal surface"/>
            <xs:enumeration value="adjacent structure"/>
            <xs:enumeration value="no evidence of tumor"/>
            <xs:enumeration value="inapplicable"/>
            <xs:enumeration value="inconclusive"/>
            <xs:enumeration value="indeterminate"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="adjacentStructure">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="pert:displayText"/>
        <xs:element ref="pert:comment"/>
        <xs:group ref="pert:anyForeignElement"/>
      </xs:choice>
      <xs:attribute name="otherValue"/>
      <xs:attribute name="value" use="required"/>
      <xs:attribute name="extent" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="adheres"/>
            <xs:enumeration value="invades"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
