xsd_schemas/breast/breast.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<xs:schema elementFormDefault="qualified" targetNamespace="http://purl.org/pathology/ecc/"
    xmlns:data-view="http://www.w3.org/2003/g/data-view#" xmlns:ecc="http://purl.org/pathology/ecc/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:redefine schemaLocation="../framework/common.xsd"/>
    <xs:redefine schemaLocation="../framework/items.xsd">
        <xs:attributeGroup name="nodes.nodeGroup.result.sitespecific.attrib">
            <xs:attributeGroup ref="ecc:nodes.nodeGroup.result.sitespecific.attrib"/>
            <xs:attribute name="itc" type="ecc:nodes.nodeGroup.result.itc.values"/>
            <xs:attribute name="micrometastasis"
                type="ecc:nodes.nodeGroup.result.micrometastasis.values"/>
        </xs:attributeGroup>
    </xs:redefine>
    <xs:redefine schemaLocation="../framework/sections.xsd">
        <xs:attributeGroup name="resection.attrib">
            <xs:attributeGroup ref="ecc:resection.attrib"/>
            <xs:attribute fixed="http://purl.org/pathology/ecc/breast/resection/schema.xsd"
                name="schemaLocation"/>
            <xs:attribute fixed="0.5" name="version"/>
            <xs:attribute fixed="http://purl.org/pathology/ecc/breast/resection/ecc.xsl"
                name="transformation"/>
        </xs:attributeGroup>
        <xs:group name="accessory.content">
            <xs:sequence>
                <xs:group ref="ecc:accessory.content"/>
                <xs:element minOccurs="0" ref="ecc:microcalcifications"/>
                <xs:element ref="ecc:ductalCarcinoma-in-situ"/>
                <xs:element minOccurs="0" ref="ecc:lobularCarcinoma-in-situ"/>
            </xs:sequence>
        </xs:group>
        <xs:group name="extent.content">
            <xs:sequence>
                <xs:group ref="ecc:extent.content"/>
                <xs:element ref="ecc:skinUlceration"/>
                <xs:element ref="ecc:skinSatelliteNodules"/>
                <xs:element ref="ecc:dermalLymphaticInvasion"/>
                <xs:element ref="ecc:nipplePagetDisease"/>
            </xs:sequence>
        </xs:group>
        <xs:group name="specimen.content">
            <xs:sequence>
                <xs:group ref="ecc:specimen.content"/>
            </xs:sequence>
        </xs:group>
        <xs:group name="studies.content">
            <xs:sequence>
                <xs:group ref="ecc:studies.content"/>
                <xs:element ref="ecc:estrogenReceptor"/>
                <xs:element ref="ecc:progesteroneReceptor"/>
                <xs:element ref="ecc:HER2neu"/>
            </xs:sequence>
        </xs:group>
    </xs:redefine>
    <xs:redefine schemaLocation="../framework/types.xsd"/>
    <xs:redefine schemaLocation="values.xsd"/>
    <xs:element name="microcalcifications">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ecc:generic.content"/>
                <xs:element maxOccurs="unbounded" name="response">
                    <xs:complexType>
                        <xs:group ref="ecc:generic.response.content"/>
                        <xs:attribute name="value" type="ecc:accessory.microcalcifications.values"
                            use="required"/>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="ecc:generic.attrib"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ductalCarcinoma-in-situ">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ecc:generic.content"/>
                <xs:group ref="ecc:accessory.cis.result"/>
                <xs:group minOccurs="0" ref="ecc:accessory.cis.amount"/>
                <xs:group minOccurs="0" ref="ecc:accessory.dcis.pattern"/>
                <xs:group minOccurs="0" ref="ecc:accessory.dcis.grade"/>
                <xs:group minOccurs="0" ref="ecc:accessory.dcis.necrosis"/>
            </xs:sequence>
            <xs:attributeGroup ref="ecc:generic.attrib"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="accessory.dcis.pattern">
        <xs:sequence>
            <xs:element name="architecture">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="unbounded" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:accessory.dcis.pattern.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="accessory.dcis.grade">
        <xs:sequence>
            <xs:element name="grade">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:accessory.dcis.grade.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="accessory.dcis.necrosis">
        <xs:sequence>
            <xs:element name="necrosis">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:accessory.dcis.necrosis.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="accessory.cis.result">
        <xs:sequence>
            <xs:element name="result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:qualitative.values"
                                    use="required"/>
                                <xs:attribute name="focality" type="ecc:focality.values"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="accessory.cis.amount">
        <xs:choice>
            <xs:sequence>
                <xs:group minOccurs="1" ref="ecc:accessory.cis.size"/>
                <xs:group minOccurs="0" ref="ecc:accessory.cis.blocks"/>
            </xs:sequence>
            <xs:group minOccurs="1" ref="ecc:accessory.cis.blocks"/>
        </xs:choice>
    </xs:group>
    <xs:group name="accessory.cis.size">
        <xs:sequence>
            <xs:element ref="ecc:size"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="accessory.cis.blocks">
        <xs:sequence>
            <xs:element name="tally">
                <xs:complexType>
                    <xs:group ref="ecc:tally.response"/>
                    <xs:attribute name="for" type="ecc:qualitative.values"/>
                    <xs:attribute name="type" type="ecc:accessory.cis.blocks.type.values"/>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:element name="lobularCarcinoma-in-situ">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ecc:generic.content"/>
                <xs:group ref="ecc:accessory.cis.result"/>
                <xs:group minOccurs="0" ref="ecc:accessory.cis.amount"/>
            </xs:sequence>
            <xs:attributeGroup ref="ecc:generic.attrib"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="skinUlceration">
        <xs:complexType>
            <xs:group ref="ecc:qualitative.response"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="skinSatelliteNodules">
        <xs:complexType>
            <xs:group ref="ecc:qualitative.response"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dermalLymphaticInvasion">
        <xs:complexType>
            <xs:group ref="ecc:qualitative.response"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nipplePagetDisease">
        <xs:complexType>
            <xs:group ref="ecc:qualitative.response"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="estrogenReceptor">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ecc:generic.content"/>
                <xs:group ref="ecc:studies.erpr.result"/>
                <xs:group ref="ecc:studies.erpr.method"/>
            </xs:sequence>
            <xs:attributeGroup ref="ecc:generic.attrib"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="progesteroneReceptor">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ecc:generic.content"/>
                <xs:group ref="ecc:studies.erpr.result"/>
                <xs:group ref="ecc:studies.erpr.method"/>
            </xs:sequence>
            <xs:attributeGroup ref="ecc:generic.attrib"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="studies.erpr.result">
        <xs:sequence>
            <xs:element name="result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:studies.erpr.result.values"
                                    use="required"/>
                                <xs:attribute fixed="percent" name="unit" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.erpr.method">
        <xs:sequence>
            <xs:element name="technique">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.erpr.method.technique.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="source">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.erpr.method.source.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="antibody">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.erpr.method.antibody.values" use="required"/>
                                <xs:attribute name="vendor"
                                    type="ecc:studies.erpr.method.antibody.vendor.values"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="fixative">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.erpr.method.fixative.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:element name="HER2neu">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ecc:generic.content"/>
                <xs:group ref="ecc:studies.HER2neu.result"/>
                <xs:group ref="ecc:studies.HER2neu.method"/>
            </xs:sequence>
            <xs:attributeGroup ref="ecc:generic.attrib"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="studies.HER2neu.result">
        <xs:sequence>
            <xs:element name="result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:choice>
                            <xs:element name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value"
                                        type="ecc:studies.her2.imm.result.values" use="required"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:sequence>
                                <xs:element name="her2GeneCopyNumber">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:group ref="ecc:generic.content"/>
                                        </xs:sequence>
                                        <xs:attribute name="value" type="ecc:nonNegativeDecimal"
                                            use="required"/>
                                        <xs:attribute fixed="per cell" name="unit" use="required"/>
                                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="chromosome17CopyNumber">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:group ref="ecc:generic.content"/>
                                        </xs:sequence>
                                        <xs:attribute name="value" type="ecc:nonNegativeDecimal"
                                            use="required"/>
                                        <xs:attribute fixed="per cell" name="unit" use="required"/>
                                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="her2CopyNumberRatio">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:group ref="ecc:generic.content"/>
                                        </xs:sequence>
                                        <xs:attribute name="value" type="ecc:nonNegativeDecimal"
                                            use="required"/>
                                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.HER2neu.method">
        <xs:sequence>
            <xs:element name="technique">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.her2.method.technique.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="source">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.erpr.method.source.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:choice>
                <xs:element name="antibody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:element name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value"
                                        type="ecc:studies.her2.method.antibody.values"
                                        use="required"/>
                                    <xs:attribute name="vendor"
                                        type="ecc:studies.her2.method.antibody.vendor.values"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="assay">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:element name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value"
                                        type="ecc:studies.her2.method.assay.values" use="required"/>
                                    <xs:attribute name="vendor"
                                        type="ecc:studies.her2.method.assay.vendor.values"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="fixative">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.erpr.method.fixative.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
</xs:schema>
