common/baseContent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    CAP Schema for Synoptic Reports
    (c) Copyright 2008 College of American Pathologists
    ===========================================================================
    Component name:
    baseContent.rng
    
    Component type:
    schema fragment for inclusion
    
    Version date:
    2008.12.31
    
    Defines:
    
    
    Purpose:
    
    
    
    Dependencies:      
    
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schema for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the 
    Apache License, Version 2.0 (the "License"); you may not use this 
    file except in compliance with the License.
    
    You may obtain a copy of the License at
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================

-->


<!DOCTYPE grammar [
<!ENTITY localNames "

    <nsName ns=''/>
    <nsName ns='http://www.cap.org/pert/2009/01/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/breast/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/colon/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/lung/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/prostate/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/pancreas/'/>
    <nsName ns='http://www.cap.org/pert/2009/01/stomach/'/>
    <nsName ns='http://www.w3.org/2003/g/data-view#'/>
    <nsName ns='http://www.rsna.org/reporting/2009/01/'/>
    
    ">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
    xmlns="http://relaxng.org/ns/structure/1.0">
    <define name="baseContent">
        <zeroOrMore>
            <attribute>
                <anyName>
                    <except>&localNames;</except>
                </anyName>
            </attribute>
        </zeroOrMore>
        <interleave>
            <zeroOrMore>
                <ref name="displayText"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="comment"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="anyForeignElement"/>
            </zeroOrMore>
            <ref name="otherValue"/>
            <text/>
        </interleave>
    </define>
    <define name="displayText">
        <element name="displayText">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>&localNames;</except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <attribute name="role">
                    <choice>
                        <value>label</value>
                        <value>value</value>
                        <value>other</value>
                    </choice>
                </attribute>
            </optional>
            <interleave>
                <text/>
                <zeroOrMore>
                    <ref name="displayText"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>
    <define name="comment">
        <element name="comment">
            <zeroOrMore>
                <attribute>
                    <anyName>
                        <except>&localNames;</except>
                    </anyName>
                </attribute>
            </zeroOrMore>
            <optional>
                <ref name="displayText"/>
            </optional>
            <text/>
        </element>
    </define>
    <define name="anyForeignAttribute">
        <attribute>
            <anyName>
                <except>&localNames;</except>
            </anyName>
        </attribute>
    </define>
    <define name="anyForeignElement">
        <element>
            <anyName>
                <except>&localNames;</except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <ref name="anyForeignAttribute"/>
                    <ref name="anyForeignElement"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="lang-attribute">
        <optional>
            <attribute name="xml:lang">
                <data type="token">
                    <param name="pattern">[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*</param>
                </data>
            </attribute>
        </optional>
    </define>
    <define name="otherValue">
        <optional>
            <attribute name="otherValue"/>
        </optional>
    </define>
</grammar>
