method/cap-cancer/common.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
-->
<!DOCTYPE grammar [
<!ENTITY value "../../common/value.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <!--  -->
    <include href="../../common/base.rng"/>
    <start>
        <element name="synoptic">
            <ref name="additional"/>
            <ref name="clinical"/>
            <ref name="specimen"/>
            <ref name="studies"/>
            <ref name="accessory"/>
            <ref name="extent"/>
            <ref name="margins"/>
            <ref name="metastases"/>
            <ref name="nodes"/>
            <ref name="stage"/>
            <ref name="tumor"/>
        </element>
    </start>
    <!--  -->
    <div>
        <a:documentation>== SECTION DEFINITIONS ==</a:documentation>
        <define combine="interleave" name="additional">
            <element name="additional">
                <ref name="additional.attrib"/>
                <interleave>
                    <ref name="additional.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="clinical">
            <element name="clinical">
                <ref name="clinical.attrib"/>
                <interleave>
                    <ref name="clinical.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="specimen">
            <element name="specimen">
                <ref name="specimen.attrib"/>
                <interleave>
                    <ref name="specimen.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="studies">
            <element name="studies">
                <ref name="studies.attrib"/>
                <interleave>
                    <ref name="studies.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="accessory">
            <element name="accessory">
                <ref name="accessory.attrib"/>
                <interleave>
                    <ref name="accessory.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="extent">
            <element name="extent">
                <ref name="extent.attrib"/>
                <interleave>
                    <ref name="extent.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="margins">
            <element name="margins">
                <ref name="margins.attrib"/>
                <interleave>
                    <ref name="margins.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="metastases">
            <element name="metastases">
                <ref name="metastases.attrib"/>
                <interleave>
                    <ref name="metastases.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="nodes">
            <element name="nodes">
                <ref name="nodes.attrib"/>
                <interleave>
                    <ref name="nodes.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="stage">
            <element name="stage">
                <ref name="stage.attrib"/>
                <interleave>
                    <ref name="stage.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
        <define combine="interleave" name="tumor">
            <element name="tumor">
                <ref name="tumor.attrib"/>
                <interleave>
                    <ref name="tumor.content"/>
                    <ref name="base.content"/>
                </interleave>
            </element>
        </define>
    </div>
    <div>
        <a:documentation>== ADDITIONAL SECTION ==</a:documentation>
        <div>
            <a:documentation>-- SECTION CONTENT --</a:documentation>
            <define combine="interleave" name="additional.content">
                <zeroOrMore>
                    <element name="item">
                        <ref name="additional.item.attrib"/>
                        <interleave>
                            <ref name="additional.item.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="additional.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="additional.item.attrib">
                <attribute name="name">
                    <ref name="additional.item.name.values"/>
                </attribute>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define name="additional.item.content">
                <grammar>
                    <include href="&value;"/>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define name="additional.item.name.values">
                <data type="token"/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== CLINICAL SECTION ==</a:documentation>
        <div>
            <a:documentation>-- SECTION CONTENT --</a:documentation>
            <define combine="interleave" name="clinical.content">
                <interleave>
                    <zeroOrMore>
                        <element name="priorTherapy">
                            <ref name="clinical.priorTherapy.attrib"/>
                            <interleave>
                                <ref name="clinical.priorTherapy.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </zeroOrMore>
                    <zeroOrMore>
                        <element name="clinicalFinding">
                            <ref name="clinical.clinicalFinding.attrib"/>
                            <interleave>
                                <ref name="clinical.clinicalFinding.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </zeroOrMore>
                    <zeroOrMore>
                        <element name="radiologicFinding">
                            <ref name="clinical.radiologicFinding.attrib"/>
                            <interleave>
                                <ref name="clinical.radiologicFinding.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </zeroOrMore>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="clinical.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="clinical.priorTherapy.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="clinical.clinicalFinding.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="clinical.radiologicFinding.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENT CONTENT --</a:documentation>
            <define combine="interleave" name="clinical.priorTherapy.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="clinical.priorTherapy.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <element name="date">
                            <ref name="date.content"/>
                        </element>
                    </optional>
                </interleave>
            </define>
            <define combine="interleave" name="clinical.clinicalFinding.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="clinical.clinicalFinding.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <element name="date">
                            <ref name="date.content"/>
                        </element>
                    </optional>
                </interleave>
            </define>
            <define combine="interleave" name="clinical.radiologicFinding.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="clinical.radiologicFinding.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <element name="date">
                            <ref name="date.content"/>
                        </element>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define combine="choice" name="clinical.priorTherapy.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="clinical.clinicalFinding.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="clinical.radiologicFinding.values">
                <data type="token"/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== SPECIMEN SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="specimen.content">
                <ref name="specimen.attrib"/>
                <interleave>
                    <oneOrMore>
                        <element name="procedure">
                            <ref name="specimen.procedure.attrib"/>
                            <interleave>
                                <ref name="specimen.procedure.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </oneOrMore>
                    <oneOrMore>
                        <element name="site">
                            <ref name="specimen.site.attrib"/>
                            <interleave>
                                <ref name="specimen.site.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </oneOrMore>
                    <oneOrMore>
                        <element name="tumorLocation">
                            <ref name="specimen.tumorLocation.attrib"/>
                            <interleave>
                                <ref name="specimen.tumorLocation.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </oneOrMore>
                    <optional>
                        <element name="integrity">
                            <ref name="specimen.integrity.attrib"/>
                            <interleave>
                                <ref name="specimen.integrity.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                    <optional>
                        <element name="tumorSize">
                            <ref name="specimen.tumorSize.attrib"/>
                            <interleave>
                                <ref name="specimen.tumorSize.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                    <optional>
                        <element name="weight">
                            <ref name="specimen.weight.attrib"/>
                            <interleave>
                                <ref name="specimen.weight.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="specimen.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.procedure.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.site.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.tumorLocation.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.integrity.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.tumorSize.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.weight.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="specimen.weight.unit.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define combine="interleave" name="specimen.procedure.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="specimen.procedure.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="specimen.site.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="specimen.site.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="specimen.tumorLocation.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="specimen.site.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="specimen.integrity.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="specimen.integrity.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="choice" name="specimen.tumorSize.content">
                <ref name="common.size"/>
            </define>
            <define combine="choice" name="specimen.weight.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <data type="float"/>
                        </define>
                    </include>
                </grammar>
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="unit">
                                <parentRef name="specimen.weight.unit.attrib"/>
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="weightUnit.value"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define combine="choice" name="specimen.procedure.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="specimen.site.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="specimen.integrity.values">
                <ref name="extendedBoolean"/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== STUDIES SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="studies.content">
                <zeroOrMore>
                    <element name="study">
                        <ref name="studies.study.attrib"/>
                        <interleave>
                            <ref name="studies.study.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENT CONTENT --</a:documentation>
            <define name="studies.study.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="studies.study.value.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <grammar>
                            <include href="&value;">
                                <start>
                                    <element name="method">
                                        <parentRef name="studies.study.method.attrib"/>
                                        <ref name="result.content"/>
                                    </element>
                                </start>
                                <define name="valueset">
                                    <parentRef name="studies.study.method.values"/>
                                </define>
                            </include>
                        </grammar>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="studies.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="studies.study.attrib">
                <attribute name="name">
                    <ref name="studies.study.name.values"/>
                </attribute>
            </define>
            <define name="studies.study.method.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define name="studies.study.name.values">
                <data type="token"/>
            </define>
            <define name="studies.study.value.values">
                <data type="token"/>
            </define>
            <define name="studies.study.method.values">
                <data type="token"/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== ACCESSORY SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="accessory.content">
                <interleave>
                    <optional>
                        <element name="venousInvasion">
                            <ref name="accessory.venousInvasion.attrib"/>
                            <interleave>
                                <ref name="accessory.venousInvasion.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                    <optional>
                        <element name="lymphovascularInvasion">
                            <ref name="accessory.lymphovascularInvasion.attrib"/>
                            <interleave>
                                <ref name="accessory.lymphovascularInvasion.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                    <optional>
                        <element name="perineuralInvasion">
                            <ref name="accessory.perineuralInvasion.attrib"/>
                            <interleave>
                                <ref name="accessory.perineuralInvasion.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                    <optional>
                        <element name="treatmentEffect">
                            <ref name="accessory.treatmentEffect.attrib"/>
                            <interleave>
                                <ref name="accessory.treatmentEffect.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENT CONTENT --</a:documentation>
            <define combine="interleave" name="accessory.venousInvasion.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="venousInvasion.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="accessory.lymphovascularInvasion.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="lymphovascularInvasion.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="interleave" name="accessory.perineuralInvasion.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="perineuralInvasion.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="accessory.treatmentEffect.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="treatmentEffect.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="accessory.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="accessory.treatmentEffect.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="accessory.venousInvasion.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="accessory.perineuralInvasion.attrib">
                <empty/>
            </define>
            <define combine="interleave" name="accessory.lymphovascularInvasion.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define combine="choice" name="venousInvasion.values">
                <ref name="extendedBoolean"/>
            </define>
            <define combine="choice" name="lymphovascularInvasion.values">
                <ref name="extendedBoolean"/>
            </define>
            <define combine="choice" name="perineuralInvasion.values">
                <ref name="extendedBoolean"/>
            </define>
            <define combine="choice" name="treatmentEffect.values">
                <choice>
                    <value>inapplicable</value>
                    <value>noResponse</value>
                    <value>slightResponse</value>
                    <value>markedResponse</value>
                    <value>completeResponse</value>
                    <value>other</value>
                </choice>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== EXTENT SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="extent.content">
                <ref name="common.size"/>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="extent.attrib">
                <empty/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== MARGINS SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="margins.content">
                <zeroOrMore>
                    <element name="margin">
                        <ref name="margins.margin.attrib"/>
                        <interleave>
                            <ref name="margins.margin.content"/>
                            <ref name="standard.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="margins.attrib">
                <empty/>
            </define>
            <define name="margins.margin.attrib">
                <empty/>
            </define>
            <define name="margins.margin.location.attrib">
                <empty/>
            </define>
            <define name="margins.margin.closest.attrib">
                <empty/>
            </define>
            <define name="margins.margin.distance.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define combine="interleave" name="margins.margin.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <start>
                                <element name="location">
                                    <parentRef name="margins.margin.location.attrib"/>
                                    <ref name="result.content"/>
                                </element>
                            </start>
                            <define name="valueset">
                                <parentRef name="margins.margin.location.values"/>
                            </define>
                        </include>
                    </grammar>
                    <grammar>
                        <include href="&value;">
                            <define name="valueset">
                                <parentRef name="margins.margin.value.values"/>
                            </define>
                        </include>
                    </grammar>
                    <optional>
                        <grammar>
                            <include href="&value;">
                                <start>
                                    <element name="closest">
                                        <parentRef name="margins.margin.closest.attrib"/>
                                        <ref name="result.content"/>
                                    </element>
                                </start>
                                <define name="valueset">
                                    <parentRef name="margins.margin.closest.values"/>
                                </define>
                            </include>
                        </grammar>
                    </optional>
                    <optional>
                        <grammar>
                            <include href="&value;">
                                <start>
                                    <element name="distance">
                                        <parentRef name="margins.margin.distance.attrib"/>
                                        <ref name="result.content"/>
                                    </element>
                                </start>
                                <define name="valueset">
                                    <parentRef name="margins.margin.distance.values"/>
                                </define>
                            </include>
                        </grammar>
                    </optional>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define combine="choice" name="margins.margin.location.values">
                <data type="token"/>
            </define>
            <define name="margins.margin.value.values">
                <ref name="extendedBoolean"/>
            </define>
            <define name="margins.margin.closest.values">
                <ref name="extendedBoolean"/>
            </define>
            <define name="margins.margin.distance.values">
                <ref name="length.content"/>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== METASTASES SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="metastases.content">
                <zeroOrMore>
                    <element name="metastasis">
                        <ref name="metastases.metastasis.attrib"/>
                        <interleave>
                            <ref name="margins.margin.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="metastases.attrib">
                <empty/>
            </define>
            <define name="metastases.metastasis.attrib">
                <empty/>
            </define>
            <define name="metastases.metastasis.site.attrib">
                <empty/>
            </define>
            <define name="metastases.metastasis.howDiagnosed.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define name="metastases.metastasis.content">
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="site">
                                <parentRef name="metastases.metastasis.site.attrib"/>
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="metastases.metastasis.site.values"/>
                        </define>
                    </include>
                </grammar>
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="howDiagnosed">
                                <parentRef name="metastases.metastasis.howDiagnosed.attrib"/>
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="metastases.metastasis.howDiagnosed.values"/>
                        </define>
                    </include>
                </grammar>
                <ref name="common.size"/>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define name="metastases.metastasis.site.values">
                <data type="token"/>
            </define>
            <define name="metastases.metastasis.howDiagnosed.values">
                <choice>
                    <value>this accesion</value>
                    <value>prior accession</value>
                    <value>outside report</value>
                    <value>clinical history</value>
                    <value>other</value>
                </choice>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== NODES SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="nodes.content">
                <zeroOrMore>
                    <element name="group">
                        <ref name="nodes.group.attrib"/>
                        <interleave>
                            <ref name="nodes.group.content"/>
                            <ref name="base.content"/>
                        </interleave>
                    </element>
                </zeroOrMore>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="nodes.attrib">
                <empty/>
            </define>
            <define name="nodes.group.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define name="nodes.group.content">
                <interleave>
                    <grammar>
                        <include href="&value;">
                            <start>
                                <element name="laterality">
                                    <ref name="result.content"/>
                                </element>
                            </start>
                            <define name="valueset">
                                <parentRef name="laterality.values"/>
                            </define>
                        </include>
                    </grammar>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define combine="choice" name="nodes.group.status.values">
                <choice>
                    <value>total</value>
                    <value>negative</value>
                    <value>positive</value>
                    <value>regressed</value>
                    <value>other</value>
                </choice>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== STAGE SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="stage.content">
                <optional>
                    <ref name="stage.prefix"/>
                    <optional>
                        <ref name="stage.prefix"/>
                        <optional>
                            <ref name="stage.prefix"/>
                        </optional>
                    </optional>
                </optional>
                <element name="classification">
                    <ref name="stage.classification.attrib"/>
                    <interleave>
                        <ref name="stage.classification.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
                <element name="T">
                    <ref name="stage.T.attrib"/>
                    <interleave>
                        <ref name="stage.T.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
                <element name="N">
                    <ref name="stage.N.attrib"/>
                    <interleave>
                        <ref name="stage.N.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
                <element name="M">
                    <ref name="stage.M.attrib"/>
                    <interleave>
                        <ref name="stage.M.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="stage.attrib">
                <empty/>
            </define>
            <define name="stage.prefix.attrib">
                <empty/>
            </define>
            <define name="stage.T.attrib">
                <empty/>
            </define>
            <define name="stage.N.attrib">
                <empty/>
            </define>
            <define name="stage.M.attrib">
                <empty/>
            </define>
            <define name="stage.classification.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define name="stage.prefix">
                <element name="prefix">
                    <ref name="stage.prefix.attrib"/>
                    <interleave>
                        <ref name="stage.prefix.content"/>
                        <ref name="base.content"/>
                    </interleave>
                </element>
            </define>
            <define name="stage.prefix.content">
                <grammar>
                    <include href="&value;">
                        <start>
                            <element name="prefix">
                                <ref name="result.content"/>
                            </element>
                        </start>
                        <define name="valueset">
                            <parentRef name="stage.prefix.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="stage.T.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="stage.T.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="stage.M.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="stage.M.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="stage.N.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="stage.N.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="stage.classification.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="stage.classification.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define name="stage.T.values">
                <choice>
                    <value>X</value>
                    <value>0</value>
                    <value>is</value>
                    <value>1</value>
                    <value>1a</value>
                    <value>1b</value>
                    <value>1c</value>
                    <value>1a1</value>
                    <value>1a2</value>
                    <value>1b1</value>
                    <value>1b2</value>
                    <value>1c</value>
                    <value>1mi</value>
                    <value>2</value>
                    <value>2a</value>
                    <value>2b</value>
                    <value>2c</value>
                    <value>2d</value>
                    <value>2a1</value>
                    <value>2a2</value>
                    <value>2b</value>
                    <value>3</value>
                    <value>3a</value>
                    <value>3b</value>
                    <value>3c</value>
                    <value>4</value>
                    <value>4a</value>
                    <value>4b</value>
                    <value>4c</value>
                    <value>4d</value>
                </choice>
            </define>
            <define name="stage.N.values">
                <choice>
                    <value>X</value>
                    <value>0</value>
                    <value>1</value>
                    <value>other</value>
                </choice>
            </define>
            <define name="stage.M.values">
                <choice>
                    <value>X</value>
                    <value>0</value>
                    <value>1</value>
                    <value>other</value>
                </choice>
            </define>
            <define name="stage.classification.values">
                <value>p</value>
            </define>
            <define name="stage.prefix.values">
                <choice>
                    <value>y</value>
                    <value>r</value>
                    <value>a</value>
                    <value>other</value>
                </choice>
            </define>
            <define name="suffix-values">
                <choice>
                    <value>m</value>
                </choice>
            </define>
        </div>
    </div>
    <div>
        <a:documentation>== TUMOR SECTION ==</a:documentation>
        <div>
            <a:documentation>-- CONTENT MODEL --</a:documentation>
            <define combine="interleave" name="tumor.content">
                <interleave>
                    <oneOrMore>
                        <element name="histologicType">
                            <ref name="tumor.histologicType.attrib"/>
                            <interleave>
                                <ref name="tumor.histologicType.content"/>
                                <ref name="base.content"/>
                            </interleave>
                        </element>
                    </oneOrMore>
                    <element name="grade">
                        <ref name="tumor.grade.attrib"/>
                        <interleave>
                            <ref name="tumor.grade.content"/>
                            <ref name="standard.content"/>
                        </interleave>
                        <optional>
                            <element name="system">
                                <ref name="tumor.grade.system.attrib"/>
                                <interleave>
                                    <ref name="tumor.grade.system.content"/>
                                    <ref name="base.content"/>
                                </interleave>
                            </element>
                        </optional>
                    </element>
                </interleave>
            </define>
        </div>
        <div>
            <a:documentation>-- ATTRIBUTES --</a:documentation>
            <define combine="interleave" name="tumor.attrib">
                <empty/>
            </define>
            <define name="tumor.grade.attrib">
                <empty/>
            </define>
            <define name="tumor.histologicType.attrib">
                <empty/>
            </define>
            <define name="tumor.grade.system.attrib">
                <empty/>
            </define>
        </div>
        <div>
            <a:documentation>-- ELEMENTS --</a:documentation>
            <define combine="choice" name="tumor.histologicType.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="tumor.histologicType.value.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define combine="choice" name="tumor.grade.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="tumor.grade.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
            <define name="tumor.grade.system.content">
                <grammar>
                    <include href="&value;">
                        <define name="valueset">
                            <parentRef name="tumor.grade.system.values"/>
                        </define>
                    </include>
                </grammar>
            </define>
        </div>
        <div>
            <a:documentation>-- VALUESETS --</a:documentation>
            <define name="tumor.histologicType.value.values">
                <data type="token"/>
            </define>
            <define combine="choice" name="tumor.grade.values">
                <choice>
                    <value>not applicable</value>
                    <value>1</value>
                    <value>2</value>
                    <value>3</value>
                    <value>4</value>
                    <value>X</value>
                    <value>other</value>
                </choice>
            </define>
            <define combine="choice" name="tumor.grade.system.values">
                <choice>
                    <value>WHO</value>
                    <value>not specified</value>
                    <value>other</value>
                </choice>
            </define>
        </div>
    </div>
</grammar>
