colon/components/queryContents.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
    
-->
<!DOCTYPE grammar [
<!ENTITY response "../../framework/components/response.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
   ns="http://www.cap.org/pert/2009/01/colon/"
   xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <a:documentation> </a:documentation>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- accessory CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define combine="interleave"
         name="colon.accessory.discontinuousExtramuralExtension.content">
         <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
         <a:documentation>.. discontinuousExtramuralExtension CONTENT
            ..</a:documentation>
         <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.accessory.discontinuousExtramuralExtension.reponse.value.valueset"
                  />
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define combine="interleave"
         name="colon.accessory.preexistingPolyp.content">
         <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
         <a:documentation>.. preexistingPolyp CONTENT ..</a:documentation>
         <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.accessory.preexistingPolyp.response.value.valueset"
                  />
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- additional CONTENT</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- clinical CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- extent CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.extent.invasion.content">
         <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
         <a:documentation>.. invasion CONTENT ..</a:documentation>
         <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.extent.invasion.response.value.valueset"/>
               </define>
               <define name="response.extensions">
                  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                  <optional>
                     <element name="adjacent">
                        <attribute name="location">
                           <parentRef
                              name="colon.extent.invasion.adjacent.location.valueset"
                           />
                        </attribute>
                        <parentRef name="colon.extent.invasion.adjacent.content"
                        />
                     </element>
                  </optional>
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.extent.invasion.adjacent.content">
         <a:documentation>.. adjacentStructure CONTENT ..</a:documentation>
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.extent.invasion.adjacent.response.value.valueset"
                  />
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- margins SECTION --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- metastases CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- nodes CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- specimen CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.specimen.polyp.content">
         <interleave>
            <optional>
               <ref name="common.size"/>
            </optional>
            <optional>
               <element name="configuration">
                  <grammar>
                     <include href="&response;">
                        <define name="response.attrib">
                           <ref name="text-response.attrib"/>
                        </define>
                        <define name="response.text-value.valueset">
                           <parentRef
                              name="colon.specimen.polyp.configuration.response.value.valueset"
                           />
                        </define>
                     </include>
                  </grammar>
               </element>
            </optional>
            <optional>
               <element name="stalkLength">
                  <ref name="common.length.content"/>
               </element>
            </optional>
         </interleave>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.specimen.perforation.content">
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.tumor.perforation.response.value.valueset"/>
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.specimen.mesorectum.content">
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.tumor.mesorectum.response.value.valueset"/>
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- stage CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- studies CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- empty -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <a:documentation>-- tumor CONTENT --</a:documentation>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.tumor.immuneResponse.content">
         <interleave>
            <element name="intratumoral">
               <interleave>
                  <grammar>
                     <include href="&response;">
                        <define name="response.attrib">
                           <ref name="text-response.attrib"/>
                        </define>
                        <define name="response.text-value.valueset">
                           <parentRef
                              name="colon.tumor.immuneResponse.reponse.value.valueset"
                           />
                        </define>
                     </include>
                  </grammar>
                  <ref name="common.content"/>
               </interleave>
               <ref name="colon.tumor.immuneResponse.intratumoral.attrib"/>
            </element>
            <element name="peritumoral">
               <interleave>
                  <grammar>
                     <include href="&response;">
                        <define name="response.attrib">
                           <ref name="text-response.attrib"/>
                        </define>
                        <define name="response.text-value.valueset">
                           <parentRef
                              name="colon.tumor.immuneResponse.reponse.value.valueset"
                           />
                        </define>
                     </include>
                  </grammar>
                  <ref name="colon.tumor.immuneResponse.peritumoral.attrib"/>
               </interleave>
               <ref name="common.content"/>
            </element>
         </interleave>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.tumor.medullaryComponent.content">
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.tumor.medullaryComponent.reponse.value.valueset"
                  />
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.tumor.highGrade.content">
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="text-response.attrib"/>
               </define>
               <define name="response.text-value.valueset">
                  <parentRef
                     name="colon.tumor.highGrade.response.value.valueset"/>
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <define name="colon.tumor.mucinousComponent.content">
         <grammar>
            <include href="&response;">
               <define name="response.attrib">
                  <ref name="dimensional-response.attrib"/>
               </define>
               <define name="response.numeric-value.valueset">
                  <parentRef
                     name="colon.tumor.mucinousComponent.response.value.valueset"
                  />
               </define>
               <define name="response.unit.valueset">
                  <value>percent</value>
               </define>
            </include>
         </grammar>
      </define>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   </div>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
