branches/valuesAsElements/basis/common-common/common-valuesets.rng.bak

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
   xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
   <a:documentation>
      <a:documentation>============================================</a:documentation>
      <a:documentation>============================================</a:documentation>
      <a:documentation>============= BASE SECTION VALUES ==========</a:documentation>
      <a:documentation>============================================</a:documentation>
   </a:documentation>
   <div>
      <a:documentation>== COMMON VALUES ==</a:documentation>
      <define name="result.value.modifier.value">
         <choice>
            <value>less than</value>
            <value>less than or equals</value>
            <value>equals</value>
            <value>greater than or equals</value>
            <value>greater than</value>
         </choice>
      </define>
      <define name="common.severity.value">
         <choice>
            <value>none</value>
            <value>mild</value>
            <value>moderate</value>
            <value>marked</value>
         </choice>
      </define>
      <define name="common.lengthUnit.value">
         <choice>
            <value>mm</value>
            <value>cm</value>
            <value>in</value>
            <value>other</value>
         </choice>
      </define>
      <define name="common.inflammation.value">
         <choice>
            <value>acute</value>
            <value>acute and chronic</value>
            <value>chronic</value>
            <value>other</value>
         </choice>
      </define>
      <define name="common.laterality.value">
         <choice>
            <value>right</value>
            <value>left</value>
            <value>other</value>
         </choice>
      </define>
      <define name="common.date.value">
         <choice>
            <data type="date"/>
            <data type="gYear"/>
            <data type="gYearMonth"/>
         </choice>
      </define>
      <define name="common.extendedBoolean.value">
         <choice>
            <value>positive</value>
            <value>negative</value>
            <value>indeterminate</value>
            <value>equivocal</value>
            <value>inapplicable</value>
            <value>not reported</value>
         </choice>
      </define>
      <define name="common.weightUnit.value">
         <choice>
            <value>g</value>
            <value>kg</value>
            <value>other</value>
         </choice>
      </define>
   </div>
   <div>
      <a:documentation>== synopsis (ROOT) VALUES ==</a:documentation>
      <define combine="choice" name="schemaLocation.value">
         <data type="anyURI"/>
      </define>
      <define combine="choice" name="version.value">
         <data type="string"/>
      </define>
   </div>
   <div>
      <a:documentation>== accessory SECTION VALUES ==</a:documentation>
      <define combine="choice" name="venousInvasion.value">
         <ref name="common.extendedBoolean.value"/>
      </define>
      <define combine="choice" name="lymphovascularInvasion.value">
         <ref name="common.extendedBoolean.value"/>
      </define>
      <define combine="choice" name="perineuralInvasion.value">
         <ref name="common.extendedBoolean.value"/>
      </define>
      <define combine="choice" name="treatmentEffect.value">
         <choice>
            <value>inapplicable</value>
            <value>noResponse</value>
            <value>slightResponse</value>
            <value>markedResponse</value>
            <value>completeResponse</value>
            <value>other</value>
         </choice>
      </define>
   </div>
   <div>
      <a:documentation>== additional SECTION VALUES ==</a:documentation>
      <define name="additional.item.name.value">
         <data type="token"/>
      </define>
   </div>
   <div>
      <a:documentation>== clinical SECTION VALUES ==</a:documentation>
      <define combine="choice" name="clinical.priorTherapy.value">
         <data type="token"/>
      </define>
      <define combine="choice" name="clinical.clinicalFinding.value">
         <data type="token"/>
      </define>
      <define combine="choice" name="clinical.radiologicFinding.value">
         <data type="token"/>
      </define>
   </div>
   <div>
      <a:documentation>== extent SECTION VALUES ==</a:documentation>
      <!-- None -->
   </div>
   <div>
      <a:documentation>== margins SECTION VALUES ==</a:documentation>
      <define combine="choice" name="margins.margin.location.value">
         <data type="token"/>
      </define>
      <define name="margins.margin.value.value">
         <ref name="common.extendedBoolean.value"/>
      </define>
      <define name="margins.margin.closest.value">
         <ref name="common.extendedBoolean.value"/>
      </define>
      <a:documentation>This needs to be looked at -- seems to be in the wrong
         place</a:documentation>
      <a:documentation>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</a:documentation>
   </div>
   <div>
      <a:documentation>== metastases SECTION VALUES ==</a:documentation>
      <define name="metastases.metastasis.site.value">
         <data type="token"/>
      </define>
      <define name="metastases.metastasis.howDiagnosed.value">
         <choice>
            <value>this accesion</value>
            <value>prior accession</value>
            <value>outside report</value>
            <value>clinical history</value>
            <value>other</value>
         </choice>
      </define>
   </div>
   <div>
      <a:documentation>== nodes SECTION VALUES ==</a:documentation>
      <define combine="choice" name="nodes.group.status.value">
         <choice>
            <value>total</value>
            <value>negative</value>
            <value>positive</value>
            <value>regressed</value>
            <value>other</value>
         </choice>
      </define>
   </div>
   <div>
      <a:documentation>== specimen SECTION VALUES ==</a:documentation>
      <define combine="choice" name="specimen.procedure.value">
         <data type="token"/>
      </define>
      <define combine="choice" name="specimen.site.value">
         <data type="token"/>
      </define>
      <define combine="choice" name="specimen.integrity.value">
         <ref name="common.extendedBoolean.value"/>
      </define>
   </div>
   <div>
      <a:documentation>== stage SECTION VALUES ==</a:documentation>
      <define name="stage.T.value">
         <choice>
            <value>X</value>
            <value>0</value>
            <value>is</value>
            <value>1</value>
            <value>1a</value>
            <value>1b</value>
            <value>1c</value>
            <value>1a1</value>
            <value>1a2</value>
            <value>1b1</value>
            <value>1b2</value>
            <value>1c</value>
            <value>1mi</value>
            <value>2</value>
            <value>2a</value>
            <value>2b</value>
            <value>2c</value>
            <value>2d</value>
            <value>2a1</value>
            <value>2a2</value>
            <value>2b</value>
            <value>3</value>
            <value>3a</value>
            <value>3b</value>
            <value>3c</value>
            <value>4</value>
            <value>4a</value>
            <value>4b</value>
            <value>4c</value>
            <value>4d</value>
         </choice>
      </define>
      <define name="stage.N.value">
         <choice>
            <value>X</value>
            <value>0</value>
            <value>1</value>
            <value>other</value>
         </choice>
      </define>
      <define name="stage.M.value">
         <choice>
            <value>X</value>
            <value>1</value>
            <value>other</value>
         </choice>
      </define>
      <define name="stage.classification.value">
         <value>p</value>
      </define>
      <define name="stage.prefix.value">
         <choice>
            <value>y</value>
            <value>r</value>
            <value>a</value>
            <value>other</value>
         </choice>
      </define>
      <define name="suffix-values">
         <choice>
            <value>m</value>
         </choice>
      </define>
   </div>
   <div>
      <a:documentation>== studies SECTION VALUES ==</a:documentation>
      <define name="studies.study.name.value">
         <data type="token"/>
      </define>
      <define name="studies.study.value.value">
         <data type="token"/>
      </define>
      <define name="studies.study.method.value">
         <data type="token"/>
      </define>
   </div>
   <div>
      <a:documentation>== tumor SECTION VALUES ==</a:documentation>
      <define name="tumor.histologicType.value.value">
         <data type="token"/>
      </define>
      <define combine="choice" name="tumor.grade.value">
         <choice>
            <value>not applicable</value>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>4</value>
            <value>X</value>
            <value>other</value>
         </choice>
      </define>
      <define combine="choice" name="tumor.grade.system.value">
         <choice>
            <value>WHO</value>
            <value>not specified</value>
            <value>other</value>
         </choice>
      </define>
   </div>
</grammar>
