framework/components/attributes.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
    
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
	xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	xmlns:ecc="http://www.cap.org/pert/2009/01/">
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<a:documentation>This file contains definitions for the pert-official attribute sets of all of the elements in eCC.
		Perusal of the file will show that the default attribute set for most of the eCC elements are in fact *empty*,
		i.e. there are no default attributes in most cases. But the definition names here also serve a "hooks" for any
		subsequent site-specific attribute additions/redefinitions that may be required.</a:documentation>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<a:documentation>Note that the definitions here are for the official eCC-sanctioned attributes ONLY. In addition, the
		schema allows for user-defined attributes by validating any attributes in an instance that are (a) not in a PERT
		namespace and (b) not in the "" namespace (i.e. the "no-namespace-namespace". Users should not add definitions of
		their user attributes to this file, but should pipeline an additional validation layer (using either NVDL, XProc,
		or any other dispatching mechanism).</a:documentation>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<a:documentation>This is NOT a freestanding schema. It is a schema fragment intended for inclusion in the file
		"synopsis.rng", which bundles the attribute definitions in this file together with the element definitions to
		which they apply. </a:documentation>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="synopsis.attrib">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>The attributes pertinent to the root element "synopsis" are defined here.</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<attribute name="schemaLocation" ns="http://www.cap.org/pert/2009/01/">
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<a:documentation>The "pert:schemaLocation" attribute is required on the "synopsis" element of all compliant
					instances. This value of this attribute is a URI list that identifies the particular PERT schema(s) to
					which the instance claims compliance. Ideally, this URI should be dereferencable, and should yield a
					download of the schema.</a:documentation>
				<a:documentation>Normally, the value of schemaLocation should be (a) URI(s) in the http://www.cap.org/pert/
					or in the http://purl.oclc.org/cap/pert/ namespace. However, if users wish to use locally modified
					versions of the schema(s), the location might be other.</a:documentation>
				<a:documentation>The list can include not only .rng schemas, but also .sch schemas. However, if multiple
					schemas are to be applied, it is preferable to provide a link to an .nvdl file that specifies the order
					and other details of the validation.</a:documentation>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<ref name="synopsis.schemaLocation.valueset"/>
			</attribute>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<attribute name="version" ns="http://www.cap.org/pert/2009/01/">
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<a:documentation>This attribute is a human-readable string that gives versioning information about the
					*schema* to which the instance claims compliance.</a:documentation>
				<a:documentation>N.B. (1) This value of this attribute IS NOT a document (instance) version, but rather a
					schema version--the version of the schema(s) to which the instance claims compliance.</a:documentation>
				<a:documentation>N.B. (2) This standard DOES NOT provide any model for versioning (e.g. correcting,
					revision, etc) an instance of an eCC report. Such versioning is application dependent.</a:documentation>
				<a:documentation>N.B. (3) This standard DOES provide support for XML Signature, which is an XML-standard
					security and provenance standard that can assist in versioning. </a:documentation>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<ref name="synopsis.version.valueset"/>
			</attribute>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<attribute name="transformation" ns="http://www.w3.org/2003/g/data-view#">
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<a:documentation>The value of this attribute is a space-separated list of tokens (which will typically be
					URIs) that identify transformations associated with this instance for the purpose of semantic extraction,
					in accordance with the W3C GRDDL specification.</a:documentation>
				<a:documentation>For more information, refer to the W3C GRDDL specification, which can be obtained at:
					http://www.w3.org/TR/grddl/ .</a:documentation>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<ref name="synopsis.transformation.valueset"/>
			</attribute>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "accessory"
			section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.treatmentEffect.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.venousInvasion.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.perineuralInvasion.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.lymphovascularInvasion.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "additional"
			section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="additional.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="additional.item.attrib">
			<attribute name="name">
				<ref name="additional.item.name.valueset"/>
			</attribute>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "clinical"
			section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="clinical.allChildren.attrib">
			<optional>
				<attribute name="date">
					<ref name="common.date.valueset"/>
				</attribute>
				<optional>
					<choice>
						<attribute name="until">
							<ref name="common.date.valueset"/>
						</attribute>
						<attribute name="duration">
							<data type="duration"/>
						</attribute>
					</choice>
				</optional>
			</optional>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.priorTherapy.attrib">
			<ref name="clinical.allChildren.attrib"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.clinicalFinding.attrib">
			<ref name="clinical.allChildren.attrib"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.radiologicFinding.attrib">
			<ref name="clinical.allChildren.attrib"/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "extent" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="extent.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="extent.size.attrib">
			<empty/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "margins" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="margins.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="margins.margin.attrib">
			<attribute name="location">
				<choice>
					<ref name="margins.margin.location.valueset"/>
					<value>specify</value>
					<value>unreported</value>
				</choice>
			</attribute>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="margins.margin.distance.attrib">
			<empty/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "metastases"
			section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="metastases.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="metastases.metastasis.attrib">
			<attribute name="location">
				<choice>
					<ref name="metastases.metastasis.location.valueset"/>
					<value>specify</value>
					<value>unreported</value>
				</choice>
			</attribute>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="metastases.metastasis.howDiagnosed.attrib">
			<empty/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "nodes" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="nodes.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="nodes.group.attrib">
			<attribute name="location">
				<choice>
					<ref name="nodes.group.location.values"/>
					<value>specify</value>
					<value>unreported</value>
				</choice>
			</attribute>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="nodes.group.largest.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="nodes.group.extracapsular.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="nodes.group.category.attrib">
			<empty/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "specimen"
			section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.procedure.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.site.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.tumorLocation.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.integrity.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.grossSize.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.weight.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.tumorGrossSize.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "stage" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="stage.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.prefix.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.T.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.N.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.M.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.classification.attrib">
			<empty/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "studies" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="studies.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="studies.study.attrib">
			<attribute name="name">
				<ref name="studies.study.name.valueset"/>
			</attribute>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="studies.study.method.attrib">
			<empty/>
		</define>
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>This division contains attribute definitions relevant to the "tumor" section.</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="tumor.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="tumor.grade.attrib">
			<optional>
				<attribute name="system">
					<ref name="tumor.grade.system.valueset"/>
				</attribute>
			</optional>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="tumor.histologicType.attrib">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
