framework/components/elementContents.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    ===========================================================================
    Copyright 2009 College of American Pathologists (CAP)
    
    This file is part of the "CAP Schemas for Synoptic Cancer Reports".
    
    The "CAP Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================
    
-->
<!DOCTYPE grammar [
<!ENTITY value "value.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.cap.org/pert/2009/01/"
	xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	xmlns:ecc="http://www.cap.org/pert/2009/01/">
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<a:documentation>This file contains the content models for most of the non-site-specific elements in the
		eCC.</a:documentation>
	<a:documentation>It is organized by section, in alphabetical order.</a:documentation>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>accessory CONTENT</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.venousInvasion.elements">
			<a:documentation>.. venousInvasion CONTENT ..</a:documentation>
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="accessory.venousInvasion.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.lymphovascularInvasion.elements">
			<a:documentation>.. lymphovascularInvasion CONTENT ..</a:documentation>
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="accessory.lymphovascularInvasion.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.perineuralInvasion.elements">
			<a:documentation>.. perineuralInvasion CONTENT ..</a:documentation>
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="accessory.perineuralInvasion.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="accessory.treatmentEffect.elements">
			<a:documentation>.. treatmentEffect CONTENT ..</a:documentation>
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="accessory.treatmentEffect.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="accessory.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- additional CONTENT</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="additional.item.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>.. item CONTENT ..</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="additional.item.default.values"/>
						</define>
					</include>
				</grammar>
				<ref name="common.specify"/>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="additional.siteSpecific.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- clinical CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.priorTherapy.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>.. priorTherapy CONTENT..</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="clinical.priorTherapy.values"/>
						</define>
					</include>
				</grammar>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.clinicalFinding.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>.. clinicalFinding CONTENT ..</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="clinical.clinicalFinding.values"/>
						</define>
					</include>
				</grammar>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.radiologicFinding.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>.. radiologicFinding CONTENT ..</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="clinical.radiologicFinding.values"/>
						</define>
					</include>
				</grammar>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="clinical.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- extent CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="extent.size.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation>.. size CONTENT ..</a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<ref name="common.sizeContent"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="extent.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- margins SECTION --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="margins.margin.elements">
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
							<optional>
								<attribute name="closest">
									<parentRef name="common.extendedBoolean.values"/>
								</attribute>
							</optional>
						</define>
						<define name="value.text.result">
							<parentRef name="margins.margin.value.values"/>
						</define>
						<define name="value.extension.elements">
							<optional>
								<element name="distance">
									<parentRef name="length.content"/>
									<parentRef name="margins.margin.distance.attrib"/>
								</element>
							</optional>
						</define>
					</include>
				</grammar>
				<optional>
					<ref name="common.specify"/>
				</optional>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="margins.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- metastases CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="metastases.metastasis.elements">
			<interleave>
				<optional>
					<ref name="common.size"/>
				</optional>
				<!--<grammar>
          <include href="&value;">
            <define name="value.attrib">
              <ref name="value.text.attrib"/>
            </define>
            <define name="value.text.result">
              <parentRef name="common.extendedBoolean.values"/>
            </define>
            <define name="value.extension.elements">
              
            </define>
          </include>
        </grammar>-->
				<optional>
					<ref name="common.specify"/>
				</optional>
				<optional>
					<element name="howDiagnosed">
						<grammar>
							<include href="&value;">
								<define name="value.attrib">
									<ref name="value.text.attrib"/>
								</define>
								<define name="value.text.result">
									<parentRef name="metastases.metastasis.howDiagnosed.values"/>
								</define>
							</include>
						</grammar>
					</element>
				</optional>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="metastases.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- nodes CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="nodes.group.elements">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<a:documentation> </a:documentation>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<interleave>
				<optional>
					<ref name="common.specify"/>
				</optional>
				<group>
					<element name="count">
						<attribute name="status">
							<value>total</value>
						</attribute>
						<interleave>
							<grammar>
								<include href="&value;">
									<define name="value.attrib">
										<ref name="value.dimensionless.attrib"/>
									</define>
									<define name="value.numeric.result">
										<data type="nonNegativeInteger"/>
									</define>
								</include>
							</grammar>
							<ref name="common.elements"/>
						</interleave>
						<ref name="nodes.group.category.attrib"/>
					</element>
					<optional>
						<element name="count">
							<attribute name="status">
								<value>positive</value>
							</attribute>
							<interleave>
								<grammar>
									<include href="&value;">
										<define name="value.attrib">
											<ref name="value.dimensionless.attrib"/>
										</define>
										<define name="value.numeric.result">
											<data type="nonNegativeInteger"/>
										</define>
									</include>
								</grammar>
								<ref name="common.elements"/>
								<optional>
									<element name="largest">
										<ref name="common.sizeContent"/>
										<ref name="nodes.group.largest.attrib"/>
									</element>
								</optional>
								<optional>
									<element name="extracapsular">
										<interleave>
											<grammar>
												<include href="&value;">
												<define name="value.attrib">
												<ref name="value.text.attrib"/>
												</define>
												<define name="value.text.result">
												<parentRef name="common.extendedBoolean.values"/>
												</define>
												</include>
											</grammar>
											<ref name="common.elements"/>
										</interleave>
										<ref name="nodes.group.extracapsular.attrib"/>
									</element>
								</optional>
							</interleave>
							<ref name="nodes.group.category.attrib"/>
						</element>
					</optional>
					<optional>
						<element name="count">
							<attribute name="status">
								<value>regressed</value>
							</attribute>
							<interleave>
								<grammar>
									<include href="&value;">
										<define name="value.attrib">
											<ref name="value.dimensionless.attrib"/>
										</define>
										<define name="value.numeric.result">
											<data type="nonNegativeInteger"/>
										</define>
									</include>
								</grammar>
								<ref name="common.elements"/>
							</interleave>
							<ref name="nodes.group.category.attrib"/>
						</element>
					</optional>
					<optional>
						<element name="count">
							<attribute name="status">
								<value>specify</value>
							</attribute>
							<interleave>
								<grammar>
									<include href="&value;">
										<define name="value.attrib">
											<ref name="value.dimensionless.attrib"/>
										</define>
										<define name="value.numeric.result">
											<data type="nonNegativeInteger"/>
										</define>
									</include>
								</grammar>
								<ref name="common.elements"/>
								<element name="specify">
									<text/>
									<ref name="common.specify.attrib"/>
								</element>
							</interleave>
							<ref name="nodes.group.category.attrib"/>
						</element>
					</optional>
				</group>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="nodes.group.location.values">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="nodes.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- specimen CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.procedure.elements">
			<oneOrMore>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="specimen.procedure.values"/>
						</define>
					</include>
				</grammar>
			</oneOrMore>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.site.elements">
			<oneOrMore>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="specimen.site.values"/>
						</define>
					</include>
				</grammar>
			</oneOrMore>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.tumorLocation.elements">
			<oneOrMore>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="specimen.site.values"/>
						</define>
					</include>
				</grammar>
			</oneOrMore>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.integrity.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="specimen.integrity.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="specimen.grossSize.elements">
			<ref name="common.size"/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="specimen.weight.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.dimensional.attrib"/>
					</define>
					<define name="value.numeric.result">
						<data type="decimal">
							<param name="minExclusive">0.0</param>
						</data>
					</define>
					<define name="value.unit.result">
						<parentRef name="common.weightUnit.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="specimen.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- stage CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.prefix.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="stage.prefix.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.T.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="stage.T.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.M.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="stage.M.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.N.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="stage.N.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="stage.classification.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="stage.classification.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="stage.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- studies CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define name="studies.study.elements">
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="studies.study.value.values"/>
						</define>
					</include>
				</grammar>
				<optional>
					<element name="method">
						<interleave>
							<grammar>
								<include href="&value;">
									<define name="value.attrib">
										<ref name="value.text.attrib"/>
									</define>
									<define name="value.text.result">
										<parentRef name="studies.study.method.values"/>
									</define>
								</include>
							</grammar>
							<ref name="common.elements"/>
						</interleave>
						<ref name="studies.study.method.attrib"/>
					</element>
				</optional>
				<optional>
					<ref name="common.specify"/>
				</optional>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="studies.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<a:documentation>-- tumor CONTENT --</a:documentation>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="tumor.histologicType.elements">
			<grammar>
				<include href="&value;">
					<define name="value.attrib">
						<ref name="value.text.attrib"/>
					</define>
					<define name="value.text.result">
						<parentRef name="tumor.histologicType.value.values"/>
					</define>
				</include>
			</grammar>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="choice" name="tumor.grade.elements">
			<interleave>
				<grammar>
					<include href="&value;">
						<define name="value.attrib">
							<ref name="value.text.attrib"/>
						</define>
						<define name="value.text.result">
							<parentRef name="tumor.grade.values"/>
						</define>
					</include>
				</grammar>
				<ref name="common.specify"/>
			</interleave>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<define combine="interleave" name="tumor.siteSpecific.elements">
			<empty/>
		</define>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
