colon/colon.rng

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE grammar [
<!ENTITY  section       "../section.rng">
<!ENTITY  item          "../item.rng">
<!ENTITY  values        "../values.rng">
<!ENTITY  generic       "../generic.rng">
<!ENTITY  colon-values  "values.rng">
<!ENTITY  core          "../core-sections.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://cap#colon/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:colon="http://cap#colon/">
    <!--=============================================================-->
    <include href="&core;">
        <start>
            <ref name="resection"/>
        </start>
        <define name="schemaLocation">
            <value>http://cap#colon/</value>
        </define>
        <define name="version">
            <value>1.0a</value>
        </define>
        <define name="semantics">
            <value>http://cap#colon/snomedct/ http://cap#colon/radlex/</value>
        </define>
        <!--=============================================================-->
    </include>
    <include href="&colon-values;"/>
    <!--=============================================================-->
    <define name="accessory.extension">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>peritumoral deposits</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>mucinous component</value>
                    </define>
                    <define name="response">
                        <ref name="percent"/>
                    </define>
                </include>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>medullary component</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>intratumoral immune response</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.immuneResponse.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>peritumoral immune response</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="accessory.immuneResponse.valueset"/>
                </define>
            </grammar>
        </optional>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <define name="additional.extension">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <empty/>
    </define>
    <!--=============================================================-->
    <define name="extent.extension">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>deepest invasion</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="extent.deepestInvasion.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>tumor perforation</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="qualitative.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </define>
    <!--=============================================================-->
    <div>
        <a:documentation>Specimen section customizations</a:documentation>
        <!--=============================================================-->
        <define name="specimen.extension">
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <optional>
                <grammar>
                    <include href="&item;">
                        <define name="name">
                            <value>mesorectum intactness</value>
                        </define>
                        <define name="response">
                            <ref name="selectOne"/>
                        </define>
                    </include>
                    <define name="valueset">
                        <parentRef name="specimen.mesorectum.valueset"/>
                    </define>
                </grammar>
            </optional>
        </define>
        <!--=============================================================-->
    </div>
    <!--=============================================================-->
    <define name="studies.extension">
        <optional>
            <ref name="studies.microsatelliteInstability"/>
        </optional>
        <optional>
            <ref name="studies.MLH1"/>
        </optional>
        <optional>
            <ref name="studies.MSH"/>
        </optional>
        <optional>
            <ref name="studies.MSH6"/>
        </optional>
        <optional>
            <ref name="studies.PMS2"/>
        </optional>
        <optional>
            <ref name="studies.BRAF"/>
        </optional>
        <optional>
            <ref name="studies.KRAS"/>
        </optional>
    </define>
    <div>
        <define name="studies.microsatelliteInstability">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>microsatellite instability</value>
                    </define>
                    <define name="content">
                        <parentRef name="microsatellite.result"/>
                        <parentRef name="microsatellite.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="microsatellite.result">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.microsatelliteInstability.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="microsatellite.method">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>method</value>
                    </define>
                    <define name="content">
                        <parentRef name="microsatellite.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="microsatellite.method.content">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.microsatelliteInstability.method.valueset"/>
                </define>
            </grammar>
        </define>
    </div>
    <div>
        <define name="studies.MLH1">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>MLH1</value>
                    </define>
                    <define name="content">
                        <parentRef name="MLH1.result"/>
                        <parentRef name="MLH1.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="MLH1.result">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="MLH1.method">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>method</value>
                    </define>
                    <define name="content">
                        <parentRef name="MLH1.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="MLH1.method.content">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.method.valueset"/>
                </define>
            </grammar>
        </define>
    </div>
    <div>
        <define name="studies.MSH">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>MSH</value>
                    </define>
                    <define name="content">
                        <parentRef name="MSH.result"/>
                        <parentRef name="MSH.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="MSH.result">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="MSH.method">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>method</value>
                    </define>
                    <define name="content">
                        <parentRef name="MSH.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="MSH.method.content">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.method.valueset"/>
                </define>
            </grammar>
        </define>
    </div>
    <div>
        <define name="studies.MSH6">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>MSH6</value>
                    </define>
                    <define name="content">
                        <parentRef name="MSH6.result"/>
                        <parentRef name="MSH6.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="MSH6.result">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="MSH6.method">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>method</value>
                    </define>
                    <define name="content">
                        <parentRef name="MSH6.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="MSH6.method.content">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.method.valueset"/>
                </define>
            </grammar>
        </define>
    </div>
    <div>
        <define name="studies.PMS2">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>PMS2</value>
                    </define>
                    <define name="content">
                        <parentRef name="PMS2.result"/>
                        <parentRef name="PMS2.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="PMS2.result">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="PMS2.method">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>method</value>
                    </define>
                    <define name="content">
                        <parentRef name="PMS2.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="PMS2.method.content">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mismatchRepair.method.valueset"/>
                </define>
            </grammar>
        </define>
    </div>
    <define name="studies.BRAF">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>BRAF</value>
                </define>
                <define name="content">
                    <parentRef name="BRAF.result"/>
                    <parentRef name="BRAF.mutation"/>
                    <parentRef name="BRAF.method.content"/>
                </define>
            </include>
        </grammar>
    </define>
    <define name="BRAF.result">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>result</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="studies.mutationalAnalysis.valueset"/>
            </define>
        </grammar>
    </define>
    <define name="BRAF.mutation">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>mutation</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="studies.BRAF.mutation.valueset"/>
            </define>
        </grammar>
    </define>
    <define name="BRAF.method">
        <grammar>
            <include href="&section;">
                <define name="name">
                    <value>method</value>
                </define>
                <define name="content">
                    <parentRef name="BRAF.method.content"/>
                </define>
            </include>
        </grammar>
    </define>
    <define name="BRAF.method.content">
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>technique</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="studies.mutationalAnalysis.method.valueset"/>
            </define>
        </grammar>
    </define>
    <div>
        <define name="studies.KRAS">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>KRAS</value>
                    </define>
                    <define name="content">
                        <parentRef name="KRAS.result"/>
                        <parentRef name="KRAS.mutation"/>
                        <parentRef name="KRAS.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="KRAS.result">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>result</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mutationalAnalysis.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="KRAS.mutation">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>mutation</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.KRAS.mutation.valueset"/>
                </define>
            </grammar>
        </define>
        <define name="KRAS.method">
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>method</value>
                    </define>
                    <define name="content">
                        <parentRef name="KRAS.method.content"/>
                    </define>
                </include>
            </grammar>
        </define>
        <define name="KRAS.method.content">
            <grammar>
                <include href="&item;">
                    <define name="name">
                        <value>technique</value>
                    </define>
                    <define name="response">
                        <ref name="selectOne"/>
                    </define>
                </include>
                <define name="valueset">
                    <parentRef name="studies.mutationalAnalysis.method.valueset"/>
                </define>
            </grammar>
        </define>
    </div>
    <!--=============================================================-->
    <define name="tumor.extension">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <optional>
            <grammar>
                <include href="&section;">
                    <define name="name">
                        <value>precursor polyp</value>
                    </define>
                    <define name="content">
                        <parentRef name="precursorPolyp.content"/>
                    </define>
                </include>
            </grammar>
        </optional>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="precursorPolyp.content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>type</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="precursorPolyp.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>configuration</value>
                </define>
                <define name="response">
                    <ref name="selectOne"/>
                </define>
            </include>
            <define name="valueset">
                <parentRef name="specimen.polypConfiguration.valueset"/>
            </define>
        </grammar>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <grammar>
            <include href="&item;">
                <define name="name">
                    <value>stalk length</value>
                </define>
                <define name="response">
                    <ref name="length"/>
                </define>
            </include>
        </grammar>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus.site.extension">
        <optional>
            <attribute name="modifier">
                <ref name="extent.severity.valueset"/>
            </attribute>
        </optional>
    </define>
    <!--=============================================================-->
</grammar>
