branches/2009-07-28-mk/doc/Atlanta/myschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD/2003-04-21T17:37:34" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD/2003-04-21T17:37:34" xmlns:xd="http://schemas.microsoft.com/office/infopath/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="Caption" type="xsd:integer"/>
	<xsd:element name="PathologyReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Header" minOccurs="0"/>
				<xsd:element ref="my:ClinicalHistory" minOccurs="0"/>
				<xsd:element ref="my:Gross" minOccurs="0"/>
				<xsd:element ref="my:CPT" minOccurs="0"/>
				<xsd:element ref="my:Intraoperative" minOccurs="0"/>
				<xsd:element ref="my:Microscopic" minOccurs="0"/>
				<xsd:element ref="my:Images" minOccurs="0"/>
				<xsd:element ref="my:Immunohistochemistry" minOccurs="0"/>
				<xsd:element ref="my:Molecular" minOccurs="0"/>
				<xsd:element ref="my:EM" minOccurs="0"/>
				<xsd:element ref="my:Diagnosis" minOccurs="0"/>
				<xsd:element ref="my:Comments" minOccurs="0"/>
				<xsd:element ref="my:pM" minOccurs="0"/>
				<xsd:element ref="my:group1" minOccurs="0"/>
				<xsd:element ref="my:group3" minOccurs="0"/>
				<xsd:element ref="my:PresurgicalRx" minOccurs="0"/>
			</xsd:sequence>
			<xsd:anyAttribute processContents="lax" namespace="http://www.w3.org/XML/1998/namespace"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RepOrgExtension" minOccurs="0"/>
				<xsd:element ref="my:Date" minOccurs="0"/>
				<xsd:element ref="my:GivenName" minOccurs="0"/>
				<xsd:element ref="my:FamilyName" minOccurs="0"/>
				<xsd:element ref="my:EffectiveTime" minOccurs="0"/>
				<xsd:element ref="my:PathologistGivenName" minOccurs="0"/>
				<xsd:element ref="my:PathologistFamilyName" minOccurs="0"/>
				<xsd:element ref="my:PathologistSuffix" minOccurs="0"/>
				<xsd:element ref="my:PathologistIDRoot" minOccurs="0"/>
				<xsd:element ref="my:PathologistIDExtension" minOccurs="0"/>
				<xsd:element ref="my:PatientIDRoot" minOccurs="0"/>
				<xsd:element ref="my:PatientIDExtension" minOccurs="0"/>
				<xsd:element ref="my:PatientSex" minOccurs="0"/>
				<xsd:element ref="my:DOB" minOccurs="0"/>
				<xsd:element ref="my:DocIDRoot" minOccurs="0"/>
				<xsd:element ref="my:DocIDExtension" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RepOrgExtension" type="xsd:string"/>
	<xsd:element name="Date" nillable="true" type="xsd:date"/>
	<xsd:element name="GivenName" type="xsd:string"/>
	<xsd:element name="FamilyName" type="xsd:string"/>
	<xsd:element name="EffectiveTime" nillable="true" type="xsd:dateTime"/>
	<xsd:element name="PathologistGivenName" type="xsd:string"/>
	<xsd:element name="PathologistFamilyName" type="xsd:string"/>
	<xsd:element name="PathologistSuffix" type="xsd:string"/>
	<xsd:element name="PathologistIDRoot" type="xsd:anyURI"/>
	<xsd:element name="PathologistIDExtension" type="xsd:string"/>
	<xsd:element name="PatientIDRoot" type="xsd:anyURI"/>
	<xsd:element name="PatientIDExtension" type="xsd:string"/>
	<xsd:element name="PatientSex" type="xsd:string"/>
	<xsd:element name="DOB" nillable="true" type="xsd:date"/>
	<xsd:element name="DocIDRoot" type="xsd:anyURI"/>
	<xsd:element name="DocIDExtension" type="xsd:string"/>
	<xsd:element name="ClinicalHistory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Item" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item" type="my:requiredString"/>
	<xsd:element name="Gross">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.GD" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.GD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Text.GD" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute ref="my:Caption"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text.GD">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CPT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Codes" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Codes" type="xsd:string"/>
	<xsd:element name="Intraoperative">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.IO" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.IO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Text.IO" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text.IO">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Microscopic">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.MD" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.MD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Text.MD" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute ref="my:Caption"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text.MD">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Images">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Image" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Image">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Photo" minOccurs="0"/>
				<xsd:element ref="my:ImageDescription" minOccurs="0"/>
				<xsd:element ref="my:TypeOfImage" minOccurs="0"/>
				<xsd:element ref="my:Magnification" minOccurs="0"/>
				<xsd:element ref="my:Stain" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Photo" nillable="true" type="xsd:base64Binary"/>
	<xsd:element name="ImageDescription">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TypeOfImage" type="xsd:string"/>
	<xsd:element name="Magnification" type="xsd:string"/>
	<xsd:element name="Stain" type="xsd:string"/>
	<xsd:element name="Immunohistochemistry">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.IC" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.IC">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Text.IC" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text.IC">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Molecular">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.MO" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.MO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Text.MO" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text.MO" type="xsd:string"/>
	<xsd:element name="EM">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.EM" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.EM">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Text.EM" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text.EM" type="xsd:string"/>
	<xsd:element name="Diagnosis">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Specimen.DX" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:Checklist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Specimen.DX">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Paragraph.DX" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute ref="my:Caption"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Paragraph.DX">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Checklist">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:DiagnosisHeader" minOccurs="0"/>
				<xsd:element ref="my:TumorLocationGroup" minOccurs="0"/>
				<xsd:element ref="my:SpecimenType" minOccurs="0"/>
				<xsd:element ref="my:HistologicType" minOccurs="0"/>
				<xsd:element ref="my:HistologicTypeAdd" minOccurs="0"/>
				<xsd:element ref="my:Grade" minOccurs="0"/>
				<xsd:element ref="my:Invasion" minOccurs="0"/>
				<xsd:element ref="my:Margin" minOccurs="0"/>
				<xsd:element ref="my:VenousInvasion" minOccurs="0"/>
				<xsd:element ref="my:LymphaticInvasion" minOccurs="0"/>
				<xsd:element ref="my:RegionalLymphNodes" minOccurs="0"/>
				<xsd:element ref="my:NontumorFindings" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:Note" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DiagnosisHeader" type="my:requiredString"/>
	<xsd:element name="TumorLocationGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RightUpperLobe" minOccurs="0"/>
				<xsd:element ref="my:RightMiddleLobe" minOccurs="0"/>
				<xsd:element ref="my:RightLowerLobe" minOccurs="0"/>
				<xsd:element ref="my:LeftUpperLobe" minOccurs="0"/>
				<xsd:element ref="my:Lingula" minOccurs="0"/>
				<xsd:element ref="my:LeftLowerLobe" minOccurs="0"/>
				<xsd:element ref="my:Other" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RightUpperLobe" nillable="true" type="xsd:boolean"/>
	<xsd:element name="RightMiddleLobe" nillable="true" type="xsd:boolean"/>
	<xsd:element name="RightLowerLobe" nillable="true" type="xsd:boolean"/>
	<xsd:element name="LeftUpperLobe" nillable="true" type="xsd:boolean"/>
	<xsd:element name="Lingula" nillable="true" type="xsd:boolean"/>
	<xsd:element name="LeftLowerLobe" nillable="true" type="xsd:boolean"/>
	<xsd:element name="Other" type="xsd:string"/>
	<xsd:element name="SpecimenType" type="my:requiredString"/>
	<xsd:element name="HistologicType" type="my:requiredString"/>
	<xsd:element name="HistologicTypeAdd" type="xsd:string"/>
	<xsd:element name="Grade" type="my:requiredString"/>
	<xsd:element name="Invasion">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Diameter" minOccurs="0"/>
				<xsd:element ref="my:MainstemBronchusInvolvement" minOccurs="0"/>
				<xsd:element ref="my:VisceralPleuraInvasion" minOccurs="0"/>
				<xsd:element ref="my:ChestWallInvasion" minOccurs="0"/>
				<xsd:element ref="my:MediastinalInvasion" minOccurs="0"/>
				<xsd:element ref="my:MultipleTumorNodules" minOccurs="0"/>
				<xsd:element ref="my:PanlobarAtelectasis" minOccurs="0"/>
				<xsd:element ref="my:MainstemCloseCarina" minOccurs="0"/>
				<xsd:element ref="my:PanLungAtelectasis" minOccurs="0"/>
				<xsd:element ref="my:MalignantEffusion" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Diameter" type="xsd:double"/>
	<xsd:element name="MainstemBronchusInvolvement" type="my:requiredString"/>
	<xsd:element name="VisceralPleuraInvasion" type="my:requiredString"/>
	<xsd:element name="ChestWallInvasion" type="my:requiredString"/>
	<xsd:element name="MediastinalInvasion" type="my:requiredString"/>
	<xsd:element name="MultipleTumorNodules" type="my:requiredString"/>
	<xsd:element name="PanlobarAtelectasis" type="my:requiredString"/>
	<xsd:element name="MainstemCloseCarina" type="xsd:string"/>
	<xsd:element name="PanLungAtelectasis" type="my:requiredString"/>
	<xsd:element name="MalignantEffusion" type="my:requiredString"/>
	<xsd:element name="Margin">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:BronchialMargin" minOccurs="0"/>
				<xsd:element ref="my:VascularMargin" minOccurs="0"/>
				<xsd:element ref="my:ParenchymalMargin" minOccurs="0"/>
				<xsd:element ref="my:PleuralMargin" minOccurs="0"/>
				<xsd:element ref="my:ClosestMargin" minOccurs="0"/>
				<xsd:element ref="my:MarginDistance" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BronchialMargin" type="my:requiredString"/>
	<xsd:element name="VascularMargin" type="my:requiredString"/>
	<xsd:element name="ParenchymalMargin" type="my:requiredString"/>
	<xsd:element name="PleuralMargin" type="my:requiredString"/>
	<xsd:element name="ClosestMargin" type="xsd:string"/>
	<xsd:element name="MarginDistance" nillable="true" type="xsd:double"/>
	<xsd:element name="VenousInvasion" type="xsd:string"/>
	<xsd:element name="LymphaticInvasion" type="xsd:string"/>
	<xsd:element name="RegionalLymphNodes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RLNStatus" minOccurs="0"/>
				<xsd:element ref="my:NodesExamined" minOccurs="0"/>
				<xsd:element ref="my:PositiveNodes" minOccurs="0"/>
				<xsd:element ref="my:LNLocation" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RLNStatus" type="xsd:string"/>
	<xsd:element name="NodesExamined" nillable="true" type="xsd:integer"/>
	<xsd:element name="PositiveNodes" nillable="true" type="xsd:integer"/>
	<xsd:element name="LNLocation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:IpsiPulmonaryLN" minOccurs="0"/>
				<xsd:element ref="my:IpsiMediastinalLN" minOccurs="0"/>
				<xsd:element ref="my:ContraLN" minOccurs="0"/>
				<xsd:element ref="my:ScalClavLN" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpsiPulmonaryLN" type="xsd:string"/>
	<xsd:element name="IpsiMediastinalLN" type="xsd:string"/>
	<xsd:element name="ContraLN" type="xsd:string"/>
	<xsd:element name="ScalClavLN" type="xsd:string"/>
	<xsd:element name="NontumorFindings" type="xsd:string"/>
	<xsd:element name="Note">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Comments">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Comment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Comment" type="xsd:string"/>
	<xsd:element name="pM" type="xsd:string"/>
	<xsd:element name="group1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:group2" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="group2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:field1" minOccurs="0"/>
				<xsd:element ref="my:field2" minOccurs="0"/>
				<xsd:element ref="my:field3" minOccurs="0"/>
				<xsd:element ref="my:field4" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="field1" type="xsd:string"/>
	<xsd:element name="field2" type="xsd:string"/>
	<xsd:element name="field3" type="xsd:string"/>
	<xsd:element name="field4" type="xsd:string"/>
	<xsd:element name="group3">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="my:group4" minOccurs="0"/>
				<xsd:element ref="my:group5" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="group4">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="group5">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PresurgicalRx" nillable="true" type="xsd:integer"/>
	<xsd:simpleType name="requiredString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="requiredAnyURI">
		<xsd:restriction base="xsd:anyURI">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>