2009-01-03-jm/report/cap-cancer/resection/simplified.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element>
      <name ns="http://www.cap.org/pert/2009/01/">synopsis</name>
      <ref name="p0"/>
    </element>
  </start>
  <define name="p0">
    <attribute>
      <name ns="http://www.cap.org/pert/2009/01/">schemaLocation</name>
      <value>http://www.cap.org/pert/2009/01/resection@breast.rng</value>
    </attribute>
    <attribute>
      <name ns="http://www.cap.org/pert/2009/01/">version</name>
      <value>2008-12-25</value>
    </attribute>
    <attribute>
      <name ns="http://www.w3.org/2003/g/data-view#">transformation</name>
      <text/>
    </attribute>
    <interleave>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">clinical</name>
          <ref name="p1"/>
        </element>
        <empty/>
      </choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">specimen</name>
        <ref name="p2"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">tumor</name>
        <ref name="p3"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">extent</name>
        <ref name="p4"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">margins</name>
        <ref name="p5"/>
      </element>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">accessory</name>
          <ref name="p6"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">nodes</name>
          <ref name="p7"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">metastases</name>
          <ref name="p8"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">studies</name>
          <ref name="p9"/>
        </element>
        <empty/>
      </choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">stage</name>
        <ref name="p10"/>
      </element>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">additional</name>
          <ref name="p11"/>
        </element>
        <empty/>
      </choice>
    </interleave>
  </define>
  <define name="p1">
    <interleave>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">priorTherapies</name>
          <ref name="p12"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">clinicalFindings</name>
          <ref name="p13"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">radiologicFindings</name>
          <ref name="p14"/>
        </element>
        <empty/>
      </choice>
    </interleave>
  </define>
  <define name="p2">
    <interleave>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">procedures</name>
        <ref name="p15"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">sites</name>
        <ref name="p16"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">tumorLocations</name>
        <ref name="p17"/>
      </element>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">integrity</name>
          <ref name="p18"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">size</name>
          <ref name="p19"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">weight</name>
          <ref name="p20"/>
        </element>
        <empty/>
      </choice>
    </interleave>
  </define>
  <define name="p3">
    <interleave>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">histologicTypes</name>
        <ref name="p21"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">grade</name>
        <ref name="p22"/>
      </element>
    </interleave>
  </define>
  <define name="p4">
    <interleave>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">tumorSize</name>
        <ref name="p23"/>
      </element>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">userDefined</name>
          <ref name="p24"/>
        </element>
        <empty/>
      </choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">invasion</name>
        <ref name="p25"/>
      </element>
    </interleave>
  </define>
  <define name="p5">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">margin</name>
          <ref name="p26"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p6">
    <interleave>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">venousInvasion</name>
          <ref name="p27"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">lymphovascularInvasion</name>
          <ref name="p27"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">perineuralInvasion</name>
          <ref name="p27"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">treatmentEffect</name>
          <ref name="p28"/>
        </element>
        <empty/>
      </choice>
      <group>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/breast/">dermalLymphaticInvasion</name>
          <ref name="p27"/>
        </element>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/breast/">microcalcification</name>
          <ref name="p29"/>
        </element>
      </group>
    </interleave>
  </define>
  <define name="p7">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">nodeGroup</name>
          <ref name="p30"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p8">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">metastasis</name>
          <ref name="p31"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p9">
    <interleave>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">estrogenReceptor</name>
        <ref name="p32"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">progesteroneReceptor</name>
        <ref name="p32"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">her2neu</name>
        <ref name="p33"/>
      </element>
    </interleave>
  </define>
  <define name="p10">
    <interleave>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">prefix</name>
          <ref name="p34"/>
        </element>
        <empty/>
      </choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">classification</name>
        <ref name="p35"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">T</name>
        <ref name="p36"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">N</name>
        <ref name="p37"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">M</name>
        <ref name="p38"/>
      </element>
    </interleave>
  </define>
  <define name="p11">
    <choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">findings</name>
        <ref name="p39"/>
      </element>
      <empty/>
    </choice>
  </define>
  <define name="p12">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">priorTherapy</name>
          <ref name="p40"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p13">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">clinicalFinding</name>
          <ref name="p41"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p14">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">radiologicFinding</name>
          <ref name="p42"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p15">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">procedure</name>
          <ref name="p43"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p16">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">site</name>
          <ref name="p44"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p17">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">tumorLocation</name>
          <ref name="p45"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p18">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>single intact</value>
        <value>multiple designated</value>
        <value>fragmented</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="p19">
    <attribute>
      <name ns="">unit</name>
      <choice>
        <value>mm</value>
        <value>cm</value>
        <value>in</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">dimension-1</name>
      <text/>
    </attribute>
    <choice>
      <group>
        <attribute>
          <name ns="">dimension-2</name>
          <text/>
        </attribute>
        <choice>
          <attribute>
            <name ns="">dimension-3</name>
            <text/>
          </attribute>
          <empty/>
        </choice>
      </group>
      <empty/>
    </choice>
  </define>
  <define name="p20">
    <attribute>
      <name ns="">unit</name>
      <choice>
        <value>g</value>
        <value>kg</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">value</name>
      <text/>
    </attribute>
  </define>
  <define name="p21">
    <oneOrMore>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">histologicType</name>
        <ref name="p46"/>
      </element>
    </oneOrMore>
  </define>
  <define name="p22">
    <interleave>
      <attribute>
        <name ns="">value</name>
        <choice>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>microinvasive only</value>
          <value>indeterminate</value>
          <value>inapplicable</value>
          <value/>
        </choice>
      </attribute>
      <choice>
        <attribute>
          <name ns="">otherValue</name>
          <text/>
        </attribute>
        <empty/>
      </choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">glandular</name>
        <ref name="p47"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">nuclearPleomorphism</name>
        <ref name="p47"/>
      </element>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/breast/">mitoticCount</name>
        <ref name="p47"/>
      </element>
    </interleave>
    <choice>
      <attribute>
        <name ns="">gradingSystem</name>
        <choice>
          <value>Nottingham</value>
          <value>WHO</value>
          <value>other</value>
        </choice>
      </attribute>
      <empty/>
    </choice>
  </define>
  <define name="p23">
    <attribute>
      <name ns="">dimension-1</name>
      <text/>
    </attribute>
    <choice>
      <group>
        <attribute>
          <name ns="">dimension-2</name>
          <text/>
        </attribute>
        <choice>
          <attribute>
            <name ns="">dimension-3</name>
            <text/>
          </attribute>
          <empty/>
        </choice>
      </group>
      <empty/>
    </choice>
    <attribute>
      <name ns="">unit</name>
      <choice>
        <value>mm</value>
        <value>cm</value>
        <value>in</value>
      </choice>
    </attribute>
  </define>
  <define name="p24">
    <empty/>
  </define>
  <define name="p25">
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/breast/">invasionFinding</name>
          <ref name="p48"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p26">
    <interleave>
      <group>
        <attribute>
          <name ns="">location</name>
          <choice>
            <value>superior</value>
            <value>inferior</value>
            <value>medial</value>
            <value>lateral</value>
            <value>anterior</value>
            <value>posterior</value>
          </choice>
        </attribute>
        <attribute>
          <name ns="">status</name>
          <choice>
            <value>negative</value>
            <value>indeterminate</value>
            <value>inapplicable</value>
            <value>inconclusive</value>
            <value>focally positive</value>
            <value>positive</value>
            <value>extensively positive</value>
          </choice>
        </attribute>
        <choice>
          <attribute>
            <name ns="">closest</name>
            <text/>
          </attribute>
          <empty/>
        </choice>
        <choice>
          <element>
            <name ns="http://www.cap.org/pert/2009/01/">distance</name>
            <ref name="p49"/>
          </element>
          <empty/>
        </choice>
      </group>
      <attribute>
        <name ns="">for</name>
        <choice>
          <value>carcinoma-in-situ</value>
          <value>invasive carcinoma</value>
        </choice>
      </attribute>
    </interleave>
  </define>
  <define name="p27">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>positive</value>
        <value>negative</value>
        <value>inconclusive</value>
        <value>indeterminate</value>
        <value>inapplicable</value>
      </choice>
    </attribute>
  </define>
  <define name="p28">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>inapplicable</value>
        <value>negative</value>
        <value>positive</value>
      </choice>
    </attribute>
  </define>
  <define name="p29">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>negative</value>
        <value>positive in DCIS</value>
        <value>positive in invasive carcinoma</value>
        <value>positive in benign tissue</value>
        <value>positive in both carcinoma and benign tissue</value>
      </choice>
    </attribute>
  </define>
  <define name="p30">
    <attribute>
      <name ns="">laterality</name>
      <choice>
        <value>right</value>
        <value>left</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">location</name>
      <choice>
        <value>low axillary</value>
        <value>mid axillary</value>
        <value>high axillary</value>
        <value>infraclavicular</value>
        <value>supraclavicular</value>
        <value>internal mammary</value>
        <value>sentinel</value>
      </choice>
    </attribute>
    <choice>
      <oneOrMore>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">nodeStatus</name>
          <ref name="p50"/>
        </element>
      </oneOrMore>
      <empty/>
    </choice>
  </define>
  <define name="p31">
    <attribute>
      <name ns="">site</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">howDiagnosed</name>
      <choice>
        <value>this accesion</value>
        <value>prior accession</value>
        <value>outside report</value>
        <value>clinical examination</value>
      </choice>
    </attribute>
    <choice>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">size</name>
        <ref name="p19"/>
      </element>
      <empty/>
    </choice>
  </define>
  <define name="p32">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>positive</value>
        <value>negative</value>
        <value>inconclusive</value>
        <value>indeterminate</value>
        <value>inapplicable</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">antibody</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">vendor</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">fixative</name>
      <text/>
    </attribute>
  </define>
  <define name="p33">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>0</value>
        <value>1+</value>
        <value>2+</value>
        <value>3+</value>
        <value>pending</value>
        <value>not performed</value>
        <value>other</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">antibody</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">vendor</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">fixative</name>
      <text/>
    </attribute>
  </define>
  <define name="p34">
    <attribute>
      <name ns="">value</name>
      <list>
        <choice>
          <value>y</value>
          <value>r</value>
          <value>a</value>
        </choice>
        <choice>
          <group>
            <choice>
              <value>y</value>
              <value>r</value>
              <value>a</value>
            </choice>
            <choice>
              <value>y</value>
              <value>r</value>
              <value>a</value>
              <empty/>
            </choice>
          </group>
          <empty/>
        </choice>
      </list>
    </attribute>
  </define>
  <define name="p35">
    <attribute>
      <name ns="">value</name>
      <value>p</value>
    </attribute>
  </define>
  <define name="p36">
    <choice>
      <attribute>
        <name ns="">suffix</name>
        <value>m</value>
      </attribute>
      <empty/>
    </choice>
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>X</value>
        <value>0</value>
        <value>1mic</value>
        <value>1a</value>
        <value>1b</value>
        <value>1c</value>
        <value>2</value>
        <value>3</value>
        <value>4a</value>
        <value>4b</value>
        <value>4c</value>
        <value>4d</value>
      </choice>
    </attribute>
  </define>
  <define name="p37">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>X</value>
        <value>0</value>
        <value>0(i-)</value>
        <value>0(i+)</value>
        <value>0(mol-)</value>
        <value>0(mol+)</value>
        <value>1</value>
        <value>1mi</value>
        <value>1a</value>
        <value>1b</value>
        <value>1c</value>
        <value>2a</value>
        <value>2b</value>
        <value>3a</value>
        <value>3b</value>
        <value>3c</value>
      </choice>
    </attribute>
  </define>
  <define name="p38">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>X</value>
        <value>0</value>
        <value>1</value>
      </choice>
    </attribute>
  </define>
  <define name="p39">
    <oneOrMore>
      <element>
        <name ns="http://www.cap.org/pert/2009/01/">finding</name>
        <ref name="p51"/>
      </element>
    </oneOrMore>
  </define>
  <define name="p40">
    <attribute>
      <name ns="">description</name>
      <text/>
    </attribute>
    <choice>
      <attribute>
        <name ns="">date</name>
        <choice>
          <text/>
          <text/>
          <text/>
        </choice>
      </attribute>
      <empty/>
    </choice>
  </define>
  <define name="p41">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>palpable mass</value>
        <value>nipple discharge</value>
        <value>personal history of breast cancer</value>
        <value>family history of breast cancer</value>
      </choice>
    </attribute>
  </define>
  <define name="p42">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>mass</value>
        <value>architectural distortion</value>
        <value>calcifications</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="p43">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>excision</value>
        <value>excision, wire-guided</value>
        <value>total mastectomy</value>
        <value>partial mastectomy</value>
        <value>lymph node sampling, sentinel nodes</value>
        <value>lymph node sampling, partial axillary dissection</value>
        <value>lymph node sampling, complete axillary dissection</value>
        <value>lymph node sampling, intramammary nodes</value>
      </choice>
    </attribute>
  </define>
  <define name="p44">
    <interleave>
      <attribute>
        <name ns="">value</name>
        <choice>
          <value>upper outer quadrant</value>
          <value>lower outer quadrant</value>
          <value>upper inner quadrant</value>
          <value>lower inner quadrant</value>
          <value>entire breast</value>
          <value>central</value>
          <value>nipple</value>
          <value>12:00</value>
          <value>1:00</value>
          <value>2:00</value>
          <value>3:00</value>
          <value>4:00</value>
          <value>5:00</value>
          <value>6:00</value>
          <value>7:00</value>
          <value>8:00</value>
          <value>9:00</value>
          <value>10:00</value>
          <value>11:00</value>
        </choice>
      </attribute>
      <attribute>
        <name ns="">laterality</name>
        <choice>
          <value>right</value>
          <value>left</value>
        </choice>
      </attribute>
    </interleave>
  </define>
  <define name="p45">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>upper outer quadrant</value>
        <value>lower outer quadrant</value>
        <value>upper inner quadrant</value>
        <value>lower inner quadrant</value>
        <value>entire breast</value>
        <value>central</value>
        <value>nipple</value>
        <value>12:00</value>
        <value>1:00</value>
        <value>2:00</value>
        <value>3:00</value>
        <value>4:00</value>
        <value>5:00</value>
        <value>6:00</value>
        <value>7:00</value>
        <value>8:00</value>
        <value>9:00</value>
        <value>10:00</value>
        <value>11:00</value>
      </choice>
    </attribute>
  </define>
  <define name="p46">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>ductal carcinoma-in-situ with microinvasion</value>
        <value>lobular carcinoma-in-situ with microinvasion</value>
        <value>Paget disease with microinvasion</value>
        <value>ductal carcinoma</value>
        <value>lobular carcinoma</value>
        <value>mixed type carcinoma</value>
        <value>mucinous carcinoma</value>
        <value>medullary carcinoma</value>
        <value>papillary carcinoma</value>
        <value>micropapillary carcinoma</value>
        <value>tubular carcinoma</value>
        <value>cribriform carcinoma</value>
        <value>indeterminate type carcinoma</value>
        <value>other</value>
      </choice>
    </attribute>
    <choice>
      <attribute>
        <name ns="">other-value</name>
        <text/>
      </attribute>
      <empty/>
    </choice>
  </define>
  <define name="p47">
    <attribute>
      <name ns="">score</name>
      <choice>
        <value>1</value>
        <value>2</value>
        <value>3</value>
        <value>microinvasion only</value>
        <value>indeterminate</value>
      </choice>
    </attribute>
  </define>
  <define name="p48">
    <attribute>
      <name ns="">location</name>
      <choice>
        <value>extension to pectoralis muscle</value>
        <value>extension to chest wall</value>
        <value>skin edema</value>
        <value>skin ulceration</value>
        <value>skin satellite nodules</value>
        <value>inflammatory carcinoma (clinical finding)</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>positive</value>
        <value>negative</value>
        <value>inconclusive</value>
        <value>indeterminate</value>
        <value>inapplicable</value>
      </choice>
    </attribute>
  </define>
  <define name="p49">
    <attribute>
      <name ns="">unit</name>
      <choice>
        <value>mm</value>
        <value>cm</value>
        <value>in</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">value</name>
      <text/>
    </attribute>
  </define>
  <define name="p50">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>total</value>
        <value>regressed</value>
        <value>isolated tumor cells</value>
        <value>micrometastasis</value>
        <value>macrometastasis</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">count</name>
      <text/>
    </attribute>
    <interleave>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">extracapsular</name>
          <ref name="p27"/>
        </element>
        <empty/>
      </choice>
      <choice>
        <element>
          <name ns="http://www.cap.org/pert/2009/01/">largestMet</name>
          <ref name="p52"/>
        </element>
        <empty/>
      </choice>
    </interleave>
  </define>
  <define name="p51">
    <attribute>
      <name ns="">value</name>
      <choice>
        <value>fibrocystic changes</value>
        <value>ordinary hyperplasia</value>
        <value>atypical hyperplasia</value>
      </choice>
    </attribute>
  </define>
  <define name="p52">
    <attribute>
      <name ns="">value</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">unit</name>
      <choice>
        <value>mm</value>
        <value>cm</value>
        <value>in</value>
      </choice>
    </attribute>
  </define>
</grammar>