xsd_schemas/colon/colon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<xs:schema elementFormDefault="qualified" targetNamespace="http://purl.org/pathology/ecc/"
    xmlns:data-view="http://www.w3.org/2003/g/data-view#" xmlns:ecc="http://purl.org/pathology/ecc/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:include schemaLocation="../framework/types.xsd"/>
    <xs:include schemaLocation="values.xsd"/>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:redefine schemaLocation="../framework/common.xsd">
        <xs:attributeGroup name="generic.attrib">
            <xs:attributeGroup ref="ecc:generic.attrib"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!-- add any site-specific "universal" attributes here (optional) -->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        </xs:attributeGroup>
    </xs:redefine>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <xs:redefine schemaLocation="../framework/items.xsd">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:attributeGroup name="nodes.nodeGroup.result.sitespecific.attrib">
            <xs:attributeGroup ref="ecc:nodes.nodeGroup.result.sitespecific.attrib"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!-- add any site-specific nodeGroup result attributes here (optional) -->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        </xs:attributeGroup>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:attributeGroup name="tumor.focus.sitespecific.attrib">
            <xs:attributeGroup ref="ecc:tumor.focus.sitespecific.attrib"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!-- add any site-specific nodeGroup result attributes here (optional) -->
            <xs:attribute name="focality" type="ecc:focality.values"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        </xs:attributeGroup>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </xs:redefine>
    <xs:redefine schemaLocation="../framework/sections.xsd">
        <xs:attributeGroup name="resection.attrib">
            <xs:attributeGroup ref="ecc:resection.attrib"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!-- fill in the url of the official schemaLocation -->
            <xs:attribute fixed="http://purl.org/pathology/ecc/colon/schema.xsd"
                name="schemaLocation"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!-- fill in the version -->
            <xs:attribute fixed="0.9" name="version"/>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!-- fill in the url of the official transformation -->
            <xs:attribute fixed="http://purl.org/pathology/ecc/colon/ecc.xsl" name="transformation"
            />
        </xs:attributeGroup>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--
            Here is an example of an added section:
            
            <xs:element name="addedSection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:group ref="ecc:containedAddedELement-1"/>
                        <xs:group ref="ecc:containedAddedELement-2"/>
                        
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            
            
            
            Here is an example of an added element
            
        <xs:element name="addedElementName">
            <xs:complexType>
                <xs:sequence>
                    <xs:group ref="ecc:generic.content"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="response">
                        <xs:complexType>
                            <xs:group ref="ecc:generic.response.content"/>
                            <xs:attribute name="value" type="ecc:addedElement.values"
                                use="required"/>
                            <xs:attributeGroup ref="ecc:generic.attrib"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ecc:generic.attrib"/>
            </xs:complexType>
        </xs:element>
        
        Here is an example of an added qualitative element:
        
        <xs:element name="addedQualitativeELement">
            <xs:complexType>
                <xs:group ref="ecc:qualitative.response"/>
                <xs:attributeGroup ref="generic.attrib"/>"
            </xs:complexType>
        </xs:element>
        
        -->
        <!--  -->
        <xs:group name="history.content">
            <xs:sequence>
                <xs:group ref="ecc:history.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- no site specific history items here -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="specimen.content">
            <xs:sequence>
                <xs:group ref="ecc:specimen.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific specimen items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <xs:element name="mesorectumIntact">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value" type="ecc:specimen.mesorectum.values"
                                        use="required"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="tumor.content">
            <xs:sequence>
                <xs:group ref="ecc:tumor.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific tumor items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <xs:element name="precursorPolyp">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:tumor.precursorPolyp.content"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="extent.content">
            <xs:sequence>
                <xs:group ref="ecc:extent.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific extent items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <xs:element name="deepestInvasion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value"
                                        type="ecc:extent.deepestInvasion.values" use="required"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tumorPerforation">
                    <xs:complexType>
                        <xs:group ref="ecc:qualitative.response"/>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="accessory.content">
            <xs:sequence>
                <xs:group ref="ecc:accessory.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific accessory items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <xs:element minOccurs="0" name="peritumoralDeposits">
                    <xs:complexType>
                        <xs:group ref="ecc:qualitative.response"/>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="mucinousComponent">
                    <xs:complexType>
                        <xs:group ref="ecc:percent.response"/>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="medullaryComponent">
                    <xs:complexType>
                        <xs:group ref="ecc:percent.response"/>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="intratumoralImmuneResponse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value"
                                        type="ecc:accessory.immuneResponse.values" use="required"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="peritumoralImmuneResponse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="response">
                                <xs:complexType>
                                    <xs:group ref="ecc:generic.response.content"/>
                                    <xs:attribute name="value"
                                        type="ecc:accessory.immuneResponse.values" use="required"/>
                                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="margins.content">
            <xs:sequence>
                <xs:group ref="ecc:margins.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="nodes.content">
            <xs:sequence>
                <xs:group ref="ecc:nodes.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific margins items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="distant.content">
            <xs:sequence>
                <xs:group ref="ecc:distant.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific distant items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="studies.content">
            <xs:sequence>
                <xs:group ref="ecc:studies.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific studies items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <xs:element minOccurs="0" name="microsatelliteInstability">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.microsatelliteInstability.result"/>
                            <xs:group ref="ecc:studies.microsatelliteInstability.method"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MLH1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.mismatchRepair.content"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MSH">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.mismatchRepair.content"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="MSH6">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.mismatchRepair.content"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="PMS2">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.mismatchRepair.content"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="BRAF">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.mutationalAnalysis.result"/>
                            <xs:group ref="ecc:studies.BRAF.mutation"/>
                            <xs:group ref="ecc:studies.mutationalAnalysis.method"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="KRAS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="ecc:generic.content"/>
                            <xs:group ref="ecc:studies.mutationalAnalysis.result"/>
                            <xs:group ref="ecc:studies.KRAS.mutation"/>
                            <xs:group ref="ecc:studies.mutationalAnalysis.method"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ecc:generic.attrib"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="stage.content">
            <xs:sequence>
                <xs:group ref="ecc:stage.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific stage items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <xs:group name="additional.content">
            <xs:sequence>
                <xs:group ref="ecc:additional.content"/>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!-- add site specific additional items here (optional) -->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </xs:sequence>
        </xs:group>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </xs:redefine>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!-- Here are the "core elements" of a resection report: -->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!-- HERE ARE NEW ELEMENTS -->
    <xs:group name="tumor.precursorPolyp.content">
        <xs:sequence>
            <xs:element name="type">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:tumor.precursorPolyp.type.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="configuration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:tumor.precursorPolyp.configuration.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="stalkLength">
                <xs:complexType>
                    <xs:group ref="ecc:length.response"/>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.microsatelliteInstability.result">
        <xs:sequence>
            <xs:element name="result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.microsatelliteInstability.result.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.microsatelliteInstability.method">
        <xs:sequence>
            <xs:element name="method">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.microsatelliteInstability.method.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.mismatchRepair.content">
        <xs:sequence>
            <xs:group ref="ecc:generic.content"/>
            <xs:group ref="ecc:studies.microsatelliteInstability.result"/>
            <xs:group ref="ecc:studies.microsatelliteInstability.method"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.mismatchRepair.result">
        <xs:sequence>
            <xs:element name="result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.mismatchRepair.result.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.mismatchRepair.method">
        <xs:sequence>
            <xs:element name="method">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.mismatchRepair.method.values" use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.mutationalAnalysis.result">
        <xs:sequence>
            <xs:element name="result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.mutationalAnalysis.result.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.BRAF.mutation">
        <xs:sequence>
            <xs:element name="mutation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:studies.BRAF.mutation.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.mutationalAnalysis.method">
        <xs:sequence>
            <xs:element name="method">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value"
                                    type="ecc:studies.mutationalAnalysis.method.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="studies.KRAS.mutation">
        <xs:sequence>
            <xs:element name="mutation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="ecc:generic.content"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="response">
                            <xs:complexType>
                                <xs:group ref="ecc:generic.response.content"/>
                                <xs:attribute name="value" type="ecc:studies.KRAS.mutation.values"
                                    use="required"/>
                                <xs:attributeGroup ref="ecc:generic.attrib"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="ecc:generic.attrib"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</xs:schema>
