relaxng_schemas/framework/common.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<!DOCTYPE	grammar [
<!ENTITY	ecc		"http://purl.org/pathology/ecc/">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="generic.content">
        <interleave>
            <optional>
                <element name="label" ns="&ecc;">
                    <data type="string"/>
                </element>
            </optional>
            <optional>
                <element name="comment" ns="&ecc;">
                    <data type="string"/>
                </element>
            </optional>
            <zeroOrMore>
                <ref name="user.element"/>
            </zeroOrMore>
        </interleave>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="generic.response.content">
        <interleave>
            <optional>
                <element name="specify" ns="&ecc;">
                    <data type="string"/>
                </element>
            </optional>
            <ref name="generic.content"/>
        </interleave>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="user.attrib">
        <attribute>
            <anyName>
                <except>
                    <!--<xi:include href="ecc-namespaces.rng"/>-->
                    <choice xmlns="http://relaxng.org/ns/structure/1.0">
                        <nsName ns="http://purl.org/pathology/ecc/"/>
                        <nsName ns="http://purl.org/pathology/ecc/colon/"/>
                        <nsName ns="http://purl.org/pathology/ecc/breast/"/>
                        <nsName ns="http://purl.org/pathology/ecc/endometrium/"/>
                        <nsName ns="http://purl.org/pathology/ecc/lung/"/>
                        <nsName ns="http://purl.org/pathology/ecc/prostate/"/>
                        <nsName ns="http://purl.org/pathology/ecc/bladder/"/>
                        <nsName ns="http://purl.org/pathology/ecc/kidney/"/>
                    </choice>
                </except>
            </anyName>
        </attribute>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="user.element">
        <element>
            <anyName>
                <except>
                    <!--<xi:include href="ecc-namespaces.rng"/>-->
                    <choice xmlns="http://relaxng.org/ns/structure/1.0">
                        <nsName ns="http://purl.org/pathology/ecc/"/>
                        <nsName ns="http://purl.org/pathology/ecc/colon/"/>
                        <nsName ns="http://purl.org/pathology/ecc/breast/"/>
                        <nsName ns="http://purl.org/pathology/ecc/endometrium/"/>
                        <nsName ns="http://purl.org/pathology/ecc/lung/"/>
                        <nsName ns="http://purl.org/pathology/ecc/prostate/"/>
                        <nsName ns="http://purl.org/pathology/ecc/bladder/"/>
                        <nsName ns="http://purl.org/pathology/ecc/kidney/"/>
                    </choice>
                </except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <ref name="user.attrib"/>
                    <ref name="user.element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</grammar>
