branches/valuesAsElements/report/cap-cancer/resection/xsd versions/resection@colon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
    targetNamespace="http://www.cap.org/pert/2009/01/"
    xmlns:colon="http://www.cap.org/pert/2009/01/colon/"
    xmlns:data-view="http://www.w3.org/2003/g/data-view#"
    xmlns:pert="http://www.cap.org/pert/2009/01/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.cap.org/pert/2009/01/colon/"
        schemaLocation="colon.xsd"/>
    <xs:import namespace="http://www.w3.org/2003/g/data-view#"
        schemaLocation="data-view.xsd"/>
    <xs:element name="synopsis" type="pert:p0"/>
    <xs:complexType mixed="true" name="p0">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:clinical"/>
            <xs:element ref="pert:specimen"/>
            <xs:element ref="pert:tumor"/>
            <xs:element ref="pert:extent"/>
            <xs:element ref="pert:margins"/>
            <xs:element ref="pert:accessory"/>
            <xs:element ref="pert:nodes"/>
            <xs:element ref="pert:metastases"/>
            <xs:element ref="pert:studies"/>
            <xs:element ref="pert:stage"/>
            <xs:element ref="pert:additional"/>
        </xs:choice>
        <xs:attribute form="qualified" name="schemaLocation" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration
                        value="http://purl.oclc.org/medical/reporting/report/cap-cancer/resection/resection@colon.rng"
                    />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute form="qualified" name="version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0.1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute ref="data-view:transformation" use="required"/>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="displayText" type="pert:p1"/>
    <xs:element name="comment" type="pert:p2"/>
    <xs:element name="clinical" type="pert:p4"/>
    <xs:element name="specimen" type="pert:p5"/>
    <xs:element name="tumor" type="pert:p6"/>
    <xs:element name="extent" type="pert:p7"/>
    <xs:element name="margins" type="pert:p8"/>
    <xs:element name="accessory" type="pert:p9"/>
    <xs:element name="nodes" type="pert:p10"/>
    <xs:element name="metastases" type="pert:p11"/>
    <xs:element name="studies" type="pert:p12"/>
    <xs:element name="stage" type="pert:p13"/>
    <xs:element name="additional" type="pert:p14"/>
    <xs:complexType mixed="true" name="p1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                ref="pert:displayText"/>
        </xs:sequence>
        <xs:attribute name="role">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="label"/>
                    <xs:enumeration value="value"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p2">
        <xs:sequence>
            <xs:element minOccurs="0" ref="pert:displayText"/>
        </xs:sequence>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:group name="p3">
        <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="p3">
        <xs:anyAttribute processContents="skip"/>
    </xs:attributeGroup>
    <xs:complexType mixed="true" name="p4">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:priorTherapies"/>
            <xs:element ref="pert:clinicalFindings"/>
            <xs:element ref="pert:radiologicFindings"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="priorTherapies" type="pert:p15"/>
    <xs:element name="clinicalFindings" type="pert:p16"/>
    <xs:element name="radiologicFindings" type="pert:p17"/>
    <xs:complexType mixed="true" name="p5">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:procedures"/>
            <xs:element ref="pert:sites"/>
            <xs:element ref="pert:tumorLocations"/>
            <xs:element ref="pert:integrity"/>
            <xs:element ref="pert:size"/>
            <xs:element ref="pert:weight"/>
            <xs:element ref="colon:polyp"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="procedures" type="pert:p18"/>
    <xs:element name="sites" type="pert:p19"/>
    <xs:element name="tumorLocations" type="pert:p20"/>
    <xs:element name="integrity" type="pert:p21"/>
    <xs:element name="size" type="pert:p22"/>
    <xs:element name="weight" type="pert:p23"/>
    <xs:complexType mixed="true" name="p6">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:histologicTypes"/>
            <xs:element ref="pert:grade"/>
            <xs:element ref="colon:immuneResponse"/>
            <xs:element ref="colon:suggestMicrosatelliteInstability"/>
            <xs:element ref="colon:tumorPerforation"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="histologicTypes" type="pert:p25"/>
    <xs:element name="grade" type="pert:p26"/>
    <xs:complexType mixed="true" name="p7">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:tumorSize"/>
            <xs:element ref="pert:userDefined"/>
            <xs:element ref="pert:invasion"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="tumorSize" type="pert:p30"/>
    <xs:element name="userDefined" type="pert:p12"/>
    <xs:element name="invasion" type="pert:p31"/>
    <xs:complexType mixed="true" name="p8">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:margin"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="margin" type="pert:p32"/>
    <xs:complexType mixed="true" name="p9">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:venousInvasion"/>
            <xs:element ref="pert:lymphovascularInvasion"/>
            <xs:element ref="pert:perineuralInvasion"/>
            <xs:element ref="pert:treatmentEffect"/>
            <xs:element ref="colon:discontinuousExtramuralExtension"/>
            <xs:element ref="colon:preexistingPolyp"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="venousInvasion" type="pert:p33"/>
    <xs:element name="lymphovascularInvasion" type="pert:p33"/>
    <xs:element name="perineuralInvasion" type="pert:p33"/>
    <xs:element name="treatmentEffect" type="pert:p34"/>
    <xs:complexType mixed="true" name="p10">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:nodeGroup"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="nodeGroup" type="pert:p36"/>
    <xs:complexType mixed="true" name="p11">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:metastasis"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="metastasis" type="pert:p37"/>
    <xs:complexType mixed="true" name="p12">
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p13">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:prefix"/>
            <xs:element ref="pert:classification"/>
            <xs:element ref="pert:T"/>
            <xs:element ref="pert:N"/>
            <xs:element ref="pert:M"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="prefix" type="pert:p38"/>
    <xs:element name="classification" type="pert:p39"/>
    <xs:element name="T" type="pert:p40"/>
    <xs:element name="N" type="pert:p41"/>
    <xs:element name="M" type="pert:p42"/>
    <xs:complexType mixed="true" name="p14">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:findings"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="findings" type="pert:p43"/>
    <xs:complexType mixed="true" name="p15">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:priorTherapy"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="priorTherapy" type="pert:p44"/>
    <xs:complexType mixed="true" name="p16">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                ref="pert:clinicalFinding"/>
        </xs:sequence>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="clinicalFinding" type="pert:p45"/>
    <xs:complexType mixed="true" name="p17">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                ref="pert:radiologicFinding"/>
        </xs:sequence>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="radiologicFinding" type="pert:p45"/>
    <xs:complexType mixed="true" name="p18">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:procedure"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="procedure" type="pert:p46"/>
    <xs:complexType mixed="true" name="p19">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:site"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="site" type="pert:p47"/>
    <xs:complexType mixed="true" name="p20">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:tumorLocation"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="tumorLocation" type="pert:p47"/>
    <xs:complexType mixed="true" name="p21">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="intact"/>
                    <xs:enumeration value="fragmented"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p22">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="in"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dimension-1" use="required"/>
        <xs:attribute name="dimension-2"/>
        <xs:attribute name="dimension-3"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p23">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="g"/>
                    <xs:enumeration value="kg"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value" use="required"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p24">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="colon:size"/>
            <xs:element ref="colon:configuration"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p25">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:histologicType"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="histologicType" type="pert:p50"/>
    <xs:complexType mixed="true" name="p26">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="low"/>
                    <xs:enumeration value="high"/>
                    <xs:enumeration value="indeterminate"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="gradingSystem">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="WHO"/>
                    <xs:enumeration value="not specified"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p27">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="colon:intratumoralResponse"/>
            <xs:element ref="colon:peritumoralResponse"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p28">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="colon:mucinousComponent"/>
            <xs:element ref="colon:medullaryComponent"/>
            <xs:element ref="colon:highGrade"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p29">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="positive"/>
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="inconclusive"/>
                    <xs:enumeration value="indeterminate"/>
                    <xs:enumeration value="inapplicable"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p30">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="dimension-1" use="required"/>
        <xs:attribute name="dimension-2"/>
        <xs:attribute name="dimension-3"/>
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="in"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p31">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="colon:deepestInvasion"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p32">
        <xs:sequence>
            <xs:element minOccurs="0" ref="pert:distance"/>
        </xs:sequence>
        <xs:attribute name="otherValue"/>
        <xs:attribute name="location" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="proximal"/>
                    <xs:enumeration value="distal"/>
                    <xs:enumeration value="circumferential"/>
                    <xs:enumeration value="lateral"/>
                    <xs:enumeration value="1:00"/>
                    <xs:enumeration value="2:00"/>
                    <xs:enumeration value="3:00"/>
                    <xs:enumeration value="4:00"/>
                    <xs:enumeration value="5:00"/>
                    <xs:enumeration value="6:00"/>
                    <xs:enumeration value="7:00"/>
                    <xs:enumeration value="8:00"/>
                    <xs:enumeration value="9:00"/>
                    <xs:enumeration value="10:00"/>
                    <xs:enumeration value="11:00"/>
                    <xs:enumeration value="12:00"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="status" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="indeterminate"/>
                    <xs:enumeration value="inapplicable"/>
                    <xs:enumeration value="positive for adenoma"/>
                    <xs:enumeration value="positive for carcinoma"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="closest"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="distance" type="pert:p54"/>
    <xs:complexType mixed="true" name="p33">
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="positive"/>
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="inconclusive"/>
                    <xs:enumeration value="indeterminate"/>
                    <xs:enumeration value="inapplicable"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p34">
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="inapplicable"/>
                    <xs:enumeration value="noResponse"/>
                    <xs:enumeration value="slightResponse"/>
                    <xs:enumeration value="markedResponse"/>
                    <xs:enumeration value="completeResponse"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p35">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="tubular adenoma"/>
                    <xs:enumeration value="villous adenoma"/>
                    <xs:enumeration value="tubulovillous adenoma"/>
                    <xs:enumeration value="serrated adenoma"/>
                    <xs:enumeration value="sessile serrated adenoma"/>
                    <xs:enumeration value="hamartomatous polyp"/>
                    <xs:enumeration value="indeterminate type"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p36">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:nodeStatus"/>
        </xs:choice>
        <xs:attribute name="laterality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="location" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="pericolic"/>
                    <xs:enumeration value="ileocolic"/>
                    <xs:enumeration value="anterior cecal"/>
                    <xs:enumeration value="posterior cecal"/>
                    <xs:enumeration value="right colic"/>
                    <xs:enumeration value="middle colic"/>
                    <xs:enumeration value="left colic"/>
                    <xs:enumeration value="inferior mesenteric"/>
                    <xs:enumeration value="sigmoid"/>
                    <xs:enumeration value="superior rectal"/>
                    <xs:enumeration value="superior hemorrhoidal"/>
                    <xs:enumeration value="sigmoidal"/>
                    <xs:enumeration value="sigmoid mesenteric"/>
                    <xs:enumeration value="middle hemorrhoidal"/>
                    <xs:enumeration value="lateral sacral"/>
                    <xs:enumeration value="presacral"/>
                    <xs:enumeration value="internal iliac"/>
                    <xs:enumeration value="sacral promontory (Gerota's)"/>
                    <xs:enumeration value="inferior hemorrhoidal"/>
                    <xs:enumeration value="anorectal"/>
                    <xs:enumeration value="superficial inguinal"/>
                    <xs:enumeration value="internal iliac"/>
                    <xs:enumeration value="hypogastric"/>
                    <xs:enumeration value="femoral"/>
                    <xs:enumeration value="lateral sacral"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="nodeStatus" type="pert:p55"/>
    <xs:complexType mixed="true" name="p37">
        <xs:sequence>
            <xs:element minOccurs="0" ref="pert:size"/>
        </xs:sequence>
        <xs:attribute name="otherValue"/>
        <xs:attribute name="site" use="required"/>
        <xs:attribute name="howDiagnosed" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="this accesion"/>
                    <xs:enumeration value="prior accession"/>
                    <xs:enumeration value="outside report"/>
                    <xs:enumeration value="clinical examination"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p38">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction>
                    <xs:simpleType>
                        <xs:list>
                            <xs:simpleType>
                                <xs:restriction base="xs:token">
                                    <xs:enumeration value="y"/>
                                    <xs:enumeration value="r"/>
                                    <xs:enumeration value="a"/>
                                    <xs:enumeration value="other"/>
                                    <xs:enumeration value="y"/>
                                    <xs:enumeration value="r"/>
                                    <xs:enumeration value="a"/>
                                    <xs:enumeration value="other"/>
                                    <xs:enumeration value="y"/>
                                    <xs:enumeration value="r"/>
                                    <xs:enumeration value="a"/>
                                    <xs:enumeration value="other"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:list>
                    </xs:simpleType>
                    <xs:minLength value="1"/>
                    <xs:maxLength value="3"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p39">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="p"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p40">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="suffix">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="m"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="X"/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="is"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p41">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="X"/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p42">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="X"/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p43">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="pert:finding"/>
        </xs:choice>
        <xs:attribute name="otherValue"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="finding" type="pert:p56"/>
    <xs:complexType mixed="true" name="p44">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="description" use="required"/>
        <xs:attribute name="date"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p45">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p46">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="total colectomy"/>
                    <xs:enumeration value="right hemicolectomy"/>
                    <xs:enumeration value="transverse colectomy"/>
                    <xs:enumeration value="left hemicolectomy"/>
                    <xs:enumeration value="segmental colectomy"/>
                    <xs:enumeration value="abdominoperineal resection"/>
                    <xs:enumeration value="proctocolectomy"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p47">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="cecum"/>
                    <xs:enumeration value="right colon"/>
                    <xs:enumeration value="hepatic flexure"/>
                    <xs:enumeration value="transverse colon"/>
                    <xs:enumeration value="splenic flexure"/>
                    <xs:enumeration value="left colon"/>
                    <xs:enumeration value="sigmoid colon"/>
                    <xs:enumeration value="rectum"/>
                    <xs:enumeration value="anus"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p48">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="in"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p49">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="pedunculated"/>
                    <xs:enumeration value="sessile"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p50">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="adenocarcinoma"/>
                    <xs:enumeration value="mucinous adenocarcinoma"/>
                    <xs:enumeration value="signet-ring cell carcinoma"/>
                    <xs:enumeration value="small cell carcinoma"/>
                    <xs:enumeration value="squamous cell carcinoma"/>
                    <xs:enumeration value="adenosquamous carcinoma"/>
                    <xs:enumeration value="medullary carcinoma"/>
                    <xs:enumeration value="undifferentiated carcinoma"/>
                    <xs:enumeration value="carcinoma indeterminate type"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p51">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="mild to moderate"/>
                    <xs:enumeration value="marked"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p52">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="positive"/>
                    <xs:enumeration value="negative"/>
                    <xs:enumeration value="inconclusive"/>
                    <xs:enumeration value="indeterminate"/>
                    <xs:enumeration value="inapplicable"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="percentage"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p53">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                ref="colon:adjacentStructure"/>
        </xs:sequence>
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="lamina propria"/>
                    <xs:enumeration value="submucosa"/>
                    <xs:enumeration value="muscularis propria"/>
                    <xs:enumeration value="subserosa"/>
                    <xs:enumeration value="pericolic tissue"/>
                    <xs:enumeration value="serosal surface"/>
                    <xs:enumeration value="adjacent structure"/>
                    <xs:enumeration value="no evidence of tumor"/>
                    <xs:enumeration value="inapplicable"/>
                    <xs:enumeration value="inconclusive"/>
                    <xs:enumeration value="indeterminate"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p54">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="in"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value" use="required"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p55">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="pert:extracapsular"/>
                <xs:element ref="pert:largestMet"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="total"/>
                    <xs:enumeration value="positive"/>
                    <xs:enumeration value="regressed"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="count" use="required"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:element name="extracapsular" type="pert:p29"/>
    <xs:element name="largestMet" type="pert:p58"/>
    <xs:complexType mixed="true" name="p56">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="adenoma"/>
                    <xs:enumeration value="ulcerative colitis"/>
                    <xs:enumeration value="Crohn's disease"/>
                    <xs:enumeration value="dysplasia with IBD"/>
                    <xs:enumeration value="sessile serrated adenoma"/>
                    <xs:enumeration value="other polyp"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p57">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required"/>
        <xs:attribute name="extent" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="adheres"/>
                    <xs:enumeration value="invades"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="p58">
        <xs:attribute name="otherValue"/>
        <xs:attribute name="value" use="required"/>
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="mm"/>
                    <xs:enumeration value="cm"/>
                    <xs:enumeration value="in"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
</xs:schema>
