branches/PathCentral/schemas/generic/components/items.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ===========================================================================
    Copyright 2010 Pathology Consulting Services
    
    This file is part of the "PCS Schema for Synoptic Cancer Reports".
    
    The "PCS Schema for Synoptic Cancer Reports" is licensed under the Apache 
    License, Version 2.0 (the "License"); you may not use this file except in 
    compliance with the License.
    
    You may obtain a copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    
    See the License for the specific language governing permissions and
    limitations under the License.
    ===========================================================================  
-->
<!DOCTYPE grammar [
<!ENTITY    item  	    "types/item.rng">
<!ENTITY    values	    "../values.rng">
<!ENTITY    section	    "types/section.rng">
<!ENTITY	percent  	"types/percent.rng">
<!ENTITY	quantity    "types/quantity.rng">
<!ENTITY	ratio  		"types/ratio.rng">
<!ENTITY	selectMany  "types/selectMany.rng">
<!ENTITY	selectOne  	"types/selectOne.rng">
<!ENTITY	size  		"types/size.rng">
<!ENTITY	tally  		"types/tally.rng">
<!ENTITY	weight  	"types/weight.rng">
<!ENTITY	date  	    "types/date.rng">
<!ENTITY	length      "types/length.rng">
]>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://purl.org/pathology/ecc/"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:ecc="http://purl.org/pathology/ecc/">
    <!--=============================================================-->
    <include href="&values;"/>
    <!--=============================================================-->
    <a:documentation>ACCESSORY section</a:documentation>
    <!--=============================================================-->
    <define name="accessory.content">
        <optional>
            <element name="treatmentResponse">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="accessory.treatmentResponse.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <optional>
            <element name="lymphVascularInvasion">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="accessory.lymphvascular.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <optional>
            <element name="perineuralInvasion">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="accessory.perineural.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <ref name="accessory.extension"/>
    </define>
    <!--=============================================================-->
    <define combine="interleave" name="accessory.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>ADDITIONAL section</a:documentation>
    <!--=============================================================-->
    <define name="additional.content">
        <zeroOrMore>
            <element name="finding">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="additional.finding.valueset"/>
                    </define>
                    <define name="item.extension">
                        <optional>
                            <attribute name="of">
                                <choice>
                                    <parentRef name="additional.finding.of.valueset"/>
                                    <parentRef name="base.valueset"/>
                                </choice>
                            </attribute>
                        </optional>
                    </define>
                </grammar>
            </element>
        </zeroOrMore>
        <ref name="additional.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="additional.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>HISTORY section</a:documentation>
    <!--=============================================================-->
    <define name="history.content">
        <zeroOrMore>
            <choice>
                <element name="clinicalFinding">
                    <grammar>
                        <include href="&selectOne;"/>
                        <define name="item.extension">
                            <optional>
                                <grammar>
                                    <include href="&date;"/>
                                </grammar>
                            </optional>
                        </define>
                        <define name="valueset">
                            <parentRef name="history.clinical.valueset"/>
                        </define>
                    </grammar>
                </element>
                <element name="pathologicFinding">
                    <grammar>
                        <include href="&selectOne;"/>
                        <define name="item.extension">
                            <optional>
                                <grammar>
                                    <include href="&date;"/>
                                </grammar>
                            </optional>
                        </define>
                        <define name="valueset">
                            <parentRef name="history.pathology.valueset"/>
                        </define>
                    </grammar>
                </element>
                <element name="priorTherapy">
                    <grammar>
                        <include href="&selectOne;"/>
                        <define name="item.extension">
                            <optional>
                                <grammar>
                                    <include href="&date;"/>
                                </grammar>
                            </optional>
                        </define>
                        <define name="valueset">
                            <parentRef name="history.priorTherapy.valueset"/>
                        </define>
                    </grammar>
                </element>
                <element name="radiologicFinding">
                    <grammar>
                        <include href="&selectOne;"/>
                        <define name="item.extension">
                            <optional>
                                <grammar>
                                    <include href="&date;"/>
                                </grammar>
                            </optional>
                        </define>
                        <define name="valueset">
                            <parentRef name="history.radiology.valueset"/>
                        </define>
                    </grammar>
                </element>
            </choice>
        </zeroOrMore>
        <ref name="history.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="history.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>EXTENT section</a:documentation>
    <!--=============================================================-->
    <define name="extent.content">
        <ref name="extent.extension"/>
        <optional>
            <element name="contiguousExtension">
                <zeroOrMore>
                    <ref name="extent.contiguousExtension.content"/>
                </zeroOrMore>
            </element>
        </optional>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.contiguousExtension.content">
        <element name="status">
            <optional>
                <attribute name="of">
                    <choice>
                        <ref name="extent.contiguousExtension.status.of.valueset"/>
                        <ref name="base.valueset"/>
                    </choice>
                </attribute>
            </optional>
            <oneOrMore>
                <ref name="extent.contiguousExtension.status.content"/>
            </oneOrMore>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="extent.contiguousExtension.status.content">
        <element name="result">
            <attribute name="for">
                <choice>
                    <ref name="extent.contiguousExtension.status.result.for.valueset"/>
                    <ref name="base.valueset"/>
                </choice>
            </attribute>
            <optional>
                <attribute name="on">
                    <ref name="laterality.valueset"/>
                </attribute>
            </optional>
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
                <define name="response.extension">
                    <optional>
                        <attribute name="extent">
                            <choice>
                                <parentRef name="focality.valueset"/>
                                <parentRef name="base.valueset"/>
                            </choice>
                        </attribute>
                    </optional>
                </define>
            </grammar>
        </element>
        <optional>
            <element name="distance">
                <grammar>
                    <include href="&length;"/>
                    <define name="for.valueset">
                        <parentRef name="extent.contiguousExtension.status.result.for.valueset"/>
                    </define>
                    <define name="from.valueset">
                        <choice>
                            <parentRef name="extent.contiguousExtension.status.distance.from.valueset"/>
                            <parentRef name="base.valueset"/>
                        </choice>
                    </define>
                </grammar>
            </element>
        </optional>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="extent.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>MARGIN section</a:documentation>
    <!--=============================================================-->
    <define name="margin.content">
        <zeroOrMore>
            <element name="status">
                <grammar>
                    <include href="&section;"/>
                    <define name="content">
                        <parentRef name="margin.status.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="of">
                            <choice>
                                <parentRef name="margin.status.of.valueset"/>
                                <parentRef name="base.valueset"/>
                            </choice>
                        </attribute>
                        <optional>
                            <attribute name="on">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                </grammar>
            </element>
        </zeroOrMore>
        <ref name="margin.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="margin.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="margin.status.content">
        <oneOrMore>
            <element name="result">
                <attribute name="for">
                    <choice>
                        <ref name="margin.status.result.for.valueset"/>
                        <ref name="base.valueset"/>
                    </choice>
                </attribute>
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="response.extension">
                        <optional>
                            <choice>
                                <attribute name="extent">
                                    <parentRef name="margin.status.focality.valueset"/>
                                </attribute>
                                <attribute name="closest">
                                    <parentRef name="qualitative.valueset"/>
                                </attribute>
                            </choice>
                        </optional>
                    </define>
                    <define name="valueset">
                        <parentRef name="qualitative.valueset"/>
                    </define>
                </grammar>
            </element>
            <optional>
                <element name="distance">
                    <grammar>
                        <include href="&length;">
                            <define name="for.attrib">
                                <attribute name="for">
                                    <ref name="for.valueset"/>
                                </attribute>
                            </define>
                        </include>
                        <define name="for.valueset">
                            <parentRef name="margin.status.result.for.valueset"/>
                        </define>
                        <define name="from.valueset">
                            <value>margin</value>
                        </define>
                    </grammar>
                </element>
            </optional>
        </oneOrMore>
    </define>
    <!--=============================================================-->
    <a:documentation>DISTANT section</a:documentation>
    <!--=============================================================-->
    <define name="distant.content">
        <zeroOrMore>
            <element name="status">
                <grammar>
                    <include href="&section;"/>
                    <define name="content">
                        <parentRef name="distant.site.status.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="of">
                            <choice>
                                <parentRef name="distant.status.of.valueset"/>
                                <parentRef name="base.valueset"/>
                            </choice>
                        </attribute>
                        <optional>
                            <attribute name="on">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                </grammar>
            </element>
        </zeroOrMore>
        <ref name="distant.site.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="distant.site.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="distant.site.status.content">
        <element name="result">
            <optional>
                <attribute name="for">
                    <choice>
                        <ref name="distant.status.result.for.valueset"/>
                        <ref name="base.valueset"/>
                    </choice>
                </attribute>
            </optional>
            <optional>
                <grammar>
                    <include href="&date;"/>
                </grammar>
            </optional>
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="qualitative.valueset"/>
                </define>
                <define name="item.extension">
                    <parentRef name="distant.site.status.item.extension"/>
                </define>
                <define name="response.extension">
                    <parentRef name="distant.site.status.response.extension"/>
                </define>
            </grammar>
        </element>
        <optional>
            <element name="size">
                <grammar>
                    <include href="&size;"/>
                </grammar>
            </element>
        </optional>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="distant.site.status.item.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="distant.site.status.response.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>NODES section</a:documentation>
    <!--=============================================================-->
    <define name="nodes.content">
        <oneOrMore>
            <element name="status">
                <grammar>
                    <include href="&section;"/>
                    <define name="content">
                        <parentRef name="nodes.status.content"/>
                    </define>
                    <define name="extension">
                        <attribute name="of">
                            <choice>
                                <parentRef name="nodes.status.of.valueset"/>
                                <parentRef name="base.valueset"/>
                            </choice>
                        </attribute>
                        <optional>
                            <attribute name="on">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                        <optional>
                            <attribute name="technique">
                                <choice>
                                    <parentRef name="nodes.status.technique.valueset"/>
                                    <parentRef name="base.valueset"/>
                                </choice>
                            </attribute>
                        </optional>
                    </define>
                </grammar>
            </element>
        </oneOrMore>
        <ref name="nodes.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="nodes.status.content">
        <grammar>
            <include href="&tally;"/>
            <define name="item.for.valueset">
                <parentRef name="nodes.status.result.for.valueset"/>
            </define>
            <define name="item.type.valueset">
                <parentRef name="nodes.status.result.type.valueset"/>
            </define>
            <define name="response.extension">
                <parentRef name="nodes.status.result.extension"/>
            </define>
        </grammar>
        <optional>
            <element name="largestMetastasis">
                <grammar>
                    <include href="&size;"/>
                </grammar>
            </element>
        </optional>
        <optional>
            <element name="extracapsularExtension">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="nodes.status.extracapsular.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <ref name="nodes.status.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.status.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="nodes.status.result.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>SPECIMEN section</a:documentation>
    <!--=============================================================-->
    <define name="specimen.content">
        <element name="procedure">
            <grammar>
                <include href="&selectMany;"/>
                <define name="valueset">
                    <parentRef name="specimen.procedure.valueset"/>
                </define>
                <define name="response.extension">
                    <optional>
                        <attribute name="on">
                            <parentRef name="laterality.valueset"/>
                        </attribute>
                    </optional>
                </define>
            </grammar>
        </element>
        <element name="size">
            <grammar>
                <include href="&size;"/>
            </grammar>
        </element>
        <optional>
            <element name="weight">
                <grammar>
                    <include href="&weight;"/>
                </grammar>
            </element>
        </optional>
        <element name="site">
            <grammar>
                <include href="&selectMany;"/>
                <define name="valueset">
                    <parentRef name="specimen.site.valueset"/>
                </define>
                <define name="response.extension">
                    <optional>
                        <attribute name="on">
                            <parentRef name="laterality.valueset"/>
                        </attribute>
                    </optional>
                </define>
            </grammar>
        </element>
        <optional>
            <element name="integrity">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="specimen.integrity.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <ref name="specimen.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="specimen.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>STAGE section</a:documentation>
    <!--=============================================================-->
    <define name="stage.content">
        <element name="prefix">
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="stage.prefix.valueset"/>
                </define>
            </grammar>
        </element>
        <optional>
            <element name="multiplicity">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="stage.multiplicity.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <element name="pT">
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="stage.pT.valueset"/>
                </define>
            </grammar>
        </element>
        <element name="pN">
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="stage.pN.valueset"/>
                </define>
            </grammar>
        </element>
        <element name="pM">
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="stage.pM.valueset"/>
                </define>
            </grammar>
        </element>
        <optional>
            <element name="group">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="stage.group.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <ref name="stage.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="stage.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>STUDIES section</a:documentation>
    <!--=============================================================-->
    <define name="studies.content">
        <ref name="studies.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="studies.extension">
        <empty/>
    </define>
    <!--=============================================================-->
    <a:documentation>TUMOR section</a:documentation>
    <!--=============================================================-->
    <define combine="choice" name="tumor.content">
        <ref name="tumor.principalFocus"/>
        <zeroOrMore>
            <ref name="tumor.additionalFocus"/>
        </zeroOrMore>
        <ref name="tumor.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.principalFocus">
        <element name="focus">
            <grammar>
                <include href="&section;"/>
                <define name="content">
                    <parentRef name="tumor.principalFocus.content"/>
                </define>
                <define name="extension">
                    <attribute name="type">
                        <choice>
                            <value>principal</value>
                            <value>sole</value>
                        </choice>
                    </attribute>
                </define>
            </grammar>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus">
        <element name="focus">
            <grammar>
                <include href="&section;"/>
                <define name="content">
                    <parentRef name="tumor.additionalFocus.content"/>
                </define>
                <define name="extension">
                    <attribute name="name">
                        <value>additional</value>
                    </attribute>
                </define>
            </grammar>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.principalFocus.content">
        <element name="site">
            <grammar>
                <include href="&selectMany;"/>
                <define name="valueset">
                    <parentRef name="tumor.site.valueset"/>
                </define>
                <define name="response.extension">
                    <optional>
                        <attribute name="on">
                            <parentRef name="laterality.valueset"/>
                        </attribute>
                    </optional>
                </define>
            </grammar>
        </element>
        <ref name="tumor.focus.size"/>
        <ref name="tumor.type"/>
        <ref name="tumor.grade"/>
        <ref name="tumor.principalFocus.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus.content">
        <optional>
            <element name="site">
                <grammar>
                    <include href="&selectMany;"/>
                    <define name="response.extension">
                        <parentRef name="tumor.additionalFocus.site.extension"/>
                        <optional>
                            <attribute name="on">
                                <parentRef name="laterality.valueset"/>
                            </attribute>
                        </optional>
                    </define>
                    <define name="valueset">
                        <parentRef name="tumor.site.valueset"/>
                    </define>
                </grammar>
            </element>
        </optional>
        <ref name="tumor.focus.size"/>
        <optional>
            <ref name="tumor.additionalFocus.multiplicity"/>
        </optional>
        <ref name="tumor.type"/>
        <ref name="tumor.grade"/>
        <ref name="tumor.additionalFocus.extension"/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.additionalFocus.multiplicity">
        <element name="multiplicity">
            <grammar>
                <include href="&selectOne;"/>
                <define name="valueset">
                    <parentRef name="tumor.multiplicity.valueset"/>
                </define>
            </grammar>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.additionalFocus.site.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.focus.size">
        <element name="size">
            <choice>
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="extent.size.valueset"/>
                    </define>
                </grammar>
                <grammar>
                    <include href="&size;"/>
                </grammar>
            </choice>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.principalFocus.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.additionalFocus.extension">
        <empty/>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define name="tumor.type">
        <element name="histologicType">
            <grammar>
                <include href="&selectMany;"/>
                <define name="valueset">
                    <parentRef name="tumor.type.valueset"/>
                </define>
            </grammar>
        </element>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="choice" name="tumor.grade">
        <oneOrMore>
            <element name="grade">
                <grammar>
                    <include href="&selectOne;"/>
                    <define name="valueset">
                        <parentRef name="tumor.grade.valueset"/>
                    </define>
                    <define name="item.extension">
                        <attribute name="system">
                            <parentRef name="tumor.gradeSystem.valueset"/>
                        </attribute>
                    </define>
                </grammar>
            </element>
        </oneOrMore>
    </define>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <define combine="interleave" name="tumor.extension">
        <empty/>
    </define>
    <!--=============================================================-->
</grammar>
